In [1]:
from pathlib import Path
import json
from functools import reduce
import math
import datetime as dt
import pytz 
from itertools import product
from collections import OrderedDict
import time
import sys

import requests
import numpy as np
import pandas as pd
import geopandas as gpd
import shapely.ops as so
from requests_html import HTMLSession
    
import helpers as hp

%load_ext autoreload
%autoreload 2

In [2]:
def get_rent_data_urls():
    """
    Scrape MBIE's website to get the location of three files of rental bond data.
    Return a list of three dictionaries, each with the following keys and values.
    
    - ``'kind'``: the kind of data; one of 'rent_count', 'rent_mean', 'rent_geo_mean'
    - ``'filename'``: the name of the CSV data file
    - ``'url'``: the URL of the CSV data file
    
    """
    src_url = "https://www.mbie.govt.nz/building-and-energy/tenancy-and-housing/rental-bond-data/"

    # Scrape the HTML page above to get the data urls of interest
    session = HTMLSession()
    r = session.get(src_url)
    urls = [
        link for link in r.html.absolute_links 
        if "Quarterly" in link 
        and link.split("/")[-1].startswith("detailed-")
    ]
    
    # Filter urls to finer set and include some metadata
    return [
        {
            "kind": "rent_count",
            "filename": "detailed-lodged-bonds.csv",
            "url": [u for u in urls if u.endswith("detailed-lodged-bonds.csv")][0],
            "target_path": hp.DATA_DIR/'collected'/"detailed-lodged-bonds.csv",
        },
        {
            "kind": "rent_mean",
            "filename": "detailed-mean-rents.csv",
            "url": [u for u in urls if u.endswith("detailed-mean-rents.csv")][0],
            "target_path": hp.DATA_DIR/'collected'/"detailed-mean-rents.csv",
        },
        {
            "kind": "rent_geo_mean",
            "filename": "detailed-geo-mean-rents.csv",
            "url": [u for u in urls if u.endswith("detailed-geo-mean-rents.csv")][0],
            "target_path": hp.DATA_DIR/'collected'/"detailed-geo-mean-rents.csv",
        },
    ]

# Download rent data

In [4]:
data = get_rent_data_urls()
    
for d in data:
    r = requests.get(d['url'])
    if not r.ok:
        print("Failed to get", d['filename'])
    else:
        print("Getting and saving", d['filename'])
        path = d["target_path"]
        with path.open('w') as tgt:
            tgt.write(r.text)

Getting and saving detailed-lodged-bonds.csv
Getting and saving detailed-mean-rents.csv
Getting and saving detailed-geo-mean-rents.csv

# Process rent data

In [5]:
# Reshape and merge all rent data sets

def clean(f, kind):
    f = f.copy()
    f = f.rename(columns={
        'SAU': 'au2001',
        'Property_Type': 'property_type',
        'Bedrooms': 'num_bedrooms'
    })

    # Drop subtotals
    cond = False
    for col in ['au2001', 'property_type', 'num_bedrooms']:
        cond |= f[col].str.contains('total', case=False)

    f = f[~cond].copy()
    
    # Reshape
    id_vars = ['au2001', 'property_type', 'num_bedrooms']
    value_vars = [c for c in f.columns if '-' in c]
    f = pd.melt(f, id_vars=id_vars, value_vars=value_vars,
      var_name='quarter', value_name=kind)
    
    return f

frames = []
for d in data:
    path = d["target_path"]
    print(path)
    f = pd.read_csv(path, dtype={'SAU': str})
    frames.append(clean(f, d["kind"]))
    
f = reduce(lambda x, y: pd.merge(x, y), frames)

# Merge in region data
path = hp.get_path('au2001_csv')
g = pd.read_csv(path, dtype={'au2001': str})
f = f.merge(g)

# Write to file
path = hp.get_path('rents')
f.to_csv(path, index=False)
f[f['rent_count'].notnull()].tail()

/home/araichev/mrcagney_projects/affordability_nz/data/collected/detailed-lodged-bonds.csv
/home/araichev/mrcagney_projects/affordability_nz/data/collected/detailed-mean-rents.csv
/home/araichev/mrcagney_projects/affordability_nz/data/collected/detailed-geo-mean-rents.csv

,au2001,property_type,num_bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
1059240,612802,House,3,2009-06-01,5.0,188.0,184.0,Riverton West,Southland District,Southland,Clutha/Southland
1059264,612802,House,3,2011-06-01,6.0,198.0,195.0,Riverton West,Southland District,Southland,Clutha/Southland
1059285,612802,House,3,2013-03-01,6.0,218.0,213.0,Riverton West,Southland District,Southland,Clutha/Southland
1059291,612802,House,3,2013-09-01,6.0,207.0,205.0,Riverton West,Southland District,Southland,Clutha/Southland
1059315,612802,House,3,2015-09-01,5.0,230.0,228.0,Riverton West,Southland District,Southland,Clutha/Southland

In [6]:
# Print latest 2 quarters
hp.get_latest_quarters(2)

['2019-12-01', '2020-03-01']

# Explore rents

In [7]:
rents = hp.get_data('rents')
print(rents['quarter'].unique())
rents.head()

['1993-03-01' '1993-06-01' '1993-09-01' '1993-12-01' '1994-03-01'
 '1994-06-01' '1994-09-01' '1994-12-01' '1995-03-01' '1995-06-01'
 '1995-09-01' '1995-12-01' '1996-03-01' '1996-06-01' '1996-09-01'
 '1996-12-01' '1997-03-01' '1997-06-01' '1997-09-01' '1997-12-01'
 '1998-03-01' '1998-06-01' '1998-09-01' '1998-12-01' '1999-03-01'
 '1999-06-01' '1999-09-01' '1999-12-01' '2000-03-01' '2000-06-01'
 '2000-09-01' '2000-12-01' '2001-03-01' '2001-06-01' '2001-09-01'
 '2001-12-01' '2002-03-01' '2002-06-01' '2002-09-01' '2002-12-01'
 '2003-03-01' '2003-06-01' '2003-09-01' '2003-12-01' '2004-03-01'
 '2004-06-01' '2004-09-01' '2004-12-01' '2005-03-01' '2005-06-01'
 '2005-09-01' '2005-12-01' '2006-03-01' '2006-06-01' '2006-09-01'
 '2006-12-01' '2007-03-01' '2007-06-01' '2007-09-01' '2007-12-01'
 '2008-03-01' '2008-06-01' '2008-09-01' '2008-12-01' '2009-03-01'
 '2009-06-01' '2009-09-01' '2009-12-01' '2010-03-01' '2010-06-01'
 '2010-09-01' '2010-12-01' '2011-03-01' '2011-06-01' '2011-09-01'
 '2011-12-01' '2012-03-01' '2012-06-01' '2012-09-01' '2012-12-01'
 '2013-03-01' '2013-06-01' '2013-09-01' '2013-12-01' '2014-03-01'
 '2014-06-01' '2014-09-01' '2014-12-01' '2015-03-01' '2015-06-01'
 '2015-09-01' '2015-12-01' '2016-03-01' '2016-06-01' '2016-09-01'
 '2016-12-01' '2017-03-01' '2017-06-01' '2017-09-01' '2017-12-01'
 '2018-03-01' '2018-06-01' '2018-09-01' '2018-12-01' '2019-03-01'
 '2019-06-01' '2019-09-01' '2019-12-01' '2020-03-01']

,au2001,property_type,num_bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
0,500100,House,2,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
1,500100,House,3,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
2,500100,House,2,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
3,500100,House,3,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
4,500100,House,2,1993-09-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North

In [8]:
# Slice in time and aggregate 
agg_rents = hp.aggregate_rents(rents, '2019-09-01')
agg_rents.head()

/home/araichev/mrcagney_projects/affordability_nz/py/helpers.py:188: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_mean'] = (group['rent_mean']*group['rent_count']).sum()/\

,rental_area,num_bedrooms,territory,region,rent_count,rent_mean,rent_geo_mean
0,Addington,1,Christchurch City,Canterbury,160.0,198.181250,190.191337
1,Addington,2,Christchurch City,Canterbury,57.0,339.964912,323.615908
2,Addington,3,Christchurch City,Canterbury,77.0,412.519481,396.742794
3,Addington,4,Christchurch City,Canterbury,0.0,NaN,NaN
4,Addington,5+,Christchurch City,Canterbury,0.0,NaN,NaN

In [9]:
(
    hp.aggregate_rents(rents, '2018-06-01', groupby_cols=('au2001', 'num_bedrooms'))
    .loc[lambda x: x.region == 'Auckland']
)

/home/araichev/mrcagney_projects/affordability_nz/py/helpers.py:188: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_mean'] = (group['rent_mean']*group['rent_count']).sum()/\

,au2001,num_bedrooms,territory,region,rent_count,rent_mean,rent_geo_mean
289,505300,1,Rodney District,Auckland,0.0,NaN,NaN
290,505300,2,Rodney District,Auckland,15.0,398.000000,395.193857
291,505300,3,Rodney District,Auckland,66.0,446.378788,442.124353
292,505300,4,Rodney District,Auckland,17.0,481.764706,479.135350
293,505300,5+,Rodney District,Auckland,0.0,NaN,NaN
...,...,...,...,...,...,...,...
1983,526701,1,Franklin District,Auckland,0.0,NaN,NaN
1984,526701,2,Franklin District,Auckland,0.0,NaN,NaN
1985,526701,3,Franklin District,Auckland,15.0,499.000000,491.849942
1986,526701,4,Franklin District,Auckland,0.0,NaN,NaN
1987,526701,5+,Franklin District,Auckland,0.0,NaN,NaN

In [10]:
# What fraction of rental data do we have by num_bedrooms?

def hits(group):
    d = {}
    d['hit_frac'] = group['rent_mean'].count()/group['rent_mean'].shape[0]
    return pd.Series(d)

date = '2018-06-01'
f = hp.aggregate_rents(rents, date, groupby_cols=('au2001', 'num_bedrooms'))
cond = f['region'] == 'Auckland'
print('census area units')
print(f[cond].copy().groupby('num_bedrooms').apply(hits).reset_index())

f = hp.aggregate_rents(rents, date, groupby_cols=('rental_area', 'num_bedrooms'))
cond = f['region'] == 'Auckland'
print('rental area units')
print(f[cond].copy().groupby('num_bedrooms').apply(hits).reset_index())

/home/araichev/mrcagney_projects/affordability_nz/py/helpers.py:188: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_mean'] = (group['rent_mean']*group['rent_count']).sum()/\

census area units
  num_bedrooms  hit_frac
0            1  0.461300
1            2  0.744928
2            3  0.894587
3            4  0.671470
4           5+  0.191824

/home/araichev/mrcagney_projects/affordability_nz/py/helpers.py:188: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_mean'] = (group['rent_mean']*group['rent_count']).sum()/\

rental area units
  num_bedrooms  hit_frac
0            1  0.828283
1            2  1.000000
2            3  1.000000
3            4  0.929293
4           5+  0.393939

# Select latest two quarters and slice into regional chunks

In [11]:
# Get latest two quarters of rents
start_date = hp.get_latest_quarters(2)[0]
rents = hp.get_data('rents')
rents = rents.loc[lambda x: x.quarter >= start_date].copy()

# Create regional slices
for region in hp.REGIONS:
    # Build rents
    region_c = region.capitalize()
    region_rents = rents.loc[lambda x: x.region == region_c].copy()
    print(region, region_rents['quarter'].unique(), '#rows =', region_rents.shape[0])
    path = hp.get_path('rents', region)
    print('  Saving to', path)
    
    # Create region directory if it does not exist
    if not path.parent.exists():
        path.parent.mkdir()
        
    region_rents.to_csv(path, index=False)

auckland ['2019-12-01' '2020-03-01'] #rows = 5640
  Saving to /home/araichev/mrcagney_projects/affordability_nz/data/processed/auckland/rents.csv
canterbury ['2019-12-01' '2020-03-01'] #rows = 2574
  Saving to /home/araichev/mrcagney_projects/affordability_nz/data/processed/canterbury/rents.csv
wellington ['2019-12-01' '2020-03-01'] #rows = 2444
  Saving to /home/araichev/mrcagney_projects/affordability_nz/data/processed/wellington/rents.csv

# JSONize regional rents for the web, grouping by rental area and number of bedrooms

In [12]:
for region in hp.REGIONS:
    region_rents = hp.get_data('rents', region)
    d = hp.build_json_rents(region_rents)
    path = hp.get_path('rents_json', region)
    print('**', region, '\n', d)
    with path.open('w') as tgt:
        json.dump(d, tgt)

/home/araichev/mrcagney_projects/affordability_nz/py/helpers.py:188: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_mean'] = (group['rent_mean']*group['rent_count']).sum()/\

** auckland
 {'Albany': {'1': 267.0, '2': 523.0, '3': 633.0, '4': 750.0}, 'Avondale': {'1': 218.0, '2': 459.0, '3': 549.0, '4': 650.0}, 'Balmoral': {'1': 437.0, '2': 503.0, '3': 666.0, '4': 827.0}, 'Beachhaven/Birkdale': {'1': None, '2': 534.0, '3': 564.0, '4': 677.0}, 'Blockhouse Bay/New Windsor': {'1': None, '2': 360.0, '3': 583.0, '4': 668.0}, 'Botony Downs': {'1': None, '2': None, '3': 623.0, '4': 721.0}, 'Browns Bay': {'1': 398.0, '2': 502.0, '3': 612.0, '4': 640.0}, 'Bucklands Beach': {'1': None, '2': None, '3': 668.0, '4': 799.0}, 'Central East': {'1': 356.0, '2': 513.0, '3': 832.0, '4': None}, 'Central West': {'1': 401.0, '2': 522.0, '3': 722.0, '4': None}, 'Chatswood/Birkenhead/Northcote Point': {'1': 429.0, '2': 528.0, '3': 689.0, '4': 808.0}, 'Dannemora': {'1': 451.0, '2': 514.0, '3': 653.0, '4': 731.0}, 'Devonport': {'1': 433.0, '2': 598.0, '3': 735.0, '4': 985.0}, 'East Coast Bays': {'1': None, '2': 592.0, '3': 675.0, '4': 937.0}, 'Eden Terrace': {'1': 385.0, '2': 587.0, '3': 770.0, '4': None}, 'Ellerslie': {'1': 359.0, '2': 501.0, '3': 630.0, '4': 647.0}, 'Epsom': {'1': 293.0, '2': 566.0, '3': 773.0, '4': 985.0}, 'Glen Eden': {'1': None, '2': 325.0, '3': 533.0, '4': 608.0}, 'Glen Innes/Pt England/Wai O Taiki': {'1': None, '2': 596.0, '3': 553.0, '4': None}, 'Glendene': {'1': None, '2': 329.0, '3': 533.0, '4': 616.0}, 'Glendhu/Glenfield': {'1': None, '2': 508.0, '3': 579.0, '4': 663.0}, 'Greenhithe/Unsworth Heights': {'1': 375.0, '2': 504.0, '3': 644.0, '4': 704.0}, 'Grey Lynn/Arch Hill': {'1': 453.0, '2': 702.0, '3': 828.0, '4': 965.0}, 'Gulf Harbour': {'1': 330.0, '2': None, '3': 553.0, '4': 658.0}, 'Half Moon Bay/Farm Cove': {'1': None, '2': 476.0, '3': 599.0, '4': 714.0}, 'Harbourside': {'1': 451.0, '2': 697.0, '3': 937.0, '4': None}, 'Henderson': {'1': 360.0, '2': 391.0, '3': 525.0, '4': 627.0}, 'Herne Bay/St Marys': {'1': 516.0, '2': 644.0, '3': 1033.0, '4': 1345.0}, 'Highland Park': {'1': None, '2': 499.0, '3': 591.0, '4': 675.0}, 'Hillcrest/Northcote': {'1': None, '2': 490.0, '3': 621.0, '4': 734.0}, 'Hillsborough': {'1': 97.0, '2': 494.0, '3': 606.0, '4': 698.0}, 'Howick': {'1': None, '2': 482.0, '3': 603.0, '4': 744.0}, 'Kelston': {'1': 324.0, '2': 371.0, '3': 496.0, '4': None}, 'Kingsland': {'1': 449.0, '2': 589.0, '3': 671.0, '4': 968.0}, 'Kohimarama': {'1': None, '2': 596.0, '3': 819.0, '4': 1198.0}, 'Lynfield': {'1': None, '2': 478.0, '3': 576.0, '4': 689.0}, 'Mangere': {'1': 480.0, '2': 507.0, '3': 549.0, '4': 595.0}, 'Mangere Bridge/Airport': {'1': 359.0, '2': 525.0, '3': 581.0, '4': 662.0}, 'Mangere East': {'1': 346.0, '2': 433.0, '3': 546.0, '4': None}, 'Manukau Central': {'1': 372.0, '2': 480.0, '3': 548.0, '4': 649.0}, 'Manukau Heights and Manurewa Heights': {'1': None, '2': 465.0, '3': 598.0, '4': 676.0}, 'Manurewa North': {'1': 321.0, '2': 418.0, '3': 531.0, '4': 577.0}, 'Maraetai/Clevedon': {'1': 416.0, '2': 449.0, '3': 605.0, '4': 721.0}, 'Massey/Royal Heights': {'1': None, '2': 485.0, '3': 527.0, '4': 624.0}, 'Meadowbank': {'1': 413.0, '2': 510.0, '3': 726.0, '4': 838.0}, 'Mission Bay/Orakei': {'1': 412.0, '2': 601.0, '3': 794.0, '4': 1108.0}, 'Mt Albert/Owairaka': {'1': 293.0, '2': 498.0, '3': 650.0, '4': 694.0}, 'Mt Eden': {'1': 399.0, '2': 548.0, '3': 744.0, '4': 985.0}, 'Mt Roskill/Wesley': {'1': None, '2': 502.0, '3': 560.0, '4': 617.0}, 'Mt Wellington': {'1': 376.0, '2': 494.0, '3': 577.0, '4': None}, 'Mt Wellington North': {'1': 377.0, '2': 470.0, '3': 602.0, '4': None}, 'New Lynn': {'1': 372.0, '2': 445.0, '3': 510.0, '4': 593.0}, 'Newmarket': {'1': 440.0, '2': 604.0, '3': 725.0, '4': None}, 'Newton/Grafton': {'1': 360.0, '2': 554.0, '3': 607.0, '4': None}, 'North Harbour/Pine Hill': {'1': 277.0, '2': 496.0, '3': 676.0, '4': 772.0}, 'Onehunga/Oranga/Te Papapa': {'1': 346.0, '2': 477.0, '3': 634.0, '4': 753.0}, 'Orewa/Whangaparaoa': {'1': 377.0, '2': 482.0, '3': 576.0, '4': 740.0}, 'Otahuhu': {'1': 286.0, '2': 407.0, '3': 556.0, '4': 616.0}, 'Otara': {'1': 250.0, '2': None, '3': 529.0, '4': 595.0}, 'Pakuranga': {'1': None, '2': 458.0, '3': 556.0, '4': 547.0}, 'Panmure': {'1': None, '2': 406.0, '3': 611.0, '4': 725.0}, 'Papakura/Drury/Karaka': {'1': 238.0, '2': 426.0, '3': 513.0, '4': 631.0}, 'Papatoetoe North': {'1': 356.0, '2': 469.0, '3': 579.0, '4': None}, 'Papatoetoe South': {'1': 228.0, '2': 464.0, '3': 557.0, '4': 637.0}, 'Papatoetoe West': {'1': 350.0, '2': 463.0, '3': 561.0, '4': None}, 'Parnell': {'1': 467.0, '2': 649.0, '3': 944.0, '4': 1135.0}, 'Penrose/Mt Wellington South': {'1': None, '2': 434.0, '3': 580.0, '4': 659.0}, 'Ponsonby/Freemans Bay': {'1': 499.0, '2': 731.0, '3': 937.0, '4': 1205.0}, 'Pt Chevalier': {'1': 370.0, '2': 585.0, '3': 704.0, '4': None}, 'Pukekohe/Tuakau': {'1': None, '2': 426.0, '3': 484.0, '4': 571.0}, 'Ranui': {'1': None, '2': 391.0, '3': 473.0, '4': 587.0}, 'Remuera': {'1': 386.0, '2': 628.0, '3': 806.0, '4': 1092.0}, 'Remuera South/Meadowbank South': {'1': None, '2': 527.0, '3': 750.0, '4': 862.0}, 'Rewiti/Kumeu/Riverhead': {'1': None, '2': 477.0, '3': 578.0, '4': 703.0}, 'Rothesay/Murrays/Mairangi Bays': {'1': 198.0, '2': 571.0, '3': 700.0, '4': 784.0}, 'Royal Oak/One Tree Hill': {'1': 101.0, '2': 388.0, '3': 698.0, '4': 875.0}, 'Rural Franklin': {'1': None, '2': None, '3': 512.0, '4': 638.0}, 'St Helliers/Glendowie': {'1': 422.0, '2': 546.0, '3': 773.0, '4': 1002.0}, 'St Johns': {'1': 506.0, '2': 506.0, '3': 600.0, '4': 886.0}, 'St Lukes/Sandringham': {'1': 411.0, '2': 485.0, '3': 666.0, '4': 810.0}, 'Sunnynook/Westlake': {'1': None, '2': 541.0, '3': 646.0, '4': 739.0}, 'Takanini/Ardmore': {'1': 188.0, '2': 342.0, '3': 536.0, '4': 644.0}, 'Takapuna': {'1': 528.0, '2': 635.0, '3': 758.0, '4': 871.0}, 'Te Atatu': {'1': None, '2': 419.0, '3': 542.0, '4': 662.0}, 'Te Atatu Peninsula': {'1': None, '2': 485.0, '3': 568.0, '4': 634.0}, 'Three Kings': {'1': 419.0, '2': 522.0, '3': 652.0, '4': 796.0}, 'Titirangi': {'1': 204.0, '2': 509.0, '3': 583.0, '4': None}, 'Torbay': {'1': None, '2': 474.0, '3': 624.0, '4': 747.0}, 'Waiheke Island': {'1': 368.0, '2': 443.0, '3': 680.0, '4': 825.0}, 'Wairau Park/Glenfield North': {'1': None, '2': 474.0, '3': 588.0, '4': 675.0}, 'Waiuku': {'1': None, '2': 394.0, '3': 465.0, '4': 517.0}, 'Waterview/Avondale Heights': {'1': 317.0, '2': 484.0, '3': 553.0, '4': 593.0}, 'Wattle Downs/Conifer Grove': {'1': None, '2': 400.0, '3': 554.0, '4': 705.0}, 'Wellsford/Warkworth/Helensville': {'1': None, '2': 421.0, '3': 508.0, '4': 575.0}, 'West Harbour': {'1': 397.0, '2': 581.0, '3': 604.0, '4': 726.0}, 'Western Beaches/Rural': {'1': None, '2': 387.0, '3': 563.0, '4': 342.0}, 'Western Springs/Morningside': {'1': 312.0, '2': 455.0, '3': 650.0, '4': 800.0}, 'Westmere/Surrey Crescent': {'1': 269.0, '2': 668.0, '3': 944.0, '4': 937.0}, 'Weymouth': {'1': None, '2': None, '3': 541.0, '4': 551.0}}
** canterbury
 {'Addington': {'1': 193.0, '2': 326.0, '3': 390.0, '4': None}, 'Aranui/Bromley/Bexley': {'1': None, '2': None, '3': 384.0, '4': None}, 'Ashburton': {'1': None, '2': 281.0, '3': 360.0, '4': None}, 'Avon Loop/Christchurch East': {'1': 258.0, '2': 383.0, '3': 410.0, '4': None}, 'Avonhead/Yaldhurst': {'1': 147.0, '2': None, '3': 446.0, '4': 491.0}, 'Banks Peninsula/Selwyn': {'1': 138.0, '2': 387.0, '3': 436.0, '4': 514.0}, 'Bishopdale/Papanui': {'1': 126.0, '2': 346.0, '3': 444.0, '4': None}, 'Burnside/Harewood': {'1': 150.0, '2': None, '3': 444.0, '4': 488.0}, 'Burwood/Dallington/Avondale': {'1': None, '2': None, '3': 405.0, '4': None}, 'Christchurch Central/Hagley': {'1': 400.0, '2': 411.0, '3': 516.0, '4': None}, 'Fendalton/Strowan/Bryndwr': {'1': 191.0, '2': 439.0, '3': 472.0, '4': 620.0}, 'Halswell/Wigram': {'1': 188.0, '2': 399.0, '3': 464.0, '4': 537.0}, 'Hillmorton/Hoon Hay': {'1': None, '2': None, '3': 440.0, '4': None}, 'Horby/Islington/Hei Hei': {'1': 142.0, '2': 335.0, '3': 433.0, '4': None}, 'Ilam/Westburn': {'1': 191.0, '2': 382.0, '3': 453.0, '4': 552.0}, 'Kaikoura/Hurunui': {'1': None, '2': None, '3': 367.0, '4': None}, 'Linwood/Phillipstown': {'1': 217.0, '2': 309.0, '3': 392.0, '4': None}, 'MacKenzie/Waimate': {'1': None, '2': 268.0, '3': 327.0, '4': None}, 'Marshland/Redwood': {'1': 97.0, '2': None, '3': 417.0, '4': 497.0}, 'Merivale/St Albans West': {'1': 213.0, '2': 376.0, '3': 507.0, '4': 672.0}, 'North Beach/New Brighton/Southshore': {'1': 130.0, '2': 362.0, '3': 404.0, '4': None}, 'Rangiora/Kaiapoi': {'1': None, '2': 320.0, '3': 406.0, '4': 466.0}, 'Redcliffs/Sumner': {'1': None, '2': 439.0, '3': 499.0, '4': 625.0}, 'Riccarton': {'1': 195.0, '2': 362.0, '3': 437.0, '4': 525.0}, 'Richmond/Avonside': {'1': 210.0, '2': 334.0, '3': 423.0, '4': None}, 'Richmond/Shirley': {'1': None, '2': None, '3': 410.0, '4': None}, 'Rural Timaru/Temuka/Geraldine': {'1': None, '2': 293.0, '3': 340.0, '4': None}, 'Rural Waimakariri': {'1': None, '2': None, '3': 424.0, '4': 474.0}, 'Sawyers Arms/Northcote/Belfast': {'1': None, '2': None, '3': 433.0, '4': 566.0}, 'Sockburn/Upper Riccarton': {'1': 174.0, '2': 351.0, '3': 444.0, '4': 524.0}, 'Spreydon/Somerfield': {'1': 130.0, '2': 365.0, '3': 418.0, '4': 489.0}, 'St Albans East/Edgeware': {'1': 205.0, '2': 337.0, '3': 452.0, '4': 555.0}, 'St Albans North/ Mairehau': {'1': 117.0, '2': 296.0, '3': 460.0, '4': 554.0}, 'St Martins/Beckenham/Huntsbury': {'1': None, '2': 326.0, '3': 461.0, '4': None}, 'Styx/Parklands': {'1': None, '2': 361.0, '3': 428.0, '4': 526.0}, 'Sydenham/Waltham': {'1': 198.0, '2': 327.0, '3': 413.0, '4': 429.0}, 'Timaru Township': {'1': None, '2': 299.0, '3': 348.0, '4': None}, 'Waitaki': {'1': None, '2': 293.0, '3': 338.0, '4': None}, 'Westmorland/Cashmere/Barrington': {'1': None, '2': None, '3': 490.0, '4': 567.0}, 'Woolston/Opawa': {'1': 120.0, '2': 342.0, '3': 402.0, '4': None}}

** wellington
 {'Brooklyn': {'1': 425.0, '2': 537.0, '3': 690.0, '4': 699.0}, 'Carterton/South Wairarapa': {'1': None, '2': 338.0, '3': 400.0, '4': None}, 'Eastern Bays': {'1': None, '2': 494.0, '3': 666.0, '4': 760.0}, 'Epuni/Avalon': {'1': 186.0, '2': 474.0, '3': 566.0, '4': None}, 'Hataitai': {'1': 369.0, '2': 511.0, '3': 714.0, '4': 831.0}, 'Heretaunga/Silverstream': {'1': None, '2': None, '3': 583.0, '4': 703.0}, 'Hutt Central/Waterloo': {'1': 313.0, '2': 487.0, '3': 584.0, '4': 815.0}, 'Island Bay/Melrose': {'1': 260.0, '2': 539.0, '3': 647.0, '4': 898.0}, 'Johnsonville/Newlands': {'1': 245.0, '2': 484.0, '3': 597.0, '4': 745.0}, 'Karori': {'1': None, '2': 485.0, '3': 694.0, '4': None}, 'Karori South/Makara': {'1': 236.0, '2': 451.0, '3': 654.0, '4': 736.0}, 'Kelburn/Aro Valley': {'1': 366.0, '2': 541.0, '3': 685.0, '4': 936.0}, 'Khandallah': {'1': None, '2': 566.0, '3': 688.0, '4': 879.0}, 'Kilbirnie/Lyall Bay': {'1': 396.0, '2': 500.0, '3': 702.0, '4': None}, 'Kingston/Happy Valley': {'1': 318.0, '2': 445.0, '3': 625.0, '4': None}, 'Lambton': {'1': 349.0, '2': 599.0, '3': 743.0, '4': 922.0}, 'Masterton': {'1': None, '2': 314.0, '3': 390.0, '4': None}, 'Miramar/Strathmore': {'1': None, '2': 486.0, '3': 694.0, '4': 870.0}, 'Moera/Waiwhetu': {'1': None, '2': None, '3': None, '4': None}, 'Mt Cook': {'1': 308.0, '2': 564.0, '3': 689.0, '4': 802.0}, 'Mt Victoria/Roseneath': {'1': 418.0, '2': 578.0, '3': 704.0, '4': 880.0}, 'Ngaio/Kaiwharawhara/Wilton': {'1': 376.0, '2': 496.0, '3': 647.0, '4': 833.0}, 'Northland': {'1': 377.0, '2': 543.0, '3': 654.0, '4': 865.0}, 'Oriental Bay/Seatoun': {'1': 518.0, '2': 699.0, '3': None, '4': 916.0}, 'Papakowhai/Whitby/Pauatahanui': {'1': None, '2': None, '3': 551.0, '4': 749.0}, 'Paramata/Mana/Pukerua Bay': {'1': None, '2': 477.0, '3': 585.0, '4': None}, 'Paraparaumu/Raumati': {'1': 253.0, '2': 449.0, '3': 502.0, '4': 523.0}, 'Petone West/Alicetown': {'1': None, '2': 422.0, '3': None, '4': None}, 'Petone/Esplanade': {'1': 269.0, '2': 493.0, '3': 676.0, '4': None}, 'Porirua East/Waitangirua': {'1': None, '2': None, '3': None, '4': None}, 'Stokes Valley': {'1': None, '2': None, '3': 518.0, '4': None}, 'Taita/Naenae': {'1': 251.0, '2': 335.0, '3': 481.0, '4': None}, 'Tawa/Grenada North': {'1': 428.0, '2': 479.0, '3': 523.0, '4': 651.0}, 'Te Aro': {'1': 421.0, '2': 626.0, '3': 758.0, '4': 955.0}, 'Titahi Bay/Onepoto/Elsdon': {'1': 223.0, '2': None, '3': 493.0, '4': None}, 'Totara Park/Maoribank/Te Marua': {'1': None, '2': None, '3': 515.0, '4': None}, 'Trentham North/Wallaceville': {'1': None, '2': 376.0, '3': 510.0, '4': None}, 'Trentham West/Eldersley/Clouston Park': {'1': None, '2': 378.0, '3': 528.0, '4': None}, 'Vogeltown/Berhampore/Newtown': {'1': 344.0, '2': 523.0, '3': 683.0, '4': 829.0}, 'Wadestown/Thordon': {'1': 399.0, '2': 602.0, '3': 752.0, '4': 1041.0}, 'Waikanae/Otaki': {'1': None, '2': 392.0, '3': 458.0, '4': None}, 'Wainuiomata': {'1': None, '2': 403.0, '3': 473.0, '4': None}, 'Western Hills/Haywards': {'1': None, '2': 387.0, '3': 552.0, '4': None}}