In [1]:
from pathlib import Path
import json
from functools import reduce
import math
import datetime as dt
import pytz 
from itertools import product
from collections import OrderedDict
import time
import sys

import requests
import numpy as np
import pandas as pd
import geopandas as gpd
import shapely.ops as so
from requests_html import HTMLSession
    
import helpers as hp

%load_ext autoreload
%autoreload 2

In [2]:
def get_rent_data_urls():
    """
    Scrape MBIE's website to get the location of three files of rental bond data.
    Return a list of three dictionaries, each with the following keys and values.
    
    - ``'kind'``: the kind of data; one of 'rent_count', 'rent_mean', 'rent_geo_mean'
    - ``'filename'``: the name of the CSV data file
    - ``'url'``: the URL of the CSV data file
    
    """
    src_url = "https://www.mbie.govt.nz/building-and-energy/tenancy-and-housing/rental-bond-data/"

    # Scrape the HTML page above to get the data urls of interest
    session = HTMLSession()
    r = session.get(src_url)
    urls = [
        link for link in r.html.absolute_links 
        if "Quarterly" in link 
        and link.split("/")[-1].startswith("detailed-")
    ]
    
    # Filter urls to finer set and include some metadata
    return [
        {
            "kind": "rent_count",
            "filename": "detailed-lodged-bonds.csv",
            "url": [u for u in urls if u.endswith("detailed-lodged-bonds.csv")][0],
            "target_path": hp.DATA_DIR/'collected'/"detailed-lodged-bonds.csv",
        },
        {
            "kind": "rent_mean",
            "filename": "detailed-mean-rents.csv",
            "url": [u for u in urls if u.endswith("detailed-mean-rents.csv")][0],
            "target_path": hp.DATA_DIR/'collected'/"detailed-mean-rents.csv",
        },
        {
            "kind": "rent_geo_mean",
            "filename": "detailed-geo-mean-rents.csv",
            "url": [u for u in urls if u.endswith("detailed-geo-mean-rents.csv")][0],
            "target_path": hp.DATA_DIR/'collected'/"detailed-geo-mean-rents.csv",
        },
    ]

# Download rent data

In [3]:
data = get_rent_data_urls()
    
for d in data:
    r = requests.get(d['url'])
    if not r.ok:
        print("Failed to get", d['filename'])
    else:
        print("Getting and saving", d['filename'])
        path = d["target_path"]
        with path.open('w') as tgt:
            tgt.write(r.text)

Getting and saving detailed-lodged-bonds.csv
Getting and saving detailed-mean-rents.csv
Getting and saving detailed-geo-mean-rents.csv

# Process rent data

In [4]:
# Reshape and merge all rent data sets

def clean(f, kind):
    f = f.copy()
    f = f.rename(columns={
        'SAU': 'au2001',
        'Property_Type': 'property_type',
        'Bedrooms': 'num_bedrooms'
    })

    # Drop subtotals
    cond = False
    for col in ['au2001', 'property_type', 'num_bedrooms']:
        cond |= f[col].str.contains('total', case=False)

    f = f[~cond].copy()
    
    # Reshape
    id_vars = ['au2001', 'property_type', 'num_bedrooms']
    value_vars = [c for c in f.columns if '-' in c]
    f = pd.melt(f, id_vars=id_vars, value_vars=value_vars,
      var_name='quarter', value_name=kind)
    
    return f

data = get_rent_data_urls()
frames = []
for d in data:
    path = d["target_path"]
    print(path)
    f = (
        pd.read_csv(path, dtype={'SAU': str})
        .pipe(clean, d["kind"])
    )
    frames.append(f)
    display(f.tail())
    print("latest two quarters =", f.quarter.unique()[-2:].tolist())

f = reduce(lambda x, y: pd.merge(x, y), frames)

# Merge in region data
path = hp.get_path('au2001_csv')
g = pd.read_csv(path, dtype={'au2001': str})
f = f.merge(g)

# Write to file
path = hp.get_path('rents')
f.to_csv(path, index=False)

# Display some
(
    f
    .sort_values("quarter")
    .loc[lambda x: x.rent_count.notna()]
    .tail()
)

/home/araichev/mrcagney_projects/affordability_nz/data/collected/detailed-lodged-bonds.csv

         au2001 property_type num_bedrooms     quarter  rent_count
1084354  612802         House            2  2020-09-01         NaN
1084355  612802         House            3  2020-09-01         NaN
1084356  612802         House            4  2020-09-01         NaN
1084357  613000         House            2  2020-09-01         NaN
1084358  613000         House            3  2020-09-01         NaN

latest two quarters = ['2020-06-01', '2020-09-01']
/home/araichev/mrcagney_projects/affordability_nz/data/collected/detailed-mean-rents.csv

         au2001 property_type num_bedrooms     quarter  rent_mean
1084354  612802         House            2  2020-09-01        NaN
1084355  612802         House            3  2020-09-01        NaN
1084356  612802         House            4  2020-09-01        NaN
1084357  613000         House            2  2020-09-01        NaN
1084358  613000         House            3  2020-09-01        NaN

latest two quarters = ['2020-06-01', '2020-09-01']
/home/araichev/mrcagney_projects/affordability_nz/data/collected/detailed-geo-mean-rents.csv

         au2001 property_type num_bedrooms     quarter  rent_geo_mean
1084354  612802         House            2  2020-09-01            NaN
1084355  612802         House            3  2020-09-01            NaN
1084356  612802         House            4  2020-09-01            NaN
1084357  613000         House            2  2020-09-01            NaN
1084358  613000         House            3  2020-09-01            NaN

latest two quarters = ['2020-06-01', '2020-09-01']

,au2001,property_type,num_bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
845484,584500,House,2,2020-09-01,5.0,278.0,276.0,Westport Urban,Buller District,West Coast,Buller
845481,584500,Flat or Apartment,2,2020-09-01,5.0,252.0,252.0,Westport Urban,Buller District,West Coast,Buller
131865,511902,House,3,2020-09-01,8.0,582.0,578.0,Crum Park,Waitakere City,Auckland,Titirangi
843928,584405,Flat or Apartment,1,2020-09-01,5.0,150.0,150.0,Orowaiti,Buller District,West Coast,Buller
842708,584303,House,2,2020-09-01,6.0,372.0,371.0,Motueka East,Tasman District,Tasman,Motueka/Rural Tasman

In [5]:
# Print latest 2 quarters
hp.get_latest_quarters(2)

['2020-06-01', '2020-09-01']

# Explore rents

In [6]:
rents = hp.get_data('rents')
quarters = rents['quarter'].unique()
(
    rents
    .loc[lambda x: x.quarter == quarters[-1]]
    .describe()
)

        rent_count    rent_mean  rent_geo_mean
count  1861.000000  1861.000000    1861.000000
mean     11.087587   492.234820     482.395486
std      16.565879   170.159985     164.447558
min       5.000000    84.000000      82.000000
25%       6.000000   381.000000     371.000000
50%       8.000000   472.000000     466.000000
75%      12.000000   574.000000     566.000000
max     364.000000  1750.000000    1664.000000

In [7]:
# Slice in time and aggregate 
agg_rents = hp.aggregate_rents(rents, '2020-09-01')
agg_rents.head()

/home/araichev/mrcagney_projects/affordability_nz/py/helpers.py:186: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_mean'] = (group['rent_mean']*group['rent_count']).sum()/\

,rental_area,num_bedrooms,territory,region,rent_count,rent_mean,rent_geo_mean
0,Addington,1,Christchurch City,Canterbury,260.0,196.300000,183.400478
1,Addington,2,Christchurch City,Canterbury,115.0,346.278261,333.580638
2,Addington,3,Christchurch City,Canterbury,103.0,417.912621,403.609631
3,Addington,4,Christchurch City,Canterbury,6.0,464.000000,456.000000
4,Addington,5+,Christchurch City,Canterbury,0.0,NaN,NaN

In [9]:
(
    hp.aggregate_rents(rents, '2020-09-01', groupby_cols=('au2001', 'num_bedrooms'))
    .loc[lambda x: x.region == 'Auckland']
)

/home/araichev/mrcagney_projects/affordability_nz/py/helpers.py:186: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_mean'] = (group['rent_mean']*group['rent_count']).sum()/\

,au2001,num_bedrooms,territory,region,rent_count,rent_mean,rent_geo_mean
288,505300,1,Rodney District,Auckland,0.0,NaN,NaN
289,505300,2,Rodney District,Auckland,10.0,399.500000,396.954657
290,505300,3,Rodney District,Auckland,36.0,452.083333,449.022019
291,505300,4,Rodney District,Auckland,5.0,528.000000,525.000000
292,505300,5+,Rodney District,Auckland,0.0,NaN,NaN
...,...,...,...,...,...,...,...
1985,526701,1,Franklin District,Auckland,0.0,NaN,NaN
1986,526701,2,Franklin District,Auckland,0.0,NaN,NaN
1987,526701,3,Franklin District,Auckland,0.0,NaN,NaN
1988,526701,4,Franklin District,Auckland,5.0,496.000000,490.000000
1989,526701,5+,Franklin District,Auckland,0.0,NaN,NaN

In [10]:
# What fraction of rental data do we have by num_bedrooms?

def hits(group):
    d = {}
    d['hit_frac'] = group['rent_mean'].count()/group['rent_mean'].shape[0]
    return pd.Series(d)

date = '2020-09-01'
f = hp.aggregate_rents(rents, date, groupby_cols=('au2001', 'num_bedrooms'))
cond = f['region'] == 'Auckland'
print('census area units')
print(f[cond].copy().groupby('num_bedrooms').apply(hits).reset_index())

f = hp.aggregate_rents(rents, date, groupby_cols=('rental_area', 'num_bedrooms'))
cond = f['region'] == 'Auckland'
print('rental area units')
print(f[cond].copy().groupby('num_bedrooms').apply(hits).reset_index())

/home/araichev/mrcagney_projects/affordability_nz/py/helpers.py:186: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_mean'] = (group['rent_mean']*group['rent_count']).sum()/\

census area units
  num_bedrooms  hit_frac
0            1  0.219814
1            2  0.465318
2            3  0.678063
3            4  0.302594
4           5+  0.040625

/home/araichev/mrcagney_projects/affordability_nz/py/helpers.py:186: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_mean'] = (group['rent_mean']*group['rent_count']).sum()/\

rental area units
  num_bedrooms  hit_frac
0            1  0.525253
1            2  0.838384
2            3  0.979798
3            4  0.666667
4           5+  0.121212

# Select latest two quarters and slice into regional chunks

In [11]:
# Get latest two quarters of rents
start_date = hp.get_latest_quarters(2)[0]
rents = hp.get_data('rents')
rents = rents.loc[lambda x: x.quarter >= start_date].copy()

# Create regional slices
for region in hp.REGIONS:
    # Build rents
    region_c = region.capitalize()
    region_rents = rents.loc[lambda x: x.region == region_c].copy()
    print(region, region_rents['quarter'].unique(), '#rows =', region_rents.shape[0])
    path = hp.get_path('rents', region)
    print('  Saving to', path)
    
    # Create region directory if it does not exist
    if not path.parent.exists():
        path.parent.mkdir()
        
    region_rents.to_csv(path, index=False)

auckland ['2020-06-01' '2020-09-01'] #rows = 5654
  Saving to /home/araichev/mrcagney_projects/affordability_nz/data/processed/auckland/rents.csv
canterbury ['2020-06-01' '2020-09-01'] #rows = 2578
  Saving to /home/araichev/mrcagney_projects/affordability_nz/data/processed/canterbury/rents.csv
wellington ['2020-06-01' '2020-09-01'] #rows = 2460
  Saving to /home/araichev/mrcagney_projects/affordability_nz/data/processed/wellington/rents.csv

# JSONize regional rents for the web, grouping by rental area and number of bedrooms

In [12]:
for region in hp.REGIONS:
    region_rents = hp.get_data('rents', region)
    d = hp.build_json_rents(region_rents)
    path = hp.get_path('rents_json', region)
    print('**', region, '\n', d)
    with path.open('w') as tgt:
        json.dump(d, tgt)

/home/araichev/mrcagney_projects/affordability_nz/py/helpers.py:186: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_mean'] = (group['rent_mean']*group['rent_count']).sum()/\

** auckland
 {'Albany': {'1': 285.0, '2': 510.0, '3': 635.0, '4': 705.0}, 'Avondale': {'1': 227.0, '2': 410.0, '3': 589.0, '4': 734.0}, 'Balmoral': {'1': 421.0, '2': 517.0, '3': 736.0, '4': 922.0}, 'Beachhaven/Birkdale': {'1': None, '2': 475.0, '3': 582.0, '4': 662.0}, 'Blockhouse Bay/New Windsor': {'1': None, '2': 488.0, '3': 585.0, '4': 690.0}, 'Botony Downs': {'1': None, '2': None, '3': 641.0, '4': 732.0}, 'Browns Bay': {'1': 429.0, '2': 537.0, '3': 632.0, '4': 704.0}, 'Bucklands Beach': {'1': None, '2': 528.0, '3': 661.0, '4': 856.0}, 'Central East': {'1': 367.0, '2': 527.0, '3': 749.0, '4': None}, 'Central West': {'1': 384.0, '2': 500.0, '3': 726.0, '4': None}, 'Chatswood/Birkenhead/Northcote Point': {'1': 205.0, '2': 514.0, '3': 666.0, '4': 960.0}, 'Dannemora': {'1': None, '2': 528.0, '3': 654.0, '4': 727.0}, 'Devonport': {'1': 456.0, '2': 586.0, '3': 723.0, '4': 1122.0}, 'East Coast Bays': {'1': None, '2': 567.0, '3': 685.0, '4': 933.0}, 'Eden Terrace': {'1': 402.0, '2': 550.0, '3': 707.0, '4': None}, 'Ellerslie': {'1': 460.0, '2': 523.0, '3': 672.0, '4': 803.0}, 'Epsom': {'1': 284.0, '2': 565.0, '3': 723.0, '4': 1231.0}, 'Glen Eden': {'1': None, '2': 353.0, '3': 529.0, '4': 606.0}, 'Glen Innes/Pt England/Wai O Taiki': {'1': None, '2': None, '3': 621.0, '4': 696.0}, 'Glendene': {'1': None, '2': 473.0, '3': 559.0, '4': None}, 'Glendhu/Glenfield': {'1': None, '2': 490.0, '3': 587.0, '4': 615.0}, 'Greenhithe/Unsworth Heights': {'1': None, '2': 532.0, '3': 637.0, '4': 794.0}, 'Grey Lynn/Arch Hill': {'1': 414.0, '2': 663.0, '3': 904.0, '4': 961.0}, 'Gulf Harbour': {'1': None, '2': None, '3': 570.0, '4': 673.0}, 'Half Moon Bay/Farm Cove': {'1': None, '2': 524.0, '3': 587.0, '4': 721.0}, 'Harbourside': {'1': 423.0, '2': 722.0, '3': 956.0, '4': None}, 'Henderson': {'1': 395.0, '2': 419.0, '3': 536.0, '4': 645.0}, 'Herne Bay/St Marys': {'1': 433.0, '2': 698.0, '3': 1377.0, '4': 1664.0}, 'Highland Park': {'1': None, '2': 479.0, '3': 600.0, '4': 696.0}, 'Hillcrest/Northcote': {'1': None, '2': 493.0, '3': 626.0, '4': 767.0}, 'Hillsborough': {'1': 204.0, '2': 525.0, '3': 631.0, '4': 691.0}, 'Howick': {'1': None, '2': 514.0, '3': 601.0, '4': 655.0}, 'Kelston': {'1': 353.0, '2': 445.0, '3': 536.0, '4': 603.0}, 'Kingsland': {'1': 430.0, '2': 583.0, '3': 731.0, '4': 913.0}, 'Kohimarama': {'1': 473.0, '2': 590.0, '3': 808.0, '4': 1026.0}, 'Lynfield': {'1': None, '2': 467.0, '3': 573.0, '4': 702.0}, 'Mangere': {'1': 481.0, '2': None, '3': 560.0, '4': 663.0}, 'Mangere Bridge/Airport': {'1': 354.0, '2': 456.0, '3': 596.0, '4': 709.0}, 'Mangere East': {'1': 328.0, '2': 427.0, '3': 562.0, '4': None}, 'Manukau Central': {'1': 411.0, '2': 482.0, '3': 514.0, '4': None}, 'Manukau Heights and Manurewa Heights': {'1': None, '2': 483.0, '3': 551.0, '4': 639.0}, 'Manurewa North': {'1': 337.0, '2': 473.0, '3': 516.0, '4': 651.0}, 'Maraetai/Clevedon': {'1': 341.0, '2': 493.0, '3': 566.0, '4': 756.0}, 'Massey/Royal Heights': {'1': None, '2': None, '3': 532.0, '4': 604.0}, 'Meadowbank': {'1': 376.0, '2': 513.0, '3': 750.0, '4': 930.0}, 'Mission Bay/Orakei': {'1': 452.0, '2': 623.0, '3': 794.0, '4': 1151.0}, 'Mt Albert/Owairaka': {'1': 323.0, '2': 503.0, '3': 685.0, '4': 807.0}, 'Mt Eden': {'1': 409.0, '2': 523.0, '3': 754.0, '4': 1139.0}, 'Mt Roskill/Wesley': {'1': None, '2': 553.0, '3': 583.0, '4': 664.0}, 'Mt Wellington': {'1': 384.0, '2': 507.0, '3': 538.0, '4': None}, 'Mt Wellington North': {'1': 369.0, '2': 484.0, '3': 599.0, '4': None}, 'New Lynn': {'1': 396.0, '2': 448.0, '3': 566.0, '4': 626.0}, 'Newmarket': {'1': 430.0, '2': 570.0, '3': 812.0, '4': 1120.0}, 'Newton/Grafton': {'1': 323.0, '2': 574.0, '3': 583.0, '4': None}, 'North Harbour/Pine Hill': {'1': 295.0, '2': 490.0, '3': 635.0, '4': 794.0}, 'Onehunga/Oranga/Te Papapa': {'1': 338.0, '2': 511.0, '3': 651.0, '4': 790.0}, 'Orewa/Whangaparaoa': {'1': 396.0, '2': 499.0, '3': 596.0, '4': 744.0}, 'Otahuhu': {'1': 300.0, '2': 452.0, '3': 516.0, '4': 595.0}, 'Otara': {'1': 85.0, '2': None, '3': 536.0, '4': None}, 'Pakuranga': {'1': None, '2': 463.0, '3': 573.0, '4': 687.0}, 'Panmure': {'1': None, '2': 385.0, '3': 609.0, '4': None}, 'Papakura/Drury/Karaka': {'1': 238.0, '2': 444.0, '3': 514.0, '4': 593.0}, 'Papatoetoe North': {'1': 363.0, '2': 468.0, '3': 582.0, '4': None}, 'Papatoetoe South': {'1': 318.0, '2': 466.0, '3': 575.0, '4': None}, 'Papatoetoe West': {'1': 348.0, '2': 420.0, '3': 568.0, '4': 647.0}, 'Parnell': {'1': 444.0, '2': 696.0, '3': 1001.0, '4': 1126.0}, 'Penrose/Mt Wellington South': {'1': 331.0, '2': 438.0, '3': 575.0, '4': 707.0}, 'Ponsonby/Freemans Bay': {'1': 533.0, '2': 734.0, '3': 965.0, '4': 1243.0}, 'Pt Chevalier': {'1': 231.0, '2': 591.0, '3': 695.0, '4': 1051.0}, 'Pukekohe/Tuakau': {'1': 328.0, '2': 422.0, '3': 493.0, '4': 571.0}, 'Ranui': {'1': None, '2': 433.0, '3': 505.0, '4': 652.0}, 'Remuera': {'1': 355.0, '2': 625.0, '3': 844.0, '4': 1123.0}, 'Remuera South/Meadowbank South': {'1': 407.0, '2': 518.0, '3': 733.0, '4': 863.0}, 'Rewiti/Kumeu/Riverhead': {'1': None, '2': 505.0, '3': 629.0, '4': 735.0}, 'Rothesay/Murrays/Mairangi Bays': {'1': 347.0, '2': 516.0, '3': 668.0, '4': 856.0}, 'Royal Oak/One Tree Hill': {'1': 254.0, '2': 511.0, '3': 698.0, '4': 786.0}, 'Rural Franklin': {'1': None, '2': 441.0, '3': 521.0, '4': 644.0}, 'St Helliers/Glendowie': {'1': None, '2': 612.0, '3': 785.0, '4': 1009.0}, 'St Johns': {'1': 399.0, '2': 510.0, '3': 705.0, '4': 838.0}, 'St Lukes/Sandringham': {'1': 388.0, '2': 510.0, '3': 684.0, '4': 761.0}, 'Sunnynook/Westlake': {'1': 333.0, '2': 531.0, '3': 636.0, '4': 739.0}, 'Takanini/Ardmore': {'1': None, '2': None, '3': 562.0, '4': 643.0}, 'Takapuna': {'1': 531.0, '2': 650.0, '3': 786.0, '4': 929.0}, 'Te Atatu': {'1': None, '2': 436.0, '3': 529.0, '4': 695.0}, 'Te Atatu Peninsula': {'1': None, '2': None, '3': 573.0, '4': 613.0}, 'Three Kings': {'1': 449.0, '2': 536.0, '3': 683.0, '4': 697.0}, 'Titirangi': {'1': None, '2': None, '3': 581.0, '4': None}, 'Torbay': {'1': 446.0, '2': 476.0, '3': 642.0, '4': 747.0}, 'Waiheke Island': {'1': 365.0, '2': 527.0, '3': 652.0, '4': 805.0}, 'Wairau Park/Glenfield North': {'1': None, '2': 475.0, '3': 593.0, '4': 720.0}, 'Waiuku': {'1': 324.0, '2': 391.0, '3': 483.0, '4': 571.0}, 'Waterview/Avondale Heights': {'1': 304.0, '2': 530.0, '3': 618.0, '4': 681.0}, 'Wattle Downs/Conifer Grove': {'1': None, '2': None, '3': 569.0, '4': 656.0}, 'Wellsford/Warkworth/Helensville': {'1': 251.0, '2': 461.0, '3': 494.0, '4': 590.0}, 'West Harbour': {'1': 408.0, '2': 571.0, '3': 592.0, '4': 741.0}, 'Western Beaches/Rural': {'1': None, '2': 486.0, '3': 577.0, '4': 641.0}, 'Western Springs/Morningside': {'1': 344.0, '2': 519.0, '3': 696.0, '4': 885.0}, 'Westmere/Surrey Crescent': {'1': 289.0, '2': 579.0, '3': 834.0, '4': 1048.0}, 'Weymouth': {'1': None, '2': 474.0, '3': 536.0, '4': 609.0}}
** canterbury
 {'Addington': {'1': 174.0, '2': 344.0, '3': 425.0, '4': 456.0}, 'Aranui/Bromley/Bexley': {'1': None, '2': 302.0, '3': 375.0, '4': 445.0}, 'Ashburton': {'1': None, '2': 293.0, '3': 353.0, '4': 392.0}, 'Avon Loop/Christchurch East': {'1': 249.0, '2': 389.0, '3': 450.0, '4': None}, 'Avonhead/Yaldhurst': {'1': 160.0, '2': 410.0, '3': 447.0, '4': 501.0}, 'Banks Peninsula/Selwyn': {'1': 213.0, '2': 367.0, '3': 441.0, '4': 525.0}, 'Bishopdale/Papanui': {'1': 137.0, '2': 384.0, '3': 447.0, '4': 405.0}, 'Burnside/Harewood': {'1': None, '2': None, '3': 444.0, '4': 518.0}, 'Burwood/Dallington/Avondale': {'1': None, '2': None, '3': 424.0, '4': None}, 'Christchurch Central/Hagley': {'1': 366.0, '2': 447.0, '3': 603.0, '4': None}, 'Fendalton/Strowan/Bryndwr': {'1': 193.0, '2': 410.0, '3': 503.0, '4': 681.0}, 'Halswell/Wigram': {'1': 201.0, '2': 418.0, '3': 460.0, '4': 558.0}, 'Hillmorton/Hoon Hay': {'1': None, '2': 338.0, '3': 442.0, '4': None}, 'Horby/Islington/Hei Hei': {'1': 146.0, '2': 322.0, '3': 424.0, '4': None}, 'Ilam/Westburn': {'1': 206.0, '2': 409.0, '3': 443.0, '4': 429.0}, 'Kaikoura/Hurunui': {'1': None, '2': None, '3': 331.0, '4': None}, 'Linwood/Phillipstown': {'1': 227.0, '2': 316.0, '3': 395.0, '4': 386.0}, 'MacKenzie/Waimate': {'1': 173.0, '2': None, '3': 331.0, '4': None}, 'Marshland/Redwood': {'1': None, '2': 366.0, '3': 431.0, '4': 495.0}, 'Merivale/St Albans West': {'1': 199.0, '2': 386.0, '3': 528.0, '4': None}, 'North Beach/New Brighton/Southshore': {'1': None, '2': 355.0, '3': 427.0, '4': None}, 'Rangiora/Kaiapoi': {'1': None, '2': 336.0, '3': 411.0, '4': 503.0}, 'Redcliffs/Sumner': {'1': None, '2': 431.0, '3': 515.0, '4': 623.0}, 'Riccarton': {'1': 175.0, '2': 378.0, '3': 429.0, '4': 555.0}, 'Richmond/Avonside': {'1': 158.0, '2': 324.0, '3': 452.0, '4': None}, 'Richmond/Shirley': {'1': 99.0, '2': 379.0, '3': 436.0, '4': None}, 'Rural Timaru/Temuka/Geraldine': {'1': None, '2': 270.0, '3': 359.0, '4': None}, 'Rural Waimakariri': {'1': None, '2': None, '3': 419.0, '4': 499.0}, 'Sawyers Arms/Northcote/Belfast': {'1': None, '2': 316.0, '3': 430.0, '4': 618.0}, 'Sockburn/Upper Riccarton': {'1': 174.0, '2': 363.0, '3': 421.0, '4': 465.0}, 'Spreydon/Somerfield': {'1': 188.0, '2': 371.0, '3': 449.0, '4': 429.0}, 'St Albans East/Edgeware': {'1': 215.0, '2': 353.0, '3': 458.0, '4': 541.0}, 'St Albans North/ Mairehau': {'1': 302.0, '2': 369.0, '3': 474.0, '4': None}, 'St Martins/Beckenham/Huntsbury': {'1': None, '2': 396.0, '3': 477.0, '4': 539.0}, 'Styx/Parklands': {'1': None, '2': None, '3': 438.0, '4': 531.0}, 'Sydenham/Waltham': {'1': 229.0, '2': 333.0, '3': 427.0, '4': None}, 'Timaru Township': {'1': None, '2': 288.0, '3': 358.0, '4': None}, 'Waitaki': {'1': None, '2': 301.0, '3': 348.0, '4': None}, 'Westmorland/Cashmere/Barrington': {'1': None, '2': 387.0, '3': 491.0, '4': 593.0}, 'Woolston/Opawa': {'1': 199.0, '2': 315.0, '3': 422.0, '4': None}}

** wellington
 {'Brooklyn': {'1': 444.0, '2': 557.0, '3': 718.0, '4': None}, 'Carterton/South Wairarapa': {'1': None, '2': 321.0, '3': 406.0, '4': None}, 'Eastern Bays': {'1': None, '2': 471.0, '3': 630.0, '4': None}, 'Epuni/Avalon': {'1': 204.0, '2': 454.0, '3': 588.0, '4': 674.0}, 'Hataitai': {'1': 375.0, '2': 511.0, '3': 754.0, '4': 839.0}, 'Heretaunga/Silverstream': {'1': None, '2': 365.0, '3': 585.0, '4': None}, 'Hutt Central/Waterloo': {'1': 315.0, '2': 493.0, '3': 591.0, '4': None}, 'Island Bay/Melrose': {'1': 278.0, '2': 476.0, '3': 671.0, '4': None}, 'Johnsonville/Newlands': {'1': 203.0, '2': 494.0, '3': 602.0, '4': 716.0}, 'Karori': {'1': 395.0, '2': 533.0, '3': 640.0, '4': 721.0}, 'Karori South/Makara': {'1': None, '2': 474.0, '3': 613.0, '4': None}, 'Kelburn/Aro Valley': {'1': 329.0, '2': 506.0, '3': 749.0, '4': 838.0}, 'Khandallah': {'1': None, '2': None, '3': 677.0, '4': 920.0}, 'Kilbirnie/Lyall Bay': {'1': 436.0, '2': 501.0, '3': 665.0, '4': 747.0}, 'Kingston/Happy Valley': {'1': None, '2': 449.0, '3': 621.0, '4': None}, 'Lambton': {'1': 357.0, '2': 566.0, '3': 811.0, '4': 971.0}, 'Masterton': {'1': None, '2': 261.0, '3': 311.0, '4': 480.0}, 'Miramar/Strathmore': {'1': None, '2': 577.0, '3': 669.0, '4': 709.0}, 'Moera/Waiwhetu': {'1': 306.0, '2': 427.0, '3': 578.0, '4': None}, 'Mt Cook': {'1': 307.0, '2': 573.0, '3': 708.0, '4': 890.0}, 'Mt Victoria/Roseneath': {'1': 383.0, '2': 613.0, '3': 789.0, '4': 817.0}, 'Ngaio/Kaiwharawhara/Wilton': {'1': 369.0, '2': 462.0, '3': 656.0, '4': None}, 'Northland': {'1': 330.0, '2': 511.0, '3': 813.0, '4': 703.0}, 'Oriental Bay/Seatoun': {'1': None, '2': 673.0, '3': 887.0, '4': None}, 'Papakowhai/Whitby/Pauatahanui': {'1': None, '2': None, '3': 604.0, '4': 733.0}, 'Paramata/Mana/Pukerua Bay': {'1': None, '2': 415.0, '3': None, '4': None}, 'Paraparaumu/Raumati': {'1': 273.0, '2': 435.0, '3': 511.0, '4': 537.0}, 'Petone West/Alicetown': {'1': 364.0, '2': 471.0, '3': 605.0, '4': None}, 'Petone/Esplanade': {'1': 278.0, '2': 521.0, '3': 629.0, '4': None}, 'Porirua East/Waitangirua': {'1': None, '2': None, '3': 413.0, '4': None}, 'Stokes Valley': {'1': None, '2': None, '3': 535.0, '4': None}, 'Taita/Naenae': {'1': 273.0, '2': 434.0, '3': 513.0, '4': None}, 'Tawa/Grenada North': {'1': None, '2': 415.0, '3': 559.0, '4': 656.0}, 'Te Aro': {'1': 423.0, '2': 591.0, '3': 754.0, '4': 871.0}, 'Titahi Bay/Onepoto/Elsdon': {'1': 240.0, '2': None, '3': 542.0, '4': None}, 'Totara Park/Maoribank/Te Marua': {'1': None, '2': None, '3': 518.0, '4': None}, 'Trentham North/Wallaceville': {'1': None, '2': 368.0, '3': 549.0, '4': None}, 'Trentham West/Eldersley/Clouston Park': {'1': None, '2': 395.0, '3': 556.0, '4': None}, 'Vogeltown/Berhampore/Newtown': {'1': 371.0, '2': 527.0, '3': 706.0, '4': 874.0}, 'Wadestown/Thordon': {'1': 370.0, '2': 576.0, '3': 788.0, '4': None}, 'Waikanae/Otaki': {'1': None, '2': 398.0, '3': 476.0, '4': 598.0}, 'Wainuiomata': {'1': None, '2': None, '3': 499.0, '4': None}, 'Western Hills/Haywards': {'1': None, '2': 479.0, '3': 521.0, '4': 790.0}}