In [1]:
from pathlib import Path
import json
from functools import reduce
import math
import datetime as dt
import pytz 
from itertools import product
from collections import OrderedDict
import time
import sys

import requests
import numpy as np
import pandas as pd
import geopandas as gpd
import shapely.ops as so
from requests_html import HTMLSession
    
import helpers as hp

%load_ext autoreload
%autoreload 2

In [8]:
def get_rent_data_urls():
    """
    Scrape MBIE's website to get the location of three files of rental bond data.
    Return a list of three dictionaries, each with the following keys and values.
    
    - ``'kind'``: the kind of data; one of 'rent_count', 'rent_mean', 'rent_geo_mean'
    - ``'filename'``: the name of the CSV data file
    - ``'url'``: the URL of the CSV data file
    
    """
    src_url = "https://www.mbie.govt.nz/building-and-energy/tenancy-and-housing/rental-bond-data/"

    # Scrape the HTML page above to get the data urls of interest
    session = HTMLSession()
    r = session.get(src_url)
    urls = [
        link for link in r.html.absolute_links 
        if "Quarterly" in link 
        and link.split("/")[-1].startswith("detailed-")
    ]
    
    # Filter urls to finer set and include some metadata
    return [
        {
            "kind": "rent_count",
            "filename": "detailed-lodged-bonds.csv",
            "url": [u for u in urls if u.endswith("detailed-lodged-bonds.csv")][0],
            "target_path": hp.DATA_DIR/'collected'/"detailed-lodged-bonds.csv",
        },
        {
            "kind": "rent_mean",
            "filename": "detailed-mean-rents.csv",
            "url": [u for u in urls if u.endswith("detailed-mean-rents.csv")][0],
            "target_path": hp.DATA_DIR/'collected'/"detailed-mean-rents.csv",
        },
        {
            "kind": "rent_geo_mean",
            "filename": "detailed-geo-mean-rents.csv",
            "url": [u for u in urls if u.endswith("detailed-geo-mean-rents.csv")][0],
            "target_path": hp.DATA_DIR/'collected'/"detailed-geo-mean-rents.csv",
        },
    ]

# Download rent data

In [10]:
data = get_rent_data_urls()
print(data)
    
for d in data:
    r = requests.get(d['url'])
    if not r.ok:
        print("Failed to get", d['filename'])
    else:
        print("Getting and saving", d['filename'])
        path = d["target_path"]
        with path.open('w') as tgt:
            tgt.write(r.text)

Getting and saving detailed-lodged-bonds.csv
Getting and saving detailed-mean-rents.csv
Getting and saving detailed-geo-mean-rents.csv

# Process rent data

In [12]:
# Reshape and merge all rent data sets

def clean(f, kind):
    f = f.copy()
    f = f.rename(columns={
        'SAU': 'au2001',
        'Property_Type': 'property_type',
        'Bedrooms': '#bedrooms'
    })

    # Drop subtotals
    cond = False
    for col in ['au2001', 'property_type', '#bedrooms']:
        cond |= f[col].str.contains('total', case=False)

    f = f[~cond].copy()
    
    # Reshape
    id_vars = ['au2001', 'property_type', '#bedrooms']
    value_vars = [c for c in f.columns if '-' in c]
    f = pd.melt(f, id_vars=id_vars, value_vars=value_vars,
      var_name='quarter', value_name=kind)
    
    return f

frames = []
for d in data:
    path = d["target_path"]
    print(path)
    f = pd.read_csv(path, dtype={'SAU': str})
    frames.append(clean(f, d["kind"]))
    
f = reduce(lambda x, y: pd.merge(x, y), frames)

# Merge in region data
path = hp.get_path('au2001_csv')
g = pd.read_csv(path, dtype={'au2001': str})
f = f.merge(g)

# Write to file
path = hp.get_path('rents')
f.to_csv(path, index=False)
f[f['rent_count'].notnull()].tail()

/home/araichev/affordability_nz/data/collected/detailed-lodged-bonds.csv
/home/araichev/affordability_nz/data/collected/detailed-mean-rents.csv
/home/araichev/affordability_nz/data/collected/detailed-geo-mean-rents.csv

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
1026382,612802,House,3,2009-06-01,5.0,188.0,184.0,Riverton West,Southland District,Southland,Clutha/Southland
1026406,612802,House,3,2011-06-01,6.0,198.0,195.0,Riverton West,Southland District,Southland,Clutha/Southland
1026427,612802,House,3,2013-03-01,6.0,218.0,213.0,Riverton West,Southland District,Southland,Clutha/Southland
1026433,612802,House,3,2013-09-01,6.0,207.0,205.0,Riverton West,Southland District,Southland,Clutha/Southland
1026457,612802,House,3,2015-09-01,5.0,230.0,228.0,Riverton West,Southland District,Southland,Clutha/Southland

In [13]:
# Print latest 2 quarters
hp.get_latest_quarters(2)

['2019-03-01', '2019-06-01']

# Explore rents

In [14]:
rents = hp.get_data('rents')
print(rents['quarter'].unique())
rents.head()

['1993-03-01' '1993-06-01' '1993-09-01' '1993-12-01' '1994-03-01'
 '1994-06-01' '1994-09-01' '1994-12-01' '1995-03-01' '1995-06-01'
 '1995-09-01' '1995-12-01' '1996-03-01' '1996-06-01' '1996-09-01'
 '1996-12-01' '1997-03-01' '1997-06-01' '1997-09-01' '1997-12-01'
 '1998-03-01' '1998-06-01' '1998-09-01' '1998-12-01' '1999-03-01'
 '1999-06-01' '1999-09-01' '1999-12-01' '2000-03-01' '2000-06-01'
 '2000-09-01' '2000-12-01' '2001-03-01' '2001-06-01' '2001-09-01'
 '2001-12-01' '2002-03-01' '2002-06-01' '2002-09-01' '2002-12-01'
 '2003-03-01' '2003-06-01' '2003-09-01' '2003-12-01' '2004-03-01'
 '2004-06-01' '2004-09-01' '2004-12-01' '2005-03-01' '2005-06-01'
 '2005-09-01' '2005-12-01' '2006-03-01' '2006-06-01' '2006-09-01'
 '2006-12-01' '2007-03-01' '2007-06-01' '2007-09-01' '2007-12-01'
 '2008-03-01' '2008-06-01' '2008-09-01' '2008-12-01' '2009-03-01'
 '2009-06-01' '2009-09-01' '2009-12-01' '2010-03-01' '2010-06-01'
 '2010-09-01' '2010-12-01' '2011-03-01' '2011-06-01' '2011-09-01'
 '2011-12-01' '2012-03-01' '2012-06-01' '2012-09-01' '2012-12-01'
 '2013-03-01' '2013-06-01' '2013-09-01' '2013-12-01' '2014-03-01'
 '2014-06-01' '2014-09-01' '2014-12-01' '2015-03-01' '2015-06-01'
 '2015-09-01' '2015-12-01' '2016-03-01' '2016-06-01' '2016-09-01'
 '2016-12-01' '2017-03-01' '2017-06-01' '2017-09-01' '2017-12-01'
 '2018-03-01' '2018-06-01' '2018-09-01' '2018-12-01' '2019-03-01'
 '2019-06-01']

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
0,500100,House,2,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
1,500100,House,3,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
2,500100,House,2,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
3,500100,House,3,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
4,500100,House,2,1993-09-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North

In [15]:
# Slice in time and aggregate 
agg_rents = hp.aggregate_rents(rents, '2018-06-01')
agg_rents.head()

/home/araichev/affordability_nz/py/helpers.py:200: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  g = f.groupby(groupby_cols).apply(my_agg).reset_index()
/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

,rental_area,#bedrooms,territory,region,rent_count,rent_mean,rent_geo_mean
0,Addington,1,Christchurch City,Canterbury,302.0,212.238411,206.186202
1,Addington,2,Christchurch City,Canterbury,164.0,331.664634,324.393268
2,Addington,3,Christchurch City,Canterbury,109.0,429.660550,423.572382
3,Addington,4,Christchurch City,Canterbury,11.0,441.545455,424.220800
4,Addington,5+,Christchurch City,Canterbury,0.0,NaN,NaN

In [16]:
f = hp.aggregate_rents(rents, '2018-06-01', groupby_cols=('au2001', '#bedrooms'))
cond = f['region'] == 'Auckland'
f[cond]

,au2001,#bedrooms,territory,region,rent_count,rent_mean,rent_geo_mean
289,505300,1,Rodney District,Auckland,0.0,NaN,NaN
290,505300,2,Rodney District,Auckland,10.0,395.000000,391.347672
291,505300,3,Rodney District,Auckland,42.0,446.809524,444.350686
292,505300,4,Rodney District,Auckland,12.0,462.500000,461.228455
293,505300,5+,Rodney District,Auckland,0.0,NaN,NaN
294,505400,1,Rodney District,Auckland,0.0,NaN,NaN
295,505400,2,Rodney District,Auckland,0.0,NaN,NaN
296,505400,3,Rodney District,Auckland,0.0,NaN,NaN
297,505400,4,Rodney District,Auckland,0.0,NaN,NaN
298,505500,1,Rodney District,Auckland,12.0,333.000000,321.775946
299,505500,2,Rodney District,Auckland,46.0,435.673913,431.593818
300,505500,3,Rodney District,Auckland,92.0,529.304348,526.707505
301,505500,4,Rodney District,Auckland,52.0,579.480769,575.605789
302,505500,5+,Rodney District,Auckland,0.0,NaN,NaN
303,505600,1,Rodney District,Auckland,6.0,340.000000,331.000000
304,505600,2,Rodney District,Auckland,80.0,471.937500,464.315134
305,505600,3,Rodney District,Auckland,75.0,627.866667,613.712793
306,505600,4,Rodney District,Auckland,76.0,758.131579,735.286977
307,505600,5+,Rodney District,Auckland,17.0,980.823529,932.813244
308,505802,1,Rodney District,Auckland,0.0,NaN,NaN
309,505802,2,Rodney District,Auckland,46.0,466.000000,461.723379
310,505802,3,Rodney District,Auckland,107.0,600.551402,595.613594
311,505802,4,Rodney District,Auckland,60.0,701.066667,692.133446
312,505802,5+,Rodney District,Auckland,13.0,880.461538,873.441038
313,505803,1,Rodney District,Auckland,5.0,308.000000,295.000000
314,505803,2,Rodney District,Auckland,0.0,NaN,NaN
315,505803,3,Rodney District,Auckland,0.0,NaN,NaN
316,505804,1,Rodney District,Auckland,0.0,NaN,NaN
317,505804,2,Rodney District,Auckland,0.0,NaN,NaN
318,505804,3,Rodney District,Auckland,5.0,538.000000,533.000000
...,...,...,...,...,...,...,...
1943,525910,4,Franklin District,Auckland,92.0,586.913043,564.348965
1944,525910,5+,Franklin District,Auckland,0.0,NaN,NaN
1945,525921,1,Franklin District,Auckland,0.0,NaN,NaN
1946,525921,2,Franklin District,Auckland,50.0,411.540000,409.869819
1947,525921,3,Franklin District,Auckland,155.0,490.877419,487.659973
1948,525921,4,Franklin District,Auckland,99.0,559.777778,557.958984
1949,525921,5+,Franklin District,Auckland,0.0,NaN,NaN
1950,525922,1,Franklin District,Auckland,0.0,NaN,NaN
1951,525922,2,Franklin District,Auckland,22.0,367.227273,364.761858
1952,525922,3,Franklin District,Auckland,37.0,481.756757,478.166825
1953,525922,4,Franklin District,Auckland,23.0,573.652174,571.127087
1954,525922,5+,Franklin District,Auckland,0.0,NaN,NaN
1955,526101,1,Franklin District,Auckland,0.0,NaN,NaN
1956,526101,2,Franklin District,Auckland,40.0,375.600000,373.625727
1957,526101,3,Franklin District,Auckland,106.0,469.566038,466.628277
1958,526101,4,Franklin District,Auckland,51.0,528.549020,525.549907
1959,526101,5+,Franklin District,Auckland,0.0,NaN,NaN
1960,526102,2,Franklin District,Auckland,0.0,NaN,NaN
1961,526102,3,Franklin District,Auckland,12.0,466.000000,464.206850
1962,526102,4,Franklin District,Auckland,0.0,NaN,NaN
1963,526200,1,Franklin District,Auckland,0.0,NaN,NaN
1964,526200,2,Franklin District,Auckland,10.0,382.500000,377.559267
1965,526200,3,Franklin District,Auckland,108.0,443.638889,440.874050
1966,526200,4,Franklin District,Auckland,50.0,495.560000,494.047550
1967,526200,5+,Franklin District,Auckland,0.0,NaN,NaN
1983,526701,1,Franklin District,Auckland,0.0,NaN,NaN
1984,526701,2,Franklin District,Auckland,0.0,NaN,NaN
1985,526701,3,Franklin District,Auckland,15.0,499.000000,491.849942
1986,526701,4,Franklin District,Auckland,0.0,NaN,NaN
1987,526701,5+,Franklin District,Auckland,0.0,NaN,NaN

In [17]:
# What fraction of rental data do we have by #bedrooms?

def hits(group):
    d = {}
    d['hit_frac'] = group['rent_mean'].count()/group['rent_mean'].shape[0]
    return pd.Series(d)

date = '2018-06-01'
f = hp.aggregate_rents(rents, date, groupby_cols=('au2001', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('census area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

f = hp.aggregate_rents(rents, date, groupby_cols=('rental_area', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('rental area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

census area units
  #bedrooms  hit_frac
0         1  0.408669
1         2  0.713873
2         3  0.886040
3         4  0.639769
4        5+  0.157729
rental area units
  #bedrooms  hit_frac
0         1  0.787879
1         2  0.979798
2         3  1.000000
3         4  0.909091
4        5+  0.353535

# Select latest two quarters and slice into regional chunks

In [18]:
# Get latest two quarters of rents
start_date = hp.get_latest_quarters(2)[0]
rents = hp.get_data('rents')
rents = rents[rents['quarter'] >= start_date].copy()

# Create regional slices
for region in hp.REGIONS:
    # Build rents
    region_c = region.capitalize()
    region_rents = rents[rents['region'] == region_c].copy()
    print(region, region_rents['quarter'].unique(), '#rows =', region_rents.shape[0])
    path = hp.get_path('rents', region)
    print('  Saving to', path)
    
    # Create region directory if it does not exist
    if not path.parent.exists():
        path.parent.mkdir()
        
    region_rents.to_csv(path, index=False)

auckland ['2019-03-01' '2019-06-01'] #rows = 5620
  Saving to /home/araichev/affordability_nz/data/processed/auckland/rents.csv
canterbury ['2019-03-01' '2019-06-01'] #rows = 2560
  Saving to /home/araichev/affordability_nz/data/processed/canterbury/rents.csv
wellington ['2019-03-01' '2019-06-01'] #rows = 2428
  Saving to /home/araichev/affordability_nz/data/processed/wellington/rents.csv

# JSONize regional rents for the web, grouping by rental area and number of bedrooms

In [19]:
for region in hp.REGIONS:
    region_rents = hp.get_data('rents', region)
    d = hp.build_json_rents(region_rents)
    path = hp.get_path('rents_json', region)
    print('**', region, '\n', d)
    with path.open('w') as tgt:
        json.dump(d, tgt)

** auckland
 {'Albany': {'1': 282.0, '2': 516.0, '3': 597.0, '4': 681.0}, 'Avondale': {'1': 193.0, '2': 462.0, '3': 570.0, '4': 669.0}, 'Balmoral': {'1': 358.0, '2': 511.0, '3': 711.0, '4': 901.0}, 'Beachhaven/Birkdale': {'1': 362.0, '2': 449.0, '3': 569.0, '4': 701.0}, 'Blockhouse Bay/New Windsor': {'1': None, '2': 490.0, '3': 569.0, '4': 691.0}, 'Botony Downs': {'1': None, '2': None, '3': 619.0, '4': 723.0}, 'Browns Bay': {'1': 487.0, '2': 477.0, '3': 614.0, '4': 774.0}, 'Bucklands Beach': {'1': None, '2': 458.0, '3': 617.0, '4': 727.0}, 'Central East': {'1': 392.0, '2': 549.0, '3': 686.0, '4': None}, 'Central West': {'1': 403.0, '2': 511.0, '3': 663.0, '4': None}, 'Chatswood/Birkenhead/Northcote Point': {'1': 413.0, '2': 522.0, '3': 652.0, '4': 873.0}, 'Dannemora': {'1': 419.0, '2': 513.0, '3': 634.0, '4': 702.0}, 'Devonport': {'1': 437.0, '2': 585.0, '3': 754.0, '4': None}, 'East Coast Bays': {'1': 361.0, '2': 576.0, '3': 686.0, '4': 966.0}, 'Eden Terrace': {'1': 417.0, '2': 568.0, '3': None, '4': 814.0}, 'Ellerslie': {'1': 424.0, '2': 485.0, '3': 649.0, '4': 825.0}, 'Epsom': {'1': 259.0, '2': 569.0, '3': 800.0, '4': 928.0}, 'Glen Eden': {'1': None, '2': 331.0, '3': 480.0, '4': 512.0}, 'Glen Innes/Pt England/Wai O Taiki': {'1': None, '2': None, '3': 577.0, '4': None}, 'Glendene': {'1': None, '2': 394.0, '3': 525.0, '4': 646.0}, 'Glendhu/Glenfield': {'1': 377.0, '2': 448.0, '3': 587.0, '4': 722.0}, 'Greenhithe/Unsworth Heights': {'1': None, '2': 486.0, '3': 604.0, '4': 721.0}, 'Grey Lynn/Arch Hill': {'1': 402.0, '2': 674.0, '3': 816.0, '4': 1039.0}, 'Gulf Harbour': {'1': None, '2': 432.0, '3': 538.0, '4': 646.0}, 'Half Moon Bay/Farm Cove': {'1': None, '2': 478.0, '3': 565.0, '4': 646.0}, 'Harbourside': {'1': 354.0, '2': 705.0, '3': 818.0, '4': None}, 'Henderson': {'1': None, '2': 442.0, '3': 522.0, '4': 606.0}, 'Herne Bay/St Marys': {'1': 391.0, '2': 675.0, '3': None, '4': 1481.0}, 'Highland Park': {'1': None, '2': 464.0, '3': 590.0, '4': 698.0}, 'Hillcrest/Northcote': {'1': 371.0, '2': 505.0, '3': 597.0, '4': 731.0}, 'Hillsborough': {'1': 301.0, '2': 494.0, '3': 591.0, '4': 731.0}, 'Howick': {'1': 371.0, '2': 498.0, '3': 582.0, '4': 716.0}, 'Kelston': {'1': 315.0, '2': 416.0, '3': 514.0, '4': 627.0}, 'Kingsland': {'1': 490.0, '2': 544.0, '3': 720.0, '4': 926.0}, 'Kohimarama': {'1': 465.0, '2': 657.0, '3': 753.0, '4': 1229.0}, 'Lynfield': {'1': None, '2': 448.0, '3': 590.0, '4': 710.0}, 'Mangere': {'1': 228.0, '2': None, '3': 528.0, '4': 704.0}, 'Mangere Bridge/Airport': {'1': 278.0, '2': 473.0, '3': 543.0, '4': 691.0}, 'Mangere East': {'1': 331.0, '2': 413.0, '3': 551.0, '4': None}, 'Manukau Central': {'1': 354.0, '2': 443.0, '3': 545.0, '4': None}, 'Manukau Heights and Manurewa Heights': {'1': None, '2': 484.0, '3': 591.0, '4': 661.0}, 'Manurewa North': {'1': 337.0, '2': 431.0, '3': 520.0, '4': 595.0}, 'Maraetai/Clevedon': {'1': 402.0, '2': 455.0, '3': 562.0, '4': 691.0}, 'Massey/Royal Heights': {'1': 392.0, '2': 408.0, '3': 515.0, '4': 602.0}, 'Meadowbank': {'1': 371.0, '2': 496.0, '3': 729.0, '4': 945.0}, 'Mission Bay/Orakei': {'1': 414.0, '2': 557.0, '3': 739.0, '4': 1035.0}, 'Mt Albert/Owairaka': {'1': 297.0, '2': 481.0, '3': 652.0, '4': 799.0}, 'Mt Eden': {'1': 405.0, '2': 552.0, '3': 759.0, '4': 958.0}, 'Mt Roskill/Wesley': {'1': 221.0, '2': 497.0, '3': 601.0, '4': 661.0}, 'Mt Wellington': {'1': 396.0, '2': 467.0, '3': 576.0, '4': 661.0}, 'Mt Wellington North': {'1': 359.0, '2': 461.0, '3': 567.0, '4': 730.0}, 'New Lynn': {'1': 319.0, '2': 425.0, '3': 545.0, '4': 613.0}, 'Newmarket': {'1': 405.0, '2': 591.0, '3': 796.0, '4': None}, 'Newton/Grafton': {'1': 334.0, '2': 583.0, '3': 639.0, '4': None}, 'North Harbour/Pine Hill': {'1': 281.0, '2': 496.0, '3': 658.0, '4': 779.0}, 'Onehunga/Oranga/Te Papapa': {'1': 307.0, '2': 482.0, '3': 633.0, '4': 768.0}, 'Orewa/Whangaparaoa': {'1': 359.0, '2': 480.0, '3': 573.0, '4': 726.0}, 'Otahuhu': {'1': 286.0, '2': 409.0, '3': 549.0, '4': 637.0}, 'Otara': {'1': 260.0, '2': 484.0, '3': 513.0, '4': None}, 'Pakuranga': {'1': None, '2': 451.0, '3': 541.0, '4': 644.0}, 'Panmure': {'1': None, '2': 486.0, '3': 567.0, '4': None}, 'Papakura/Drury/Karaka': {'1': 246.0, '2': 418.0, '3': 507.0, '4': 659.0}, 'Papatoetoe North': {'1': 334.0, '2': 447.0, '3': 565.0, '4': 609.0}, 'Papatoetoe South': {'1': 294.0, '2': 438.0, '3': 545.0, '4': 634.0}, 'Papatoetoe West': {'1': 335.0, '2': 429.0, '3': 561.0, '4': 648.0}, 'Parnell': {'1': 485.0, '2': 653.0, '3': 917.0, '4': 1138.0}, 'Penrose/Mt Wellington South': {'1': 192.0, '2': 422.0, '3': 584.0, '4': 682.0}, 'Ponsonby/Freemans Bay': {'1': 514.0, '2': 690.0, '3': 943.0, '4': 1191.0}, 'Pt Chevalier': {'1': 237.0, '2': 619.0, '3': 729.0, '4': 925.0}, 'Pukekohe/Tuakau': {'1': 313.0, '2': 423.0, '3': 481.0, '4': 569.0}, 'Ranui': {'1': None, '2': 331.0, '3': 483.0, '4': 652.0}, 'Remuera': {'1': None, '2': 593.0, '3': 789.0, '4': 1013.0}, 'Remuera South/Meadowbank South': {'1': None, '2': 513.0, '3': 686.0, '4': 867.0}, 'Rewiti/Kumeu/Riverhead': {'1': None, '2': 455.0, '3': 593.0, '4': 760.0}, 'Rothesay/Murrays/Mairangi Bays': {'1': 409.0, '2': 508.0, '3': 659.0, '4': 798.0}, 'Royal Oak/One Tree Hill': {'1': 307.0, '2': 541.0, '3': 656.0, '4': 808.0}, 'Rural Franklin': {'1': None, '2': None, '3': 479.0, '4': 611.0}, 'St Helliers/Glendowie': {'1': 383.0, '2': 583.0, '3': 763.0, '4': 1062.0}, 'St Johns': {'1': 400.0, '2': 472.0, '3': 679.0, '4': 860.0}, 'St Lukes/Sandringham': {'1': 356.0, '2': 490.0, '3': 668.0, '4': 757.0}, 'Sunnynook/Westlake': {'1': None, '2': 518.0, '3': 624.0, '4': 720.0}, 'Takanini/Ardmore': {'1': 183.0, '2': None, '3': 534.0, '4': 613.0}, 'Takapuna': {'1': 476.0, '2': 613.0, '3': 757.0, '4': 863.0}, 'Te Atatu': {'1': None, '2': 442.0, '3': 550.0, '4': 619.0}, 'Te Atatu Peninsula': {'1': None, '2': 447.0, '3': 554.0, '4': 711.0}, 'Three Kings': {'1': 426.0, '2': 479.0, '3': 677.0, '4': None}, 'Titirangi': {'1': 219.0, '2': 425.0, '3': 571.0, '4': 692.0}, 'Torbay': {'1': None, '2': None, '3': 638.0, '4': 719.0}, 'Waiheke Island': {'1': 352.0, '2': 493.0, '3': 646.0, '4': 614.0}, 'Wairau Park/Glenfield North': {'1': None, '2': 475.0, '3': 591.0, '4': 673.0}, 'Waiuku': {'1': None, '2': 377.0, '3': 475.0, '4': 548.0}, 'Waterview/Avondale Heights': {'1': 300.0, '2': 510.0, '3': 586.0, '4': 672.0}, 'Wattle Downs/Conifer Grove': {'1': None, '2': 436.0, '3': 526.0, '4': 640.0}, 'Wellsford/Warkworth/Helensville': {'1': 374.0, '2': 424.0, '3': 495.0, '4': 592.0}, 'West Harbour': {'1': None, '2': 528.0, '3': 589.0, '4': 728.0}, 'Western Beaches/Rural': {'1': None, '2': 421.0, '3': 537.0, '4': 465.0}, 'Western Springs/Morningside': {'1': 270.0, '2': 507.0, '3': 588.0, '4': 846.0}, 'Westmere/Surrey Crescent': {'1': 277.0, '2': 619.0, '3': 832.0, '4': 887.0}, 'Weymouth': {'1': None, '2': 449.0, '3': 522.0, '4': 594.0}}
** canterbury
 {'Addington': {'1': 200.0, '2': 336.0, '3': 435.0, '4': 379.0}, 'Aranui/Bromley/Bexley': {'1': None, '2': None, '3': 380.0, '4': None}, 'Ashburton': {'1': None, '2': 298.0, '3': 351.0, '4': 474.0}, 'Avon Loop/Christchurch East': {'1': 264.0, '2': 363.0, '3': 438.0, '4': None}, 'Avonhead/Yaldhurst': {'1': 137.0, '2': 356.0, '3': 434.0, '4': 433.0}, 'Banks Peninsula/Selwyn': {'1': 157.0, '2': 377.0, '3': 430.0, '4': 509.0}, 'Bishopdale/Papanui': {'1': 173.0, '2': 365.0, '3': 434.0, '4': 508.0}, 'Burnside/Harewood': {'1': 143.0, '2': None, '3': 428.0, '4': 522.0}, 'Burwood/Dallington/Avondale': {'1': None, '2': 293.0, '3': 419.0, '4': None}, 'Christchurch Central/Hagley': {'1': 320.0, '2': 416.0, '3': 484.0, '4': None}, 'Fendalton/Strowan/Bryndwr': {'1': 197.0, '2': 392.0, '3': 479.0, '4': 589.0}, 'Halswell/Wigram': {'1': 187.0, '2': None, '3': 474.0, '4': 534.0}, 'Hillmorton/Hoon Hay': {'1': None, '2': 319.0, '3': 413.0, '4': 486.0}, 'Horby/Islington/Hei Hei': {'1': 136.0, '2': 347.0, '3': 416.0, '4': None}, 'Ilam/Westburn': {'1': 178.0, '2': 382.0, '3': 446.0, '4': 546.0}, 'Kaikoura/Hurunui': {'1': None, '2': None, '3': 331.0, '4': None}, 'Linwood/Phillipstown': {'1': 229.0, '2': 316.0, '3': 390.0, '4': 424.0}, 'MacKenzie/Waimate': {'1': None, '2': 249.0, '3': 301.0, '4': None}, 'Marshland/Redwood': {'1': None, '2': 359.0, '3': 412.0, '4': 507.0}, 'Merivale/St Albans West': {'1': 215.0, '2': 364.0, '3': 525.0, '4': 779.0}, 'North Beach/New Brighton/Southshore': {'1': 160.0, '2': 348.0, '3': 390.0, '4': None}, 'Rangiora/Kaiapoi': {'1': None, '2': 341.0, '3': 408.0, '4': 513.0}, 'Redcliffs/Sumner': {'1': None, '2': 400.0, '3': 476.0, '4': 601.0}, 'Riccarton': {'1': 188.0, '2': 368.0, '3': 446.0, '4': 516.0}, 'Richmond/Avonside': {'1': 231.0, '2': 325.0, '3': 404.0, '4': None}, 'Richmond/Shirley': {'1': None, '2': 369.0, '3': 412.0, '4': None}, 'Rural Timaru/Temuka/Geraldine': {'1': None, '2': 336.0, '3': 332.0, '4': None}, 'Rural Waimakariri': {'1': None, '2': 398.0, '3': 423.0, '4': 484.0}, 'Sawyers Arms/Northcote/Belfast': {'1': None, '2': 350.0, '3': 429.0, '4': 540.0}, 'Sockburn/Upper Riccarton': {'1': 179.0, '2': 348.0, '3': 440.0, '4': 514.0}, 'Spreydon/Somerfield': {'1': 173.0, '2': 376.0, '3': 434.0, '4': 456.0}, 'St Albans East/Edgeware': {'1': 206.0, '2': 333.0, '3': 434.0, '4': 504.0}, 'St Albans North/ Mairehau': {'1': 151.0, '2': 403.0, '3': 441.0, '4': 521.0}, 'St Martins/Beckenham/Huntsbury': {'1': None, '2': 362.0, '3': 457.0, '4': None}, 'Styx/Parklands': {'1': None, '2': None, '3': 436.0, '4': 521.0}, 'Sydenham/Waltham': {'1': 247.0, '2': 342.0, '3': 404.0, '4': 471.0}, 'Timaru Township': {'1': 195.0, '2': 270.0, '3': 346.0, '4': None}, 'Waitaki': {'1': None, '2': 291.0, '3': 324.0, '4': None}, 'Westmorland/Cashmere/Barrington': {'1': None, '2': None, '3': 473.0, '4': 572.0}, 'Woolston/Opawa': {'1': 165.0, '2': 304.0, '3': 392.0, '4': 491.0}}

** wellington
 {'Brooklyn': {'1': 398.0, '2': 512.0, '3': 685.0, '4': 743.0}, 'Carterton/South Wairarapa': {'1': None, '2': None, '3': 395.0, '4': None}, 'Eastern Bays': {'1': None, '2': 424.0, '3': 625.0, '4': None}, 'Epuni/Avalon': {'1': 179.0, '2': 443.0, '3': 554.0, '4': None}, 'Hataitai': {'1': 358.0, '2': 505.0, '3': 718.0, '4': 805.0}, 'Heretaunga/Silverstream': {'1': None, '2': 386.0, '3': 543.0, '4': 647.0}, 'Hutt Central/Waterloo': {'1': 289.0, '2': 488.0, '3': 593.0, '4': None}, 'Island Bay/Melrose': {'1': 265.0, '2': 481.0, '3': 651.0, '4': 857.0}, 'Johnsonville/Newlands': {'1': 365.0, '2': 443.0, '3': 580.0, '4': 681.0}, 'Karori': {'1': 382.0, '2': 517.0, '3': 629.0, '4': 781.0}, 'Karori South/Makara': {'1': 235.0, '2': 391.0, '3': 640.0, '4': 696.0}, 'Kelburn/Aro Valley': {'1': 357.0, '2': 521.0, '3': 678.0, '4': 854.0}, 'Khandallah': {'1': 373.0, '2': None, '3': 645.0, '4': 878.0}, 'Kilbirnie/Lyall Bay': {'1': 383.0, '2': 487.0, '3': 666.0, '4': 705.0}, 'Kingston/Happy Valley': {'1': 333.0, '2': 401.0, '3': 631.0, '4': None}, 'Lambton': {'1': 324.0, '2': 581.0, '3': 715.0, '4': 944.0}, 'Masterton': {'1': 204.0, '2': 299.0, '3': 361.0, '4': None}, 'Miramar/Strathmore': {'1': 429.0, '2': 480.0, '3': 639.0, '4': 699.0}, 'Moera/Waiwhetu': {'1': None, '2': 376.0, '3': 681.0, '4': None}, 'Mt Cook': {'1': 295.0, '2': 555.0, '3': 641.0, '4': 711.0}, 'Mt Victoria/Roseneath': {'1': 380.0, '2': 566.0, '3': 726.0, '4': 938.0}, 'Ngaio/Kaiwharawhara/Wilton': {'1': 360.0, '2': 461.0, '3': 565.0, '4': 696.0}, 'Northland': {'1': 373.0, '2': 460.0, '3': 709.0, '4': 752.0}, 'Oriental Bay/Seatoun': {'1': 334.0, '2': 635.0, '3': 699.0, '4': None}, 'Papakowhai/Whitby/Pauatahanui': {'1': None, '2': None, '3': 553.0, '4': 579.0}, 'Paramata/Mana/Pukerua Bay': {'1': None, '2': 432.0, '3': 589.0, '4': 637.0}, 'Paraparaumu/Raumati': {'1': 243.0, '2': 411.0, '3': 460.0, '4': 572.0}, 'Petone West/Alicetown': {'1': 257.0, '2': None, '3': 578.0, '4': None}, 'Petone/Esplanade': {'1': 232.0, '2': 468.0, '3': 564.0, '4': None}, 'Porirua East/Waitangirua': {'1': None, '2': None, '3': 398.0, '4': None}, 'Stokes Valley': {'1': None, '2': 391.0, '3': 467.0, '4': None}, 'Taita/Naenae': {'1': 230.0, '2': 386.0, '3': 464.0, '4': None}, 'Tawa/Grenada North': {'1': 365.0, '2': None, '3': 550.0, '4': 631.0}, 'Te Aro': {'1': 391.0, '2': 588.0, '3': 715.0, '4': 870.0}, 'Titahi Bay/Onepoto/Elsdon': {'1': 223.0, '2': 370.0, '3': 491.0, '4': None}, 'Totara Park/Maoribank/Te Marua': {'1': None, '2': 354.0, '3': 501.0, '4': None}, 'Trentham North/Wallaceville': {'1': None, '2': 348.0, '3': 513.0, '4': None}, 'Trentham West/Eldersley/Clouston Park': {'1': 196.0, '2': 359.0, '3': 512.0, '4': None}, 'Vogeltown/Berhampore/Newtown': {'1': 315.0, '2': 483.0, '3': 649.0, '4': 790.0}, 'Wadestown/Thordon': {'1': 373.0, '2': 568.0, '3': 727.0, '4': 905.0}, 'Waikanae/Otaki': {'1': None, '2': 366.0, '3': 443.0, '4': 427.0}, 'Wainuiomata': {'1': None, '2': 285.0, '3': 423.0, '4': None}, 'Western Hills/Haywards': {'1': 220.0, '2': 461.0, '3': 564.0, '4': 694.0}}