In [1]:
from pathlib import Path
import json
from functools import reduce
import math
import datetime as dt
import pytz 
from itertools import product
from collections import OrderedDict
import time
import sys

import requests
import numpy as np
import pandas as pd
import geopandas as gpd
import shapely.ops as so

import helpers as hp

%load_ext autoreload
%autoreload 2

# Download rent data

In [2]:
base_url = 'http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/'
file_names = [
    'detailed-lodged-bonds.csv',
    'detailed-mean-rents.csv',
    'detailed-geo-mean-rents.csv',
]

for file_name in file_names:
    url = base_url + file_name
    print("Getting and saving", url)
    r = requests.get(url)
    path = hp.DATA_DIR/'collected'/file_name
    with path.open('w') as tgt:
        tgt.write(r.text)

Getting and saving http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-lodged-bonds.csv
Getting and saving http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-mean-rents.csv
Getting and saving http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-geo-mean-rents.csv

# Prepare rent data

In [5]:
# Reshape and merge all rent data sets

def clean(f, name):
    f = f.copy()
    f = f.rename(columns={
        'SAU': 'au2001',
        'Property_Type': 'property_type',
        'Bedrooms': '#bedrooms'
    })

    # Drop subtotals
    cond = False
    for col in ['au2001', 'property_type', '#bedrooms']:
        cond |= f[col].str.contains('total', case=False)

    f = f[~cond].copy()
    
    # Reshape
    id_vars = ['au2001', 'property_type', '#bedrooms']
    value_vars = [c for c in f.columns if '-' in c]
    f = pd.melt(f, id_vars=id_vars, value_vars=value_vars,
      var_name='quarter', value_name=name)
    
    return f

paths = [
    hp.DATA_DIR/'collected'/'detailed-lodged-bonds.csv',
    hp.DATA_DIR/'collected'/'detailed-mean-rents.csv',
    hp.DATA_DIR/'collected'/'detailed-geo-mean-rents.csv',
]
names = [
    'rent_count', 
    'rent_mean', 
    'rent_geo_mean',
]
frames = []
for path, name in zip(paths, names):
    f = pd.read_csv(path, dtype={'SAU': str})
    frames.append(clean(f, name))
    
f = reduce(lambda x, y: pd.merge(x, y), frames)

# Merge in region data
path = hp.get_path('au2001_csv')
g = pd.read_csv(path, dtype={'au2001': str})
f = f.merge(g)

# Write to file
path = hp.get_path('rents')
f.to_csv(path, index=False)
f[f['rent_count'].notnull()].head()

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
242,500202,Flat or Apartment,1,1995-03-01,8.0,82.0,82.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
262,500202,Flat or Apartment,1,1996-03-01,5.0,79.0,79.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
265,500202,House,3,1996-03-01,5.0,123.0,118.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
290,500202,House,3,1997-06-01,5.0,154.0,152.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
315,500202,House,3,1998-09-01,7.0,139.0,137.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo

In [6]:
# Print latest 2 quarters
hp.get_latest_quarters(2)

['2017-12-01', '2018-03-01']

# Explore rents

In [7]:
rents = hp.get_data('rents')
print(rents['quarter'].unique())
rents.head()

['1993-03-01' '1993-06-01' '1993-09-01' '1993-12-01' '1994-03-01'
 '1994-06-01' '1994-09-01' '1994-12-01' '1995-03-01' '1995-06-01'
 '1995-09-01' '1995-12-01' '1996-03-01' '1996-06-01' '1996-09-01'
 '1996-12-01' '1997-03-01' '1997-06-01' '1997-09-01' '1997-12-01'
 '1998-03-01' '1998-06-01' '1998-09-01' '1998-12-01' '1999-03-01'
 '1999-06-01' '1999-09-01' '1999-12-01' '2000-03-01' '2000-06-01'
 '2000-09-01' '2000-12-01' '2001-03-01' '2001-06-01' '2001-09-01'
 '2001-12-01' '2002-03-01' '2002-06-01' '2002-09-01' '2002-12-01'
 '2003-03-01' '2003-06-01' '2003-09-01' '2003-12-01' '2004-03-01'
 '2004-06-01' '2004-09-01' '2004-12-01' '2005-03-01' '2005-06-01'
 '2005-09-01' '2005-12-01' '2006-03-01' '2006-06-01' '2006-09-01'
 '2006-12-01' '2007-03-01' '2007-06-01' '2007-09-01' '2007-12-01'
 '2008-03-01' '2008-06-01' '2008-09-01' '2008-12-01' '2009-03-01'
 '2009-06-01' '2009-09-01' '2009-12-01' '2010-03-01' '2010-06-01'
 '2010-09-01' '2010-12-01' '2011-03-01' '2011-06-01' '2011-09-01'
 '2011-12-01' '2012-03-01' '2012-06-01' '2012-09-01' '2012-12-01'
 '2013-03-01' '2013-06-01' '2013-09-01' '2013-12-01' '2014-03-01'
 '2014-06-01' '2014-09-01' '2014-12-01' '2015-03-01' '2015-06-01'
 '2015-09-01' '2015-12-01' '2016-03-01' '2016-06-01' '2016-09-01'
 '2016-12-01' '2017-03-01' '2017-06-01' '2017-09-01' '2017-12-01'
 '2018-03-01']

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
0,500100,House,2,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
1,500100,House,3,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
2,500100,House,2,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
3,500100,House,3,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
4,500100,House,2,1993-09-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North

In [8]:
# Slice in time and aggregate 
agg_rents = hp.aggregate_rents(rents, '2017-03-01')
agg_rents.head()

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

,rental_area,#bedrooms,region,rent_count,rent_geo_mean,rent_mean,territory
0,Addington,1,Canterbury,296.0,211.266524,214.537162,Christchurch City
1,Addington,2,Canterbury,166.0,326.101925,331.415663,Christchurch City
2,Addington,3,Canterbury,153.0,402.602610,410.366013,Christchurch City
3,Addington,4,Canterbury,10.0,466.527598,473.000000,Christchurch City
4,Addington,5+,Canterbury,0.0,NaN,NaN,Christchurch City

In [10]:
f = hp.aggregate_rents(rents, '2017-03-01', groupby_cols=('au2001', '#bedrooms'))
cond = f['region'] == 'Auckland'
f[cond]

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

,au2001,#bedrooms,region,rent_count,rent_geo_mean,rent_mean,territory
286,505300,1,Auckland,0.0,NaN,NaN,Rodney District
287,505300,2,Auckland,11.0,370.512838,373.636364,Rodney District
288,505300,3,Auckland,42.0,408.165092,411.595238,Rodney District
289,505300,4,Auckland,20.0,454.897926,456.100000,Rodney District
290,505300,5+,Auckland,0.0,NaN,NaN,Rodney District
291,505400,1,Auckland,0.0,NaN,NaN,Rodney District
292,505400,2,Auckland,0.0,NaN,NaN,Rodney District
293,505400,3,Auckland,0.0,NaN,NaN,Rodney District
294,505400,4,Auckland,0.0,NaN,NaN,Rodney District
295,505500,1,Auckland,12.0,284.124064,286.250000,Rodney District
296,505500,2,Auckland,30.0,424.156333,425.266667,Rodney District
297,505500,3,Auckland,74.0,490.151079,492.648649,Rodney District
298,505500,4,Auckland,49.0,558.219998,562.877551,Rodney District
299,505500,5+,Auckland,0.0,NaN,NaN,Rodney District
300,505600,1,Auckland,0.0,NaN,NaN,Rodney District
301,505600,2,Auckland,41.0,470.162641,484.341463,Rodney District
302,505600,3,Auckland,83.0,594.298507,602.879518,Rodney District
303,505600,4,Auckland,98.0,703.258435,710.346939,Rodney District
304,505600,5+,Auckland,5.0,955.000000,960.000000,Rodney District
305,505802,1,Auckland,5.0,352.000000,356.000000,Rodney District
306,505802,2,Auckland,48.0,445.688710,447.979167,Rodney District
307,505802,3,Auckland,80.0,565.479901,572.650000,Rodney District
308,505802,4,Auckland,58.0,694.634486,727.379310,Rodney District
309,505802,5+,Auckland,11.0,801.036678,803.727273,Rodney District
310,505803,1,Auckland,0.0,NaN,NaN,Rodney District
311,505803,2,Auckland,0.0,NaN,NaN,Rodney District
312,505803,3,Auckland,0.0,NaN,NaN,Rodney District
313,505804,1,Auckland,0.0,NaN,NaN,Rodney District
314,505804,2,Auckland,0.0,NaN,NaN,Rodney District
315,505804,3,Auckland,10.0,488.815916,526.500000,Rodney District
...,...,...,...,...,...,...,...
1933,525910,4,Auckland,93.0,514.851197,519.591398,Franklin District
1934,525910,5+,Auckland,5.0,682.000000,685.000000,Franklin District
1935,525921,1,Auckland,0.0,NaN,NaN,Franklin District
1936,525921,2,Auckland,65.0,385.769726,387.676923,Franklin District
1937,525921,3,Auckland,174.0,466.729038,468.316092,Franklin District
1938,525921,4,Auckland,75.0,535.983105,538.186667,Franklin District
1939,525921,5+,Auckland,0.0,NaN,NaN,Franklin District
1940,525922,1,Auckland,0.0,NaN,NaN,Franklin District
1941,525922,2,Auckland,29.0,373.173851,376.793103,Franklin District
1942,525922,3,Auckland,40.0,480.930263,489.400000,Franklin District
1943,525922,4,Auckland,12.0,560.568461,563.500000,Franklin District
1944,525922,5+,Auckland,0.0,NaN,NaN,Franklin District
1945,526101,1,Auckland,0.0,NaN,NaN,Franklin District
1946,526101,2,Auckland,56.0,337.372399,341.982143,Franklin District
1947,526101,3,Auckland,97.0,430.155790,433.185567,Franklin District
1948,526101,4,Auckland,66.0,493.203015,502.666667,Franklin District
1949,526101,5+,Auckland,0.0,NaN,NaN,Franklin District
1950,526102,2,Auckland,0.0,NaN,NaN,Franklin District
1951,526102,3,Auckland,26.0,439.973208,442.692308,Franklin District
1952,526102,4,Auckland,0.0,NaN,NaN,Franklin District
1953,526200,1,Auckland,0.0,NaN,NaN,Franklin District
1954,526200,2,Auckland,13.0,364.214069,365.769231,Franklin District
1955,526200,3,Auckland,104.0,421.359877,422.942308,Franklin District
1956,526200,4,Auckland,45.0,496.267350,499.955556,Franklin District
1957,526200,5+,Auckland,0.0,NaN,NaN,Franklin District
1973,526701,1,Auckland,0.0,NaN,NaN,Franklin District
1974,526701,2,Auckland,0.0,NaN,NaN,Franklin District
1975,526701,3,Auckland,0.0,NaN,NaN,Franklin District
1976,526701,4,Auckland,0.0,NaN,NaN,Franklin District
1977,526701,5+,Auckland,0.0,NaN,NaN,Franklin District

In [11]:
# What fraction of rental data do we have by #bedrooms?

def hits(group):
    d = {}
    d['hit_frac'] = group['rent_mean'].count()/group['rent_mean'].shape[0]
    return pd.Series(d)

date = '2017-03-01'
f = hp.aggregate_rents(rents, date, groupby_cols=('au2001', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('census area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

f = hp.aggregate_rents(rents, date, groupby_cols=('rental_area', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('rental area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

census area units
  #bedrooms  hit_frac
0         1  0.414330
1         2  0.704348
2         3  0.868946
3         4  0.665706
4        5+  0.175719
rental area units
  #bedrooms  hit_frac
0         1  0.787879
1         2  0.979798
2         3  1.000000
3         4  0.929293
4        5+  0.353535

# Select latest two quarters and slice into regional chunks

In [12]:
# Get latest two quarters of rents
start_date = hp.get_latest_quarters(2)[0]
rents = hp.get_data('rents')
rents = rents[rents['quarter'] >= start_date].copy()

# Create regional slices
for region in hp.REGIONS:
    # Build rents
    region_c = region.capitalize()
    region_rents = rents[rents['region'] == region_c].copy()
    print(region, region_rents['quarter'].unique(), '#rows =', region_rents.shape[0])
    path = hp.get_path('rents', region)
    print('  Saving to', path)
    
    # Create region directory if it does not exist
    if not path.parent.exists():
        path.parent.mkdir()
        
    region_rents.to_csv(path, index=False)

auckland ['2017-12-01' '2018-03-01'] #rows = 5508
  Saving to /home/araichev/affordability_nz/data/processed/auckland/rents.csv
canterbury ['2017-12-01' '2018-03-01'] #rows = 2530
  Saving to /home/araichev/affordability_nz/data/processed/canterbury/rents.csv
wellington ['2017-12-01' '2018-03-01'] #rows = 2410
  Saving to /home/araichev/affordability_nz/data/processed/wellington/rents.csv

# JSONize regional rents for the web, grouping by rental area and number of bedrooms

In [13]:
for region in hp.REGIONS:
    region_rents = hp.get_data('rents', region)
    d = hp.build_json_rents(region_rents)
    path = hp.get_path('rents_json', region)
    print('**', region, '\n', d)
    with path.open('w') as tgt:
        json.dump(d, tgt)

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

** auckland
 {'Glen Eden': {'4': 551.0, '3': 473.0, '1': None, '2': 419.0}, 'Waterview/Avondale Heights': {'4': 691.0, '3': 535.0, '1': 315.0, '2': 454.0}, 'Mangere Bridge/Airport': {'4': 603.0, '3': 521.0, '1': 348.0, '2': 471.0}, 'Pukekohe/Tuakau': {'4': 535.0, '3': 459.0, '1': 338.0, '2': 389.0}, 'Balmoral': {'4': 855.0, '3': 679.0, '1': 379.0, '2': 479.0}, 'Newmarket': {'4': None, '3': 757.0, '1': 408.0, '2': 563.0}, 'Manurewa North': {'4': 555.0, '3': 489.0, '1': 319.0, '2': 416.0}, 'Manukau Heights and Manurewa Heights': {'4': 647.0, '3': 571.0, '1': None, '2': 447.0}, 'Onehunga/Oranga/Te Papapa': {'4': 717.0, '3': 608.0, '1': 250.0, '2': 469.0}, 'Weymouth': {'4': 579.0, '3': 494.0, '1': None, '2': None}, 'Hillcrest/Northcote': {'4': 680.0, '3': 579.0, '1': None, '2': 448.0}, 'Browns Bay': {'4': 711.0, '3': 592.0, '1': None, '2': 506.0}, 'St Lukes/Sandringham': {'4': 772.0, '3': 662.0, '1': 354.0, '2': 480.0}, 'Remuera': {'4': 1077.0, '3': 771.0, '1': None, '2': 602.0}, 'Otahuhu': {'4': 585.0, '3': 499.0, '1': 271.0, '2': 398.0}, 'Wellsford/Warkworth/Helensville': {'4': 536.0, '3': 470.0, '1': None, '2': 406.0}, 'Glendene': {'4': 588.0, '3': 500.0, '1': None, '2': 408.0}, 'Albany': {'4': 706.0, '3': 596.0, '1': 248.0, '2': 483.0}, 'Te Atatu Peninsula': {'4': 654.0, '3': 523.0, '1': None, '2': 454.0}, 'Kohimarama': {'4': 1134.0, '3': 797.0, '1': 480.0, '2': 630.0}, 'Titirangi': {'4': 584.0, '3': 536.0, '1': None, '2': None}, 'Blockhouse Bay/New Windsor': {'4': 646.0, '3': 550.0, '1': 302.0, '2': 418.0}, 'Pakuranga': {'4': 609.0, '3': 537.0, '1': None, '2': 439.0}, 'Lynfield': {'4': 658.0, '3': 562.0, '1': None, '2': 449.0}, 'Orewa/Whangaparaoa': {'4': 710.0, '3': 549.0, '1': 381.0, '2': 463.0}, 'Otara': {'4': None, '3': 488.0, '1': 273.0, '2': None}, 'Mt Wellington': {'4': None, '3': 566.0, '1': 367.0, '2': 457.0}, 'Henderson': {'4': 606.0, '3': 504.0, '1': 308.0, '2': 431.0}, 'Half Moon Bay/Farm Cove': {'4': 669.0, '3': 541.0, '1': None, '2': 482.0}, 'Highland Park': {'4': 660.0, '3': 557.0, '1': None, '2': 450.0}, 'Panmure': {'4': 712.0, '3': 536.0, '1': None, '2': 464.0}, 'Rural Franklin': {'4': 605.0, '3': 500.0, '1': None, '2': 421.0}, 'Kingsland': {'4': 530.0, '3': 638.0, '1': 389.0, '2': 546.0}, 'Glendhu/Glenfield': {'4': 620.0, '3': 551.0, '1': 243.0, '2': 442.0}, 'Howick': {'4': 665.0, '3': 564.0, '1': None, '2': 485.0}, 'Takapuna': {'4': 904.0, '3': 745.0, '1': 487.0, '2': 610.0}, 'Papatoetoe North': {'4': None, '3': 531.0, '1': 247.0, '2': 430.0}, 'Torbay': {'4': 742.0, '3': 579.0, '1': None, '2': 460.0}, 'Gulf Harbour': {'4': 627.0, '3': 535.0, '1': None, '2': 409.0}, 'Mangere': {'4': 549.0, '3': 497.0, '1': None, '2': 401.0}, 'Ponsonby/Freemans Bay': {'4': 1333.0, '3': 923.0, '1': 492.0, '2': 740.0}, 'Mt Wellington North': {'4': 675.0, '3': 538.0, '1': 361.0, '2': 442.0}, 'North Harbour/Pine Hill': {'4': 752.0, '3': 613.0, '1': 274.0, '2': 460.0}, 'Mission Bay/Orakei': {'4': 886.0, '3': 788.0, '1': 374.0, '2': 574.0}, 'Central West': {'4': None, '3': 642.0, '1': 402.0, '2': 507.0}, 'Newton/Grafton': {'4': None, '3': 607.0, '1': 335.0, '2': 542.0}, 'Glen Innes/Pt England/Wai O Taiki': {'4': 665.0, '3': 578.0, '1': None, '2': 395.0}, 'Sunnynook/Westlake': {'4': 701.0, '3': 602.0, '1': 359.0, '2': 511.0}, 'Wairau Park/Glenfield North': {'4': 606.0, '3': 536.0, '1': None, '2': 434.0}, 'New Lynn': {'4': 604.0, '3': 524.0, '1': 331.0, '2': 425.0}, 'Waiuku': {'4': 499.0, '3': 450.0, '1': None, '2': 353.0}, 'Rewiti/Kumeu/Riverhead': {'4': 721.0, '3': 613.0, '1': None, '2': 469.0}, 'Takanini/Ardmore': {'4': 599.0, '3': 497.0, '1': 263.0, '2': 393.0}, 'Grey Lynn/Arch Hill': {'4': 964.0, '3': 822.0, '1': 380.0, '2': 699.0}, 'Dannemora': {'4': 690.0, '3': 615.0, '1': 405.0, '2': 496.0}, 'Massey/Royal Heights': {'4': 610.0, '3': 498.0, '1': None, '2': 421.0}, 'Botony Downs': {'4': 694.0, '3': 588.0, '1': None, '2': None}, 'Western Beaches/Rural': {'4': 644.0, '3': 529.0, '1': None, '2': 407.0}, 'Chatswood/Birkenhead/Northcote Point': {'4': 792.0, '3': 650.0, '1': 317.0, '2': 482.0}, 'Devonport': {'4': None, '3': 729.0, '1': 435.0, '2': 563.0}, 'Meadowbank': {'4': 916.0, '3': 706.0, '1': 372.0, '2': 474.0}, 'Te Atatu': {'4': 604.0, '3': 511.0, '1': None, '2': 405.0}, 'St Helliers/Glendowie': {'4': 1008.0, '3': 768.0, '1': None, '2': 545.0}, 'Pt Chevalier': {'4': None, '3': 670.0, '1': 238.0, '2': None}, 'Mangere East': {'4': 630.0, '3': 504.0, '1': 284.0, '2': 421.0}, 'Royal Oak/One Tree Hill': {'4': 809.0, '3': 692.0, '1': 365.0, '2': 508.0}, 'St Johns': {'4': 785.0, '3': 661.0, '1': 418.0, '2': 509.0}, 'Herne Bay/St Marys': {'4': None, '3': 916.0, '1': 391.0, '2': 580.0}, 'Ranui': {'4': 571.0, '3': 476.0, '1': None, '2': 424.0}, 'Avondale': {'4': 636.0, '3': 524.0, '1': 255.0, '2': 442.0}, 'Mt Eden': {'4': 874.0, '3': 758.0, '1': 374.0, '2': 500.0}, 'Maraetai/Clevedon': {'4': 683.0, '3': 611.0, '1': 389.0, '2': 436.0}, 'Penrose/Mt Wellington South': {'4': 627.0, '3': 568.0, '1': 297.0, '2': 431.0}, 'Mt Albert/Owairaka': {'4': 756.0, '3': 614.0, '1': 282.0, '2': 454.0}, 'Three Kings': {'4': 722.0, '3': 592.0, '1': None, '2': 481.0}, 'Westmere/Surrey Crescent': {'4': 774.0, '3': 834.0, '1': 279.0, '2': 621.0}, 'Waiheke Island': {'4': None, '3': 615.0, '1': 365.0, '2': 492.0}, 'Ellerslie': {'4': 779.0, '3': 628.0, '1': 361.0, '2': 485.0}, 'Bucklands Beach': {'4': 787.0, '3': 663.0, '1': None, '2': 485.0}, 'Central East': {'4': None, '3': 551.0, '1': 383.0, '2': 548.0}, 'Papatoetoe West': {'4': 609.0, '3': 518.0, '1': 340.0, '2': 402.0}, 'Papatoetoe South': {'4': None, '3': 524.0, '1': 268.0, '2': 439.0}, 'Hillsborough': {'4': 681.0, '3': 571.0, '1': 361.0, '2': 469.0}, 'Epsom': {'4': 981.0, '3': 746.0, '1': 294.0, '2': 529.0}, 'Manukau Central': {'4': None, '3': 514.0, '1': 341.0, '2': 459.0}, 'Rothesay/Murrays/Mairangi Bays': {'4': 773.0, '3': 639.0, '1': None, '2': 482.0}, 'Harbourside': {'4': None, '3': 713.0, '1': 339.0, '2': 675.0}, 'Eden Terrace': {'4': None, '3': 629.0, '1': 391.0, '2': 523.0}, 'West Harbour': {'4': 713.0, '3': 568.0, '1': None, '2': None}, 'Western Springs/Morningside': {'4': 808.0, '3': 606.0, '1': 338.0, '2': 490.0}, 'East Coast Bays': {'4': 820.0, '3': 698.0, '1': 399.0, '2': 526.0}, 'Wattle Downs/Conifer Grove': {'4': 613.0, '3': 516.0, '1': None, '2': 437.0}, 'Kelston': {'4': 607.0, '3': 502.0, '1': 317.0, '2': 368.0}, 'Greenhithe/Unsworth Heights': {'4': 731.0, '3': 583.0, '1': None, '2': 511.0}, 'Remuera South/Meadowbank South': {'4': 855.0, '3': 688.0, '1': 362.0, '2': 526.0}, 'Parnell': {'4': None, '3': 914.0, '1': 460.0, '2': 634.0}, 'Mt Roskill/Wesley': {'4': None, '3': 573.0, '1': None, '2': None}, 'Papakura/Drury/Karaka': {'4': 624.0, '3': 485.0, '1': 213.0, '2': 397.0}, 'Beachhaven/Birkdale': {'4': 607.0, '3': 548.0, '1': None, '2': 426.0}}
** canterbury
 {'Burnside/Harewood': {'4': 556.0, '3': 431.0, '1': None, '2': None}, 'St Martins/Beckenham/Huntsbury': {'4': 460.0, '3': 441.0, '1': None, '2': 345.0}, 'Riccarton': {'4': 511.0, '3': 430.0, '1': 208.0, '2': 348.0}, 'Hillmorton/Hoon Hay': {'4': None, '3': 417.0, '1': None, '2': None}, 'North Beach/New Brighton/Southshore': {'4': 449.0, '3': 387.0, '1': 117.0, '2': 316.0}, 'Merivale/St Albans West': {'4': None, '3': 464.0, '1': 270.0, '2': 352.0}, 'St Albans East/Edgeware': {'4': 484.0, '3': 429.0, '1': 210.0, '2': 321.0}, 'Westmorland/Cashmere/Barrington': {'4': 598.0, '3': 455.0, '1': None, '2': 356.0}, 'Banks Peninsula/Selwyn': {'4': 511.0, '3': 434.0, '1': None, '2': 387.0}, 'Sydenham/Waltham': {'4': 435.0, '3': 395.0, '1': 237.0, '2': 310.0}, 'Bishopdale/Papanui': {'4': 484.0, '3': 419.0, '1': 163.0, '2': 364.0}, 'St Albans North/ Mairehau': {'4': 497.0, '3': 434.0, '1': 178.0, '2': 345.0}, 'Ilam/Westburn': {'4': 534.0, '3': 441.0, '1': 170.0, '2': 376.0}, 'Richmond/Avonside': {'4': None, '3': 382.0, '1': 119.0, '2': 327.0}, 'Burwood/Dallington/Avondale': {'4': None, '3': 385.0, '1': None, '2': 384.0}, 'Rural Timaru/Temuka/Geraldine': {'4': 370.0, '3': 313.0, '1': None, '2': None}, 'Addington': {'4': 446.0, '3': 392.0, '1': 211.0, '2': 332.0}, 'Woolston/Opawa': {'4': 465.0, '3': 370.0, '1': 138.0, '2': 329.0}, 'Redcliffs/Sumner': {'4': 508.0, '3': 469.0, '1': 249.0, '2': 399.0}, 'Kaikoura/Hurunui': {'4': None, '3': 414.0, '1': None, '2': None}, 'Christchurch Central/Hagley': {'4': None, '3': 513.0, '1': 289.0, '2': 372.0}, 'Horby/Islington/Hei Hei': {'4': 447.0, '3': 408.0, '1': 180.0, '2': 310.0}, 'Waitaki': {'4': None, '3': 294.0, '1': None, '2': 251.0}, 'Ashburton': {'4': 389.0, '3': 339.0, '1': None, '2': 287.0}, 'Timaru Township': {'4': 384.0, '3': 334.0, '1': 188.0, '2': 254.0}, 'Sawyers Arms/Northcote/Belfast': {'4': 521.0, '3': 418.0, '1': None, '2': 352.0}, 'MacKenzie/Waimate': {'4': None, '3': 257.0, '1': 155.0, '2': 226.0}, 'Avonhead/Yaldhurst': {'4': 488.0, '3': 448.0, '1': 198.0, '2': 379.0}, 'Sockburn/Upper Riccarton': {'4': 508.0, '3': 435.0, '1': 188.0, '2': 335.0}, 'Halswell/Wigram': {'4': 546.0, '3': 460.0, '1': 189.0, '2': 383.0}, 'Rangiora/Kaiapoi': {'4': 467.0, '3': 394.0, '1': None, '2': 316.0}, 'Marshland/Redwood': {'4': 519.0, '3': 400.0, '1': None, '2': None}, 'Rural Waimakariri': {'4': 456.0, '3': 424.0, '1': None, '2': None}, 'Fendalton/Strowan/Bryndwr': {'4': 601.0, '3': 468.0, '1': 197.0, '2': 387.0}, 'Styx/Parklands': {'4': 510.0, '3': 411.0, '1': None, '2': 419.0}, 'Aranui/Bromley/Bexley': {'4': None, '3': 360.0, '1': 216.0, '2': 271.0}, 'Spreydon/Somerfield': {'4': 465.0, '3': 417.0, '1': 153.0, '2': 341.0}, 'Richmond/Shirley': {'4': 449.0, '3': 404.0, '1': None, '2': 343.0}, 'Avon Loop/Christchurch East': {'4': None, '3': 429.0, '1': 255.0, '2': 357.0}, 'Linwood/Phillipstown': {'4': 379.0, '3': 368.0, '1': 212.0, '2': 295.0}}

** wellington
 {'Epuni/Avalon': {'4': 675.0, '3': 481.0, '1': 177.0, '2': 413.0}, 'Porirua East/Waitangirua': {'4': 457.0, '3': 334.0, '1': None, '2': 328.0}, 'Northland': {'4': 585.0, '3': 617.0, '1': 328.0, '2': 493.0}, 'Mt Cook': {'4': 674.0, '3': 626.0, '1': 240.0, '2': 511.0}, 'Eastern Bays': {'4': 717.0, '3': 588.0, '1': None, '2': None}, 'Mt Victoria/Roseneath': {'4': 709.0, '3': 642.0, '1': 319.0, '2': 534.0}, 'Totara Park/Maoribank/Te Marua': {'4': None, '3': 444.0, '1': None, '2': None}, 'Stokes Valley': {'4': None, '3': 417.0, '1': None, '2': None}, 'Petone West/Alicetown': {'4': None, '3': 534.0, '1': None, '2': 408.0}, 'Brooklyn': {'4': 702.0, '3': 629.0, '1': 340.0, '2': 475.0}, 'Masterton': {'4': None, '3': 314.0, '1': 193.0, '2': 265.0}, 'Ngaio/Kaiwharawhara/Wilton': {'4': 743.0, '3': 478.0, '1': 321.0, '2': 405.0}, 'Papakowhai/Whitby/Pauatahanui': {'4': 654.0, '3': 479.0, '1': None, '2': None}, 'Hataitai': {'4': 733.0, '3': 613.0, '1': 283.0, '2': 439.0}, 'Wadestown/Thordon': {'4': 883.0, '3': 697.0, '1': 331.0, '2': 533.0}, 'Trentham West/Eldersley/Clouston Park': {'4': None, '3': 448.0, '1': 158.0, '2': 296.0}, 'Kelburn/Aro Valley': {'4': 864.0, '3': 638.0, '1': 328.0, '2': 478.0}, 'Western Hills/Haywards': {'4': 594.0, '3': 516.0, '1': 214.0, '2': None}, 'Paraparaumu/Raumati': {'4': 513.0, '3': 432.0, '1': 191.0, '2': 366.0}, 'Vogeltown/Berhampore/Newtown': {'4': 762.0, '3': 597.0, '1': 299.0, '2': 445.0}, 'Khandallah': {'4': 817.0, '3': 581.0, '1': None, '2': 459.0}, 'Te Aro': {'4': 825.0, '3': 695.0, '1': 369.0, '2': 544.0}, 'Tawa/Grenada North': {'4': 573.0, '3': 505.0, '1': 211.0, '2': 369.0}, 'Waikanae/Otaki': {'4': None, '3': 405.0, '1': None, '2': 345.0}, 'Kilbirnie/Lyall Bay': {'4': None, '3': 611.0, '1': 320.0, '2': 444.0}, 'Kingston/Happy Valley': {'4': None, '3': 566.0, '1': 290.0, '2': 328.0}, 'Miramar/Strathmore': {'4': 875.0, '3': 591.0, '1': 376.0, '2': 400.0}, 'Lambton': {'4': 880.0, '3': 619.0, '1': 318.0, '2': 535.0}, 'Johnsonville/Newlands': {'4': 707.0, '3': 530.0, '1': 239.0, '2': 423.0}, 'Wainuiomata': {'4': None, '3': 377.0, '1': None, '2': None}, 'Karori South/Makara': {'4': 717.0, '3': 552.0, '1': 209.0, '2': 459.0}, 'Paramata/Mana/Pukerua Bay': {'4': 605.0, '3': 531.0, '1': None, '2': 354.0}, 'Oriental Bay/Seatoun': {'4': None, '3': 663.0, '1': 318.0, '2': 742.0}, 'Island Bay/Melrose': {'4': 560.0, '3': 610.0, '1': 208.0, '2': 450.0}, 'Titahi Bay/Onepoto/Elsdon': {'4': None, '3': 428.0, '1': 238.0, '2': 397.0}, 'Taita/Naenae': {'4': None, '3': 430.0, '1': 217.0, '2': 341.0}, 'Carterton/South Wairarapa': {'4': None, '3': 349.0, '1': None, '2': 287.0}, 'Moera/Waiwhetu': {'4': 573.0, '3': 493.0, '1': None, '2': 342.0}, 'Petone/Esplanade': {'4': None, '3': 593.0, '1': 266.0, '2': 432.0}, 'Karori': {'4': 842.0, '3': 613.0, '1': 318.0, '2': None}, 'Heretaunga/Silverstream': {'4': 617.0, '3': 475.0, '1': None, '2': 324.0}, 'Hutt Central/Waterloo': {'4': None, '3': 507.0, '1': 276.0, '2': 420.0}, 'Trentham North/Wallaceville': {'4': None, '3': 442.0, '1': None, '2': 310.0}}