In [6]:
from pathlib import Path
import json
from functools import reduce
import math
import datetime as dt
import pytz 
from itertools import product
from collections import OrderedDict
import time
import sys

import requests
import numpy as np
import pandas as pd
import geopandas as gpd
import shapely.ops as so

import helpers as hp

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Download rent data

In [ ]:
base_url = 'http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/'
file_names = [
    'detailed-lodged-bonds.csv',
    'detailed-mean-rents.csv',
    'detailed-geo-mean-rents.csv',
]

for file_name in file_names:
    url = base_url + file_name
    print("Getting and saving", url)
    r = requests.get(url)
    path = hp.DATA_DIR/'collected'/file_name
    with path.open('w') as tgt:
        tgt.write(r.text)

# Prepare rent data

In [22]:
# Reshape and merge all rent data sets

def clean(f, name):
    f = f.copy()
    f = f.rename(columns={
        'SAU': 'au2001',
        'Property_Type': 'property_type',
        'Bedrooms': '#bedrooms'
    })

    # Drop subtotals
    cond = False
    for col in ['au2001', 'property_type', '#bedrooms']:
        cond |= f[col].str.contains('total', case=False)

    f = f[~cond].copy()
    
    # Reshape
    id_vars = ['au2001', 'property_type', '#bedrooms']
    value_vars = [c for c in f.columns if '-' in c]
    f = pd.melt(f, id_vars=id_vars, value_vars=value_vars,
      var_name='quarter', value_name=name)
    
    return f

paths = [
    hp.DATA_DIR/'collected'/'detailed-lodged-bonds.csv',
    hp.DATA_DIR/'collected'/'detailed-mean-rents.csv',
    hp.DATA_DIR/'collected'/'detailed-geo-mean-rents.csv',
]
names = [
    'rent_count', 
    'rent_mean', 
    'rent_geo_mean',
]
frames = []
for path, name in zip(paths, names):
    f = pd.read_csv(path, dtype={'SAU': str})
    frames.append(clean(f, name))
    
f = reduce(lambda x, y: pd.merge(x, y), frames)

# Merge in region data
path = hp.get_path('au2001_csv')
g = pd.read_csv(path, dtype={'au2001': str})
f = f.merge(g)

# Write to file
path = hp.get_path('rents')
f.to_csv(path, index=False)
f[f['rent_count'].notnull()].head()

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
238,500202,Flat or Apartment,1,1995-03-01,8.0,82.0,82.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
258,500202,Flat or Apartment,1,1996-03-01,5.0,79.0,79.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
261,500202,House,3,1996-03-01,5.0,123.0,118.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
286,500202,House,3,1997-06-01,5.0,154.0,152.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
311,500202,House,3,1998-09-01,7.0,139.0,137.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo

In [23]:
# Print latest 2 quarters
hp.get_latest_quarters(2)

['2017-06-01', '2017-09-01']

# Explore rents

In [24]:
rents = hp.get_data('rents')
print(rents['quarter'].unique())
rents.head()

['1993-03-01' '1993-06-01' '1993-09-01' '1993-12-01' '1994-03-01'
 '1994-06-01' '1994-09-01' '1994-12-01' '1995-03-01' '1995-06-01'
 '1995-09-01' '1995-12-01' '1996-03-01' '1996-06-01' '1996-09-01'
 '1996-12-01' '1997-03-01' '1997-06-01' '1997-09-01' '1997-12-01'
 '1998-03-01' '1998-06-01' '1998-09-01' '1998-12-01' '1999-03-01'
 '1999-06-01' '1999-09-01' '1999-12-01' '2000-03-01' '2000-06-01'
 '2000-09-01' '2000-12-01' '2001-03-01' '2001-06-01' '2001-09-01'
 '2001-12-01' '2002-03-01' '2002-06-01' '2002-09-01' '2002-12-01'
 '2003-03-01' '2003-06-01' '2003-09-01' '2003-12-01' '2004-03-01'
 '2004-06-01' '2004-09-01' '2004-12-01' '2005-03-01' '2005-06-01'
 '2005-09-01' '2005-12-01' '2006-03-01' '2006-06-01' '2006-09-01'
 '2006-12-01' '2007-03-01' '2007-06-01' '2007-09-01' '2007-12-01'
 '2008-03-01' '2008-06-01' '2008-09-01' '2008-12-01' '2009-03-01'
 '2009-06-01' '2009-09-01' '2009-12-01' '2010-03-01' '2010-06-01'
 '2010-09-01' '2010-12-01' '2011-03-01' '2011-06-01' '2011-09-01'
 '2011-12-01' '2012-03-01' '2012-06-01' '2012-09-01' '2012-12-01'
 '2013-03-01' '2013-06-01' '2013-09-01' '2013-12-01' '2014-03-01'
 '2014-06-01' '2014-09-01' '2014-12-01' '2015-03-01' '2015-06-01'
 '2015-09-01' '2015-12-01' '2016-03-01' '2016-06-01' '2016-09-01'
 '2016-12-01' '2017-03-01' '2017-06-01' '2017-09-01']

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
0,500100,House,2,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
1,500100,House,3,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
2,500100,House,2,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
3,500100,House,3,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
4,500100,House,2,1993-09-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North

In [4]:
# Slice in time and aggregate 

def hits(group):
    d = {}
    d['hit_frac'] = group['rent_count'].dropna().shape[0]/group['rent_count'].shape[0]
    return pd.Series(d)

agg_rents = hp.aggregate_rents(rents, '2017-03-01')
agg_rents.head()

,rental_area,#bedrooms,region,rent_count,rent_geo_mean,rent_mean,territory
0,Addington,1,Canterbury,175.0,211.264853,213.931429,Christchurch City
1,Addington,2,Canterbury,104.0,322.500943,328.201923,Christchurch City
2,Addington,3,Canterbury,96.0,409.234255,416.583333,Christchurch City
3,Addington,4,Canterbury,5.0,488.000000,494.000000,Christchurch City
4,Addington,5+,Canterbury,NaN,NaN,NaN,Christchurch City

In [25]:
# What fraction of rental data do we have by #bedrooms?

date = '2017-03-01'
f = hp.aggregate_rents(rents, date, groupby_cols=('au2001', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('census area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

f = hp.aggregate_rents(rents, date, groupby_cols=('rental_area', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('rental area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

census area units
  #bedrooms  hit_frac
0         1  0.378125
1         2  0.656977
2         3  0.840456
3         4  0.599424
4        5+  0.128205
rental area units
  #bedrooms  hit_frac
0         1  0.757576
1         2  0.949495
2         3  1.000000
3         4  0.919192
4        5+  0.272727

# Select latest two quarters and slice into regional chunks

In [28]:
# Get latest two quarters of rents
start_date = hp.get_latest_quarters(2)[0]
rents = hp.get_data('rents')
rents = rents[rents['quarter'] >= start_date].copy()

# Create regional slices
for region in hp.REGIONS:
    # Build rents
    region_c = region.capitalize()
    region_rents = rents[rents['region'] == region_c].copy()
    print(region, region_rents['quarter'].unique(), '#rows =', region_rents.shape[0])
    path = hp.get_path('rents', region)
    print('  Saving to', path)
    
    # Create region directory if it does not exist
    if not path.parent.exists():
        path.parent.mkdir()
        
    region_rents.to_csv(path, index=False)

auckland ['2017-06-01' '2017-09-01'] #rows= 5452
  Saving to /home/araichev/affordability_nz/data/processed/auckland/rents.csv
canterbury ['2017-06-01' '2017-09-01'] #rows= 2522
  Saving to /home/araichev/affordability_nz/data/processed/canterbury/rents.csv
wellington ['2017-06-01' '2017-09-01'] #rows= 2412
  Saving to /home/araichev/affordability_nz/data/processed/wellington/rents.csv

# JSONize regional rents for the web, grouping by rental area and number of bedrooms

In [37]:
for region in hp.REGIONS:
    region_rents = hp.get_data('rents', region)
    d = hp.jsonize_rents(region_rents)
    path = hp.get_path('rents_json', region)
    print('**', region, '\n', d)
    with path.open('w') as tgt:
        json.dump(d, tgt)

** auckland
 {'Henderson': {'3': 495.0, '4': 604.0, '2': 405.0, '1': 296.0}, 'Kelston': {'3': 495.0, '4': 555.0, '2': 378.0, '1': 316.0}, 'Massey/Royal Heights': {'3': 483.0, '4': 571.0, '2': 395.0, '1': None}, 'Panmure': {'3': 522.0, '4': None, '2': 454.0, '1': 289.0}, 'Glen Innes/Pt England/Wai O Taiki': {'3': 570.0, '4': None, '2': None, '1': None}, 'Wellsford/Warkworth/Helensville': {'3': 463.0, '4': 549.0, '2': 403.0, '1': 284.0}, 'Wattle Downs/Conifer Grove': {'3': 520.0, '4': 636.0, '2': 416.0, '1': None}, 'Central West': {'3': 681.0, '4': 719.0, '2': 513.0, '1': 378.0}, 'Half Moon Bay/Farm Cove': {'3': 528.0, '4': 728.0, '2': 474.0, '1': None}, 'West Harbour': {'3': 559.0, '4': 710.0, '2': 475.0, '1': None}, 'Howick': {'3': 565.0, '4': 752.0, '2': 466.0, '1': 307.0}, 'Mangere Bridge/Airport': {'3': 513.0, '4': 610.0, '2': 441.0, '1': 353.0}, 'Botony Downs': {'3': 582.0, '4': 672.0, '2': None, '1': None}, 'Penrose/Mt Wellington South': {'3': 542.0, '4': 603.0, '2': 435.0, '1': None}, 'Maraetai/Clevedon': {'3': 553.0, '4': 663.0, '2': 445.0, '1': 409.0}, 'Glendene': {'3': 500.0, '4': 578.0, '2': 379.0, '1': None}, 'Glendhu/Glenfield': {'3': 553.0, '4': 669.0, '2': 445.0, '1': 362.0}, 'Central East': {'3': 764.0, '4': None, '2': 544.0, '1': 394.0}, 'Hillcrest/Northcote': {'3': 576.0, '4': 647.0, '2': 434.0, '1': 234.0}, 'Takapuna': {'3': 748.0, '4': 870.0, '2': 556.0, '1': 472.0}, 'Mt Albert/Owairaka': {'3': 584.0, '4': 762.0, '2': 442.0, '1': 316.0}, 'Parnell': {'3': 959.0, '4': None, '2': 626.0, '1': 458.0}, 'Mt Roskill/Wesley': {'3': 572.0, '4': None, '2': 466.0, '1': None}, 'New Lynn': {'3': 511.0, '4': 598.0, '2': 421.0, '1': 311.0}, 'Wairau Park/Glenfield North': {'3': 561.0, '4': 626.0, '2': 444.0, '1': None}, 'Eden Terrace': {'3': None, '4': None, '2': 540.0, '1': 388.0}, 'Balmoral': {'3': 681.0, '4': 866.0, '2': 476.0, '1': 397.0}, 'Ranui': {'3': 477.0, '4': 574.0, '2': 397.0, '1': None}, 'Papakura/Drury/Karaka': {'3': 475.0, '4': 558.0, '2': 398.0, '1': 247.0}, 'Mangere': {'3': 483.0, '4': 571.0, '2': None, '1': None}, 'Albany': {'3': 581.0, '4': 704.0, '2': 448.0, '1': 249.0}, 'Grey Lynn/Arch Hill': {'3': 768.0, '4': 971.0, '2': 611.0, '1': 376.0}, 'Gulf Harbour': {'3': 517.0, '4': 602.0, '2': 390.0, '1': 351.0}, 'Remuera South/Meadowbank South': {'3': 676.0, '4': 864.0, '2': 485.0, '1': 400.0}, 'Browns Bay': {'3': 584.0, '4': 711.0, '2': 478.0, '1': 414.0}, 'Weymouth': {'3': 484.0, '4': 507.0, '2': 394.0, '1': None}, 'Sunnynook/Westlake': {'3': 600.0, '4': 657.0, '2': 494.0, '1': 371.0}, 'St Johns': {'3': 676.0, '4': 871.0, '2': 477.0, '1': 294.0}, 'Te Atatu': {'3': 512.0, '4': None, '2': 404.0, '1': None}, 'St Lukes/Sandringham': {'3': 642.0, '4': 721.0, '2': 476.0, '1': 357.0}, 'Otahuhu': {'3': 498.0, '4': 582.0, '2': 391.0, '1': 261.0}, 'Dannemora': {'3': 580.0, '4': 691.0, '2': 491.0, '1': None}, 'Manukau Central': {'3': 519.0, '4': None, '2': 429.0, '1': 336.0}, 'Meadowbank': {'3': 681.0, '4': 844.0, '2': 478.0, '1': 313.0}, 'Herne Bay/St Marys': {'3': 1036.0, '4': 1203.0, '2': 622.0, '1': 393.0}, 'Te Atatu Peninsula': {'3': 513.0, '4': 648.0, '2': 437.0, '1': None}, 'East Coast Bays': {'3': 688.0, '4': 933.0, '2': 525.0, '1': None}, 'Manukau Heights and Manurewa Heights': {'3': 554.0, '4': 639.0, '2': 457.0, '1': None}, 'Takanini/Ardmore': {'3': 504.0, '4': 607.0, '2': 377.0, '1': 208.0}, 'Blockhouse Bay/New Windsor': {'3': 551.0, '4': 620.0, '2': 454.0, '1': None}, 'Waiheke Island': {'3': 601.0, '4': 737.0, '2': 460.0, '1': 374.0}, 'Mt Wellington North': {'3': 574.0, '4': 668.0, '2': 440.0, '1': 340.0}, 'Newton/Grafton': {'3': 663.0, '4': None, '2': 576.0, '1': 335.0}, 'Greenhithe/Unsworth Heights': {'3': 590.0, '4': 727.0, '2': 479.0, '1': 314.0}, 'Glen Eden': {'3': 489.0, '4': 563.0, '2': 307.0, '1': 301.0}, 'Waiuku': {'3': 423.0, '4': 515.0, '2': 324.0, '1': None}, 'Otara': {'3': 484.0, '4': 488.0, '2': None, '1': None}, 'Mission Bay/Orakei': {'3': 734.0, '4': 1054.0, '2': 557.0, '1': 387.0}, 'Pukekohe/Tuakau': {'3': 446.0, '4': 530.0, '2': 384.0, '1': 324.0}, 'Mt Wellington': {'3': 619.0, '4': None, '2': 459.0, '1': 363.0}, 'Papatoetoe North': {'3': 508.0, '4': 591.0, '2': 428.0, '1': 294.0}, 'Waterview/Avondale Heights': {'3': 569.0, '4': 647.0, '2': 478.0, '1': None}, 'Mt Eden': {'3': 714.0, '4': 801.0, '2': 500.0, '1': 383.0}, 'Rural Franklin': {'3': 491.0, '4': 524.0, '2': None, '1': None}, 'Kingsland': {'3': 721.0, '4': 861.0, '2': 532.0, '1': 413.0}, 'Beachhaven/Birkdale': {'3': 544.0, '4': 698.0, '2': 469.0, '1': None}, 'Ponsonby/Freemans Bay': {'3': 865.0, '4': 1218.0, '2': 663.0, '1': 491.0}, 'Royal Oak/One Tree Hill': {'3': 657.0, '4': 791.0, '2': 497.0, '1': 320.0}, 'Newmarket': {'3': 764.0, '4': None, '2': 611.0, '1': 429.0}, 'Highland Park': {'3': 544.0, '4': 663.0, '2': 438.0, '1': None}, 'Avondale': {'3': 536.0, '4': 595.0, '2': 389.0, '1': None}, 'Hillsborough': {'3': 565.0, '4': 754.0, '2': 456.0, '1': 363.0}, 'North Harbour/Pine Hill': {'3': 615.0, '4': 742.0, '2': 478.0, '1': 227.0}, 'Chatswood/Birkenhead/Northcote Point': {'3': 623.0, '4': 772.0, '2': 483.0, '1': 261.0}, 'Mangere East': {'3': 485.0, '4': 575.0, '2': 408.0, '1': 280.0}, 'Papatoetoe West': {'3': 500.0, '4': 585.0, '2': 419.0, '1': 327.0}, 'Pakuranga': {'3': 532.0, '4': 596.0, '2': 413.0, '1': None}, 'Manurewa North': {'3': 493.0, '4': 543.0, '2': 394.0, '1': 326.0}, 'Remuera': {'3': 788.0, '4': 1014.0, '2': 559.0, '1': 384.0}, 'Bucklands Beach': {'3': 602.0, '4': 784.0, '2': 475.0, '1': 402.0}, 'Rothesay/Murrays/Mairangi Bays': {'3': 663.0, '4': 730.0, '2': 489.0, '1': None}, 'Pt Chevalier': {'3': 707.0, '4': None, '2': 565.0, '1': None}, 'Harbourside': {'3': 926.0, '4': None, '2': 709.0, '1': 361.0}, 'Western Springs/Morningside': {'3': 616.0, '4': 891.0, '2': 477.0, '1': 320.0}, 'Devonport': {'3': 662.0, '4': 825.0, '2': 507.0, '1': 417.0}, 'Kohimarama': {'3': 696.0, '4': 1036.0, '2': 578.0, '1': None}, 'Ellerslie': {'3': 611.0, '4': 800.0, '2': 462.0, '1': None}, 'Three Kings': {'3': 608.0, '4': 665.0, '2': 466.0, '1': 365.0}, 'Western Beaches/Rural': {'3': 502.0, '4': 608.0, '2': 404.0, '1': 203.0}, 'Westmere/Surrey Crescent': {'3': 803.0, '4': 871.0, '2': 645.0, '1': 304.0}, 'St Helliers/Glendowie': {'3': 725.0, '4': 1006.0, '2': 573.0, '1': None}, 'Torbay': {'3': 587.0, '4': 697.0, '2': 469.0, '1': 367.0}, 'Papatoetoe South': {'3': 528.0, '4': 616.0, '2': 426.0, '1': 163.0}, 'Epsom': {'3': 692.0, '4': 914.0, '2': 505.0, '1': 250.0}, 'Lynfield': {'3': 556.0, '4': 629.0, '2': 459.0, '1': None}, 'Rewiti/Kumeu/Riverhead': {'3': 594.0, '4': 693.0, '2': 473.0, '1': None}, 'Orewa/Whangaparaoa': {'3': 541.0, '4': 673.0, '2': 447.0, '1': 334.0}, 'Onehunga/Oranga/Te Papapa': {'3': 617.0, '4': 785.0, '2': 461.0, '1': 291.0}, 'Titirangi': {'3': 540.0, '4': 703.0, '2': 440.0, '1': None}}
** canterbury
 {'Riccarton': {'3': 414.0, '4': 478.0, '2': 349.0, '1': 215.0}, 'Spreydon/Somerfield': {'3': 414.0, '4': 374.0, '2': 332.0, '1': 175.0}, 'Horby/Islington/Hei Hei': {'3': 401.0, '4': None, '2': 312.0, '1': 180.0}, 'St Albans North/ Mairehau': {'3': 424.0, '4': 520.0, '2': 329.0, '1': 217.0}, 'Addington': {'3': 410.0, '4': None, '2': 315.0, '1': 210.0}, 'Ashburton': {'3': 341.0, '4': 426.0, '2': 279.0, '1': None}, 'Sydenham/Waltham': {'3': 398.0, '4': 455.0, '2': 317.0, '1': 226.0}, 'Sawyers Arms/Northcote/Belfast': {'3': 405.0, '4': 511.0, '2': 379.0, '1': None}, 'Christchurch Central/Hagley': {'3': 467.0, '4': None, '2': 367.0, '1': 323.0}, 'Fendalton/Strowan/Bryndwr': {'3': 465.0, '4': 602.0, '2': 361.0, '1': 136.0}, 'Burwood/Dallington/Avondale': {'3': 390.0, '4': None, '2': None, '1': None}, 'Rural Timaru/Temuka/Geraldine': {'3': 322.0, '4': None, '2': 274.0, '1': None}, 'Bishopdale/Papanui': {'3': 410.0, '4': 466.0, '2': 354.0, '1': 145.0}, 'Richmond/Avonside': {'3': 373.0, '4': None, '2': 313.0, '1': 114.0}, 'St Martins/Beckenham/Huntsbury': {'3': 426.0, '4': 504.0, '2': 360.0, '1': None}, 'Linwood/Phillipstown': {'3': 364.0, '4': 402.0, '2': 297.0, '1': 196.0}, 'Marshland/Redwood': {'3': 410.0, '4': 501.0, '2': None, '1': None}, 'Sockburn/Upper Riccarton': {'3': 413.0, '4': 475.0, '2': 327.0, '1': 177.0}, 'St Albans East/Edgeware': {'3': 417.0, '4': 496.0, '2': 324.0, '1': 188.0}, 'Avonhead/Yaldhurst': {'3': 427.0, '4': 497.0, '2': 369.0, '1': 210.0}, 'Halswell/Wigram': {'3': 455.0, '4': 528.0, '2': 426.0, '1': 191.0}, 'Styx/Parklands': {'3': 413.0, '4': 507.0, '2': None, '1': None}, 'Waitaki': {'3': 289.0, '4': 301.0, '2': 268.0, '1': None}, 'Merivale/St Albans West': {'3': 468.0, '4': 652.0, '2': 342.0, '1': 217.0}, 'Rural Waimakariri': {'3': 382.0, '4': 456.0, '2': 387.0, '1': None}, 'Rangiora/Kaiapoi': {'3': 388.0, '4': 472.0, '2': 326.0, '1': None}, 'Aranui/Bromley/Bexley': {'3': 365.0, '4': None, '2': 317.0, '1': 210.0}, 'Kaikoura/Hurunui': {'3': 331.0, '4': 416.0, '2': 374.0, '1': None}, 'MacKenzie/Waimate': {'3': 267.0, '4': None, '2': None, '1': None}, 'Ilam/Westburn': {'3': 439.0, '4': 411.0, '2': 352.0, '1': 163.0}, 'Timaru Township': {'3': 335.0, '4': 379.0, '2': 268.0, '1': 172.0}, 'Woolston/Opawa': {'3': 380.0, '4': 470.0, '2': 303.0, '1': 99.0}, 'Banks Peninsula/Selwyn': {'3': 432.0, '4': 512.0, '2': 372.0, '1': None}, 'Avon Loop/Christchurch East': {'3': 427.0, '4': None, '2': 354.0, '1': 245.0}, 'Hillmorton/Hoon Hay': {'3': 408.0, '4': None, '2': 335.0, '1': None}, 'North Beach/New Brighton/Southshore': {'3': 390.0, '4': 411.0, '2': 314.0, '1': None}, 'Burnside/Harewood': {'3': 431.0, '4': 490.0, '2': None, '1': 133.0}, 'Westmorland/Cashmere/Barrington': {'3': 438.0, '4': 557.0, '2': 343.0, '1': 61.0}, 'Redcliffs/Sumner': {'3': 436.0, '4': 509.0, '2': 391.0, '1': None}, 'Richmond/Shirley': {'3': 395.0, '4': 467.0, '2': 322.0, '1': None}}

** wellington
 {'Western Hills/Haywards': {'3': 444.0, '4': 548.0, '2': 347.0, '1': 197.0}, 'Kilbirnie/Lyall Bay': {'3': 586.0, '4': None, '2': 435.0, '1': 340.0}, 'Mt Cook': {'3': 584.0, '4': 673.0, '2': 496.0, '1': 251.0}, 'Totara Park/Maoribank/Te Marua': {'3': 430.0, '4': None, '2': 291.0, '1': None}, 'Trentham West/Eldersley/Clouston Park': {'3': 449.0, '4': None, '2': 285.0, '1': 165.0}, 'Trentham North/Wallaceville': {'3': 436.0, '4': None, '2': 287.0, '1': 152.0}, 'Petone/Esplanade': {'3': 535.0, '4': None, '2': 419.0, '1': 242.0}, 'Karori': {'3': 588.0, '4': None, '2': None, '1': 295.0}, 'Ngaio/Kaiwharawhara/Wilton': {'3': 552.0, '4': 676.0, '2': 391.0, '1': 306.0}, 'Wadestown/Thordon': {'3': 592.0, '4': None, '2': 507.0, '1': 340.0}, 'Brooklyn': {'3': 617.0, '4': None, '2': 447.0, '1': 352.0}, 'Oriental Bay/Seatoun': {'3': 757.0, '4': None, '2': 633.0, '1': 361.0}, 'Hutt Central/Waterloo': {'3': 511.0, '4': None, '2': 399.0, '1': 263.0}, 'Kelburn/Aro Valley': {'3': 550.0, '4': 737.0, '2': 484.0, '1': 323.0}, 'Te Aro': {'3': 686.0, '4': 773.0, '2': 533.0, '1': 342.0}, 'Petone West/Alicetown': {'3': 509.0, '4': None, '2': 324.0, '1': 242.0}, 'Khandallah': {'3': 565.0, '4': 720.0, '2': 519.0, '1': 320.0}, 'Moera/Waiwhetu': {'3': 470.0, '4': None, '2': 315.0, '1': 244.0}, 'Hataitai': {'3': 564.0, '4': 691.0, '2': 446.0, '1': 291.0}, 'Porirua East/Waitangirua': {'3': 331.0, '4': None, '2': None, '1': None}, 'Stokes Valley': {'3': 405.0, '4': None, '2': None, '1': None}, 'Taita/Naenae': {'3': 396.0, '4': None, '2': 299.0, '1': 201.0}, 'Mt Victoria/Roseneath': {'3': 657.0, '4': 792.0, '2': 521.0, '1': 310.0}, 'Karori South/Makara': {'3': 487.0, '4': None, '2': 439.0, '1': 175.0}, 'Northland': {'3': 573.0, '4': None, '2': 468.0, '1': 287.0}, 'Waikanae/Otaki': {'3': 385.0, '4': None, '2': 327.0, '1': None}, 'Lambton': {'3': 585.0, '4': None, '2': 534.0, '1': 318.0}, 'Heretaunga/Silverstream': {'3': 440.0, '4': None, '2': 292.0, '1': None}, 'Wainuiomata': {'3': 356.0, '4': None, '2': 297.0, '1': None}, 'Eastern Bays': {'3': 485.0, '4': 648.0, '2': 466.0, '1': 303.0}, 'Johnsonville/Newlands': {'3': 501.0, '4': 692.0, '2': 394.0, '1': None}, 'Island Bay/Melrose': {'3': 613.0, '4': None, '2': 440.0, '1': 328.0}, 'Miramar/Strathmore': {'3': 577.0, '4': None, '2': 476.0, '1': 330.0}, 'Carterton/South Wairarapa': {'3': 323.0, '4': None, '2': 260.0, '1': None}, 'Tawa/Grenada North': {'3': 412.0, '4': 606.0, '2': 386.0, '1': None}, 'Epuni/Avalon': {'3': 467.0, '4': None, '2': 379.0, '1': 177.0}, 'Masterton': {'3': 310.0, '4': 413.0, '2': 255.0, '1': 190.0}, 'Paramata/Mana/Pukerua Bay': {'3': 508.0, '4': None, '2': 391.0, '1': 273.0}, 'Vogeltown/Berhampore/Newtown': {'3': 544.0, '4': 754.0, '2': 428.0, '1': 281.0}, 'Kingston/Happy Valley': {'3': 581.0, '4': None, '2': 389.0, '1': 298.0}, 'Titahi Bay/Onepoto/Elsdon': {'3': 396.0, '4': None, '2': 357.0, '1': 199.0}, 'Paraparaumu/Raumati': {'3': 422.0, '4': 514.0, '2': 361.0, '1': 190.0}, 'Papakowhai/Whitby/Pauatahanui': {'3': 488.0, '4': 572.0, '2': None, '1': None}}