In [1]:
from pathlib import Path
import json
from functools import reduce
import math
import datetime as dt
import pytz 
from itertools import product
from collections import OrderedDict
import time
import sys

import requests
import numpy as np
import pandas as pd
import geopandas as gpd
import shapely.ops as so

import helpers as hp

%load_ext autoreload
%autoreload 2

# Download rent data

In [6]:
base_url = 'https://www.mbie.govt.nz/info-services/housing-and-property/sector-information-and-statistics/rental-bond-data/detailed/'
file_names = [
    'detailed-lodged-bonds.csv',
    'detailed-mean-rents.csv',
    'detailed-geo-mean-rents.csv',
]

for file_name in file_names:
    url = base_url + file_name
    print("Getting and saving", url)
    r = requests.get(url)
    path = hp.DATA_DIR/'collected'/file_name
    with path.open('w') as tgt:
        tgt.write(r.text)

Getting and saving https://www.mbie.govt.nz/info-services/housing-and-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-lodged-bonds.csv
Getting and saving https://www.mbie.govt.nz/info-services/housing-and-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-mean-rents.csv
Getting and saving https://www.mbie.govt.nz/info-services/housing-and-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-geo-mean-rents.csv

# Prepare rent data

In [7]:
# Reshape and merge all rent data sets

def clean(f, name):
    f = f.copy()
    f = f.rename(columns={
        'SAU': 'au2001',
        'Property_Type': 'property_type',
        'Bedrooms': '#bedrooms'
    })

    # Drop subtotals
    cond = False
    for col in ['au2001', 'property_type', '#bedrooms']:
        cond |= f[col].str.contains('total', case=False)

    f = f[~cond].copy()
    
    # Reshape
    id_vars = ['au2001', 'property_type', '#bedrooms']
    value_vars = [c for c in f.columns if '-' in c]
    f = pd.melt(f, id_vars=id_vars, value_vars=value_vars,
      var_name='quarter', value_name=name)
    
    return f

paths = [
    hp.DATA_DIR/'collected'/'detailed-lodged-bonds.csv',
    hp.DATA_DIR/'collected'/'detailed-mean-rents.csv',
    hp.DATA_DIR/'collected'/'detailed-geo-mean-rents.csv',
]
names = [
    'rent_count', 
    'rent_mean', 
    'rent_geo_mean',
]
frames = []
for path, name in zip(paths, names):
    f = pd.read_csv(path, dtype={'SAU': str})
    frames.append(clean(f, name))
    
f = reduce(lambda x, y: pd.merge(x, y), frames)

# Merge in region data
path = hp.get_path('au2001_csv')
g = pd.read_csv(path, dtype={'au2001': str})
f = f.merge(g)

# Write to file
path = hp.get_path('rents')
f.to_csv(path, index=False)
f[f['rent_count'].notnull()].head()

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
246,500202,Flat or Apartment,1,1995-03-01,8.0,82.0,82.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
266,500202,Flat or Apartment,1,1996-03-01,5.0,79.0,79.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
269,500202,House,3,1996-03-01,5.0,123.0,118.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
294,500202,House,3,1997-06-01,5.0,154.0,152.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
319,500202,House,3,1998-09-01,7.0,139.0,137.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo

In [8]:
# Print latest 2 quarters
hp.get_latest_quarters(2)

['2018-06-01', '2018-09-01']

# Explore rents

In [9]:
rents = hp.get_data('rents')
print(rents['quarter'].unique())
rents.head()

['1993-03-01' '1993-06-01' '1993-09-01' '1993-12-01' '1994-03-01'
 '1994-06-01' '1994-09-01' '1994-12-01' '1995-03-01' '1995-06-01'
 '1995-09-01' '1995-12-01' '1996-03-01' '1996-06-01' '1996-09-01'
 '1996-12-01' '1997-03-01' '1997-06-01' '1997-09-01' '1997-12-01'
 '1998-03-01' '1998-06-01' '1998-09-01' '1998-12-01' '1999-03-01'
 '1999-06-01' '1999-09-01' '1999-12-01' '2000-03-01' '2000-06-01'
 '2000-09-01' '2000-12-01' '2001-03-01' '2001-06-01' '2001-09-01'
 '2001-12-01' '2002-03-01' '2002-06-01' '2002-09-01' '2002-12-01'
 '2003-03-01' '2003-06-01' '2003-09-01' '2003-12-01' '2004-03-01'
 '2004-06-01' '2004-09-01' '2004-12-01' '2005-03-01' '2005-06-01'
 '2005-09-01' '2005-12-01' '2006-03-01' '2006-06-01' '2006-09-01'
 '2006-12-01' '2007-03-01' '2007-06-01' '2007-09-01' '2007-12-01'
 '2008-03-01' '2008-06-01' '2008-09-01' '2008-12-01' '2009-03-01'
 '2009-06-01' '2009-09-01' '2009-12-01' '2010-03-01' '2010-06-01'
 '2010-09-01' '2010-12-01' '2011-03-01' '2011-06-01' '2011-09-01'
 '2011-12-01' '2012-03-01' '2012-06-01' '2012-09-01' '2012-12-01'
 '2013-03-01' '2013-06-01' '2013-09-01' '2013-12-01' '2014-03-01'
 '2014-06-01' '2014-09-01' '2014-12-01' '2015-03-01' '2015-06-01'
 '2015-09-01' '2015-12-01' '2016-03-01' '2016-06-01' '2016-09-01'
 '2016-12-01' '2017-03-01' '2017-06-01' '2017-09-01' '2017-12-01'
 '2018-03-01' '2018-06-01' '2018-09-01']

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
0,500100,House,2,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
1,500100,House,3,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
2,500100,House,2,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
3,500100,House,3,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
4,500100,House,2,1993-09-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North

In [10]:
# Slice in time and aggregate 
agg_rents = hp.aggregate_rents(rents, '2018-06-01')
agg_rents.head()

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

,rental_area,#bedrooms,region,rent_count,rent_geo_mean,rent_mean,territory
0,Addington,1,Canterbury,123.0,212.000000,213.845528,Christchurch City
1,Addington,2,Canterbury,63.0,319.187081,325.031746,Christchurch City
2,Addington,3,Canterbury,47.0,422.228096,427.361702,Christchurch City
3,Addington,4,Canterbury,6.0,466.000000,472.000000,Christchurch City
4,Addington,5+,Canterbury,0.0,NaN,NaN,Christchurch City

In [11]:
f = hp.aggregate_rents(rents, '2018-06-01', groupby_cols=('au2001', '#bedrooms'))
cond = f['region'] == 'Auckland'
f[cond]

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

,au2001,#bedrooms,region,rent_count,rent_geo_mean,rent_mean,territory
287,505300,1,Auckland,0.0,NaN,NaN,Rodney District
288,505300,2,Auckland,5.0,429.000000,430.000000,Rodney District
289,505300,3,Auckland,16.0,450.929943,453.312500,Rodney District
290,505300,4,Auckland,12.0,456.459393,457.250000,Rodney District
291,505300,5+,Auckland,0.0,NaN,NaN,Rodney District
292,505400,1,Auckland,0.0,NaN,NaN,Rodney District
293,505400,2,Auckland,0.0,NaN,NaN,Rodney District
294,505400,3,Auckland,0.0,NaN,NaN,Rodney District
295,505400,4,Auckland,0.0,NaN,NaN,Rodney District
296,505500,1,Auckland,7.0,289.000000,293.000000,Rodney District
297,505500,2,Auckland,23.0,441.434013,442.217391,Rodney District
298,505500,3,Auckland,41.0,530.256069,533.048780,Rodney District
299,505500,4,Auckland,24.0,565.294502,571.250000,Rodney District
300,505500,5+,Auckland,0.0,NaN,NaN,Rodney District
301,505600,1,Auckland,6.0,331.000000,340.000000,Rodney District
302,505600,2,Auckland,29.0,446.323881,449.827586,Rodney District
303,505600,3,Auckland,34.0,618.997068,631.352941,Rodney District
304,505600,4,Auckland,35.0,734.876979,772.685714,Rodney District
305,505600,5+,Auckland,12.0,900.564823,939.500000,Rodney District
306,505802,1,Auckland,0.0,NaN,NaN,Rodney District
307,505802,2,Auckland,18.0,451.690230,454.222222,Rodney District
308,505802,3,Auckland,52.0,587.406258,592.846154,Rodney District
309,505802,4,Auckland,27.0,669.720370,682.000000,Rodney District
310,505802,5+,Auckland,7.0,879.000000,886.000000,Rodney District
311,505803,1,Auckland,0.0,NaN,NaN,Rodney District
312,505803,2,Auckland,0.0,NaN,NaN,Rodney District
313,505803,3,Auckland,0.0,NaN,NaN,Rodney District
314,505804,1,Auckland,0.0,NaN,NaN,Rodney District
315,505804,2,Auckland,0.0,NaN,NaN,Rodney District
316,505804,3,Auckland,5.0,533.000000,538.000000,Rodney District
...,...,...,...,...,...,...,...
1937,525910,4,Auckland,41.0,562.328221,608.243902,Franklin District
1938,525910,5+,Auckland,0.0,NaN,NaN,Franklin District
1939,525921,1,Auckland,0.0,NaN,NaN,Franklin District
1940,525921,2,Auckland,18.0,403.694828,406.333333,Franklin District
1941,525921,3,Auckland,64.0,480.505499,482.984375,Franklin District
1942,525921,4,Auckland,38.0,557.762413,560.210526,Franklin District
1943,525921,5+,Auckland,0.0,NaN,NaN,Franklin District
1944,525922,1,Auckland,0.0,NaN,NaN,Franklin District
1945,525922,2,Auckland,17.0,377.699152,379.352941,Franklin District
1946,525922,3,Auckland,20.0,467.898006,470.200000,Franklin District
1947,525922,4,Auckland,7.0,558.000000,560.000000,Franklin District
1948,525922,5+,Auckland,0.0,NaN,NaN,Franklin District
1949,526101,1,Auckland,0.0,NaN,NaN,Franklin District
1950,526101,2,Auckland,18.0,368.624097,371.777778,Franklin District
1951,526101,3,Auckland,45.0,474.031817,476.466667,Franklin District
1952,526101,4,Auckland,14.0,502.000000,508.000000,Franklin District
1953,526101,5+,Auckland,0.0,NaN,NaN,Franklin District
1954,526102,2,Auckland,0.0,NaN,NaN,Franklin District
1955,526102,3,Auckland,6.0,448.000000,449.000000,Franklin District
1956,526102,4,Auckland,0.0,NaN,NaN,Franklin District
1957,526200,1,Auckland,0.0,NaN,NaN,Franklin District
1958,526200,2,Auckland,10.0,377.559267,382.500000,Franklin District
1959,526200,3,Auckland,58.0,435.356723,437.534483,Franklin District
1960,526200,4,Auckland,20.0,483.301369,484.650000,Franklin District
1961,526200,5+,Auckland,0.0,NaN,NaN,Franklin District
1977,526701,1,Auckland,0.0,NaN,NaN,Franklin District
1978,526701,2,Auckland,0.0,NaN,NaN,Franklin District
1979,526701,3,Auckland,10.0,500.497752,508.000000,Franklin District
1980,526701,4,Auckland,0.0,NaN,NaN,Franklin District
1981,526701,5+,Auckland,0.0,NaN,NaN,Franklin District

In [12]:
# What fraction of rental data do we have by #bedrooms?

def hits(group):
    d = {}
    d['hit_frac'] = group['rent_mean'].count()/group['rent_mean'].shape[0]
    return pd.Series(d)

date = '2018-06-01'
f = hp.aggregate_rents(rents, date, groupby_cols=('au2001', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('census area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

f = hp.aggregate_rents(rents, date, groupby_cols=('rental_area', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('rental area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

census area units
  #bedrooms  hit_frac
0         1  0.306502
1         2  0.595376
2         3  0.843305
3         4  0.489914
4        5+  0.095847
rental area units
  #bedrooms  hit_frac
0         1  0.666667
1         2  0.929293
2         3  1.000000
3         4  0.808081
4        5+  0.242424

# Select latest two quarters and slice into regional chunks

In [13]:
# Get latest two quarters of rents
start_date = hp.get_latest_quarters(2)[0]
rents = hp.get_data('rents')
rents = rents[rents['quarter'] >= start_date].copy()

# Create regional slices
for region in hp.REGIONS:
    # Build rents
    region_c = region.capitalize()
    region_rents = rents[rents['region'] == region_c].copy()
    print(region, region_rents['quarter'].unique(), '#rows =', region_rents.shape[0])
    path = hp.get_path('rents', region)
    print('  Saving to', path)
    
    # Create region directory if it does not exist
    if not path.parent.exists():
        path.parent.mkdir()
        
    region_rents.to_csv(path, index=False)

auckland ['2018-06-01' '2018-09-01'] #rows = 5576
  Saving to /home/araichev/affordability_nz/data/processed/auckland/rents.csv
canterbury ['2018-06-01' '2018-09-01'] #rows = 2544
  Saving to /home/araichev/affordability_nz/data/processed/canterbury/rents.csv
wellington ['2018-06-01' '2018-09-01'] #rows = 2416
  Saving to /home/araichev/affordability_nz/data/processed/wellington/rents.csv

# JSONize regional rents for the web, grouping by rental area and number of bedrooms

In [14]:
for region in hp.REGIONS:
    region_rents = hp.get_data('rents', region)
    d = hp.build_json_rents(region_rents)
    path = hp.get_path('rents_json', region)
    print('**', region, '\n', d)
    with path.open('w') as tgt:
        json.dump(d, tgt)

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

** auckland
 {'Western Beaches/Rural': {'2': 466.0, '1': None, '3': 505.0, '4': 581.0}, 'Meadowbank': {'2': 516.0, '1': 390.0, '3': 706.0, '4': 879.0}, 'Grey Lynn/Arch Hill': {'2': 651.0, '1': 380.0, '3': 827.0, '4': 1023.0}, 'Pakuranga': {'2': 442.0, '1': None, '3': 548.0, '4': 649.0}, 'Central East': {'2': 540.0, '1': 395.0, '3': 649.0, '4': None}, 'Rothesay/Murrays/Mairangi Bays': {'2': 532.0, '1': 241.0, '3': 660.0, '4': 770.0}, 'Remuera': {'2': 595.0, '1': 467.0, '3': 812.0, '4': 1006.0}, 'Mangere Bridge/Airport': {'2': 436.0, '1': 342.0, '3': 576.0, '4': 687.0}, 'Kelston': {'2': 414.0, '1': 323.0, '3': 510.0, '4': 605.0}, 'Chatswood/Birkenhead/Northcote Point': {'2': 503.0, '1': 330.0, '3': 672.0, '4': 719.0}, 'Waiheke Island': {'2': 466.0, '1': 379.0, '3': 623.0, '4': 705.0}, 'Epsom': {'2': 531.0, '1': 274.0, '3': 804.0, '4': 1022.0}, 'Royal Oak/One Tree Hill': {'2': 518.0, '1': 373.0, '3': 667.0, '4': 802.0}, 'Hillsborough': {'2': 468.0, '1': None, '3': 581.0, '4': 701.0}, 'Westmere/Surrey Crescent': {'2': 631.0, '1': 273.0, '3': 766.0, '4': 855.0}, 'Balmoral': {'2': 486.0, '1': 384.0, '3': 727.0, '4': 858.0}, 'Browns Bay': {'2': 481.0, '1': 420.0, '3': 604.0, '4': 702.0}, 'Waterview/Avondale Heights': {'2': 476.0, '1': 259.0, '3': 538.0, '4': 689.0}, 'Takapuna': {'2': 563.0, '1': 483.0, '3': 703.0, '4': 903.0}, 'Papatoetoe West': {'2': 420.0, '1': None, '3': 530.0, '4': 582.0}, 'St Helliers/Glendowie': {'2': 544.0, '1': None, '3': 732.0, '4': 1062.0}, 'Papakura/Drury/Karaka': {'2': 418.0, '1': 235.0, '3': 489.0, '4': 632.0}, 'Lynfield': {'2': 491.0, '1': None, '3': 588.0, '4': 697.0}, 'Onehunga/Oranga/Te Papapa': {'2': 489.0, '1': 315.0, '3': 609.0, '4': None}, 'Otara': {'2': 450.0, '1': 259.0, '3': 495.0, '4': None}, 'Ranui': {'2': 426.0, '1': None, '3': 462.0, '4': 516.0}, 'Wellsford/Warkworth/Helensville': {'2': 439.0, '1': 275.0, '3': 486.0, '4': 537.0}, 'Kohimarama': {'2': 571.0, '1': 516.0, '3': 706.0, '4': 999.0}, 'Devonport': {'2': 521.0, '1': 446.0, '3': 762.0, '4': 965.0}, 'Waiuku': {'2': 369.0, '1': None, '3': 471.0, '4': 502.0}, 'Highland Park': {'2': 463.0, '1': None, '3': 568.0, '4': 643.0}, 'Henderson': {'2': 433.0, '1': 373.0, '3': 503.0, '4': 607.0}, 'Herne Bay/St Marys': {'2': 640.0, '1': 437.0, '3': 981.0, '4': 1389.0}, 'Wattle Downs/Conifer Grove': {'2': 432.0, '1': None, '3': 536.0, '4': 610.0}, 'Glen Innes/Pt England/Wai O Taiki': {'2': None, '1': None, '3': 580.0, '4': None}, 'Manukau Heights and Manurewa Heights': {'2': 459.0, '1': None, '3': 567.0, '4': 652.0}, 'Penrose/Mt Wellington South': {'2': 453.0, '1': 221.0, '3': 548.0, '4': 552.0}, 'Papatoetoe North': {'2': 442.0, '1': 317.0, '3': 544.0, '4': None}, 'West Harbour': {'2': 553.0, '1': None, '3': 592.0, '4': 696.0}, 'Wairau Park/Glenfield North': {'2': 453.0, '1': None, '3': 577.0, '4': 656.0}, 'St Lukes/Sandringham': {'2': 487.0, '1': 397.0, '3': 614.0, '4': 751.0}, 'New Lynn': {'2': 438.0, '1': 326.0, '3': 526.0, '4': 637.0}, 'North Harbour/Pine Hill': {'2': 490.0, '1': 240.0, '3': 625.0, '4': 748.0}, 'Takanini/Ardmore': {'2': None, '1': 364.0, '3': 514.0, '4': 613.0}, 'Glendhu/Glenfield': {'2': 465.0, '1': 400.0, '3': 571.0, '4': 660.0}, 'Mission Bay/Orakei': {'2': 575.0, '1': 393.0, '3': 767.0, '4': 996.0}, 'Mangere': {'2': 422.0, '1': None, '3': 500.0, '4': 658.0}, 'Glendene': {'2': None, '1': None, '3': 498.0, '4': None}, 'Bucklands Beach': {'2': 534.0, '1': None, '3': 628.0, '4': 766.0}, 'Pt Chevalier': {'2': 611.0, '1': 295.0, '3': 700.0, '4': None}, 'Torbay': {'2': 506.0, '1': 371.0, '3': 615.0, '4': 752.0}, 'Botony Downs': {'2': 465.0, '1': None, '3': 601.0, '4': 701.0}, 'Western Springs/Morningside': {'2': 493.0, '1': 374.0, '3': 608.0, '4': 809.0}, 'Mt Eden': {'2': 525.0, '1': 389.0, '3': 715.0, '4': 948.0}, 'Rural Franklin': {'2': 402.0, '1': None, '3': 474.0, '4': 602.0}, 'Mt Wellington': {'2': 464.0, '1': None, '3': 586.0, '4': None}, 'Half Moon Bay/Farm Cove': {'2': 460.0, '1': None, '3': 559.0, '4': 624.0}, 'Te Atatu Peninsula': {'2': 447.0, '1': None, '3': 548.0, '4': 646.0}, 'Ponsonby/Freemans Bay': {'2': 684.0, '1': 501.0, '3': 900.0, '4': 1139.0}, 'Mt Wellington North': {'2': 463.0, '1': 342.0, '3': 570.0, '4': 682.0}, 'Eden Terrace': {'2': 578.0, '1': 434.0, '3': 691.0, '4': None}, 'Maraetai/Clevedon': {'2': 447.0, '1': 381.0, '3': 570.0, '4': 691.0}, 'Sunnynook/Westlake': {'2': 510.0, '1': 433.0, '3': 609.0, '4': 721.0}, 'Remuera South/Meadowbank South': {'2': 499.0, '1': None, '3': 706.0, '4': 806.0}, 'Newton/Grafton': {'2': 589.0, '1': 352.0, '3': 630.0, '4': None}, 'Otahuhu': {'2': 425.0, '1': 262.0, '3': 481.0, '4': 582.0}, 'Titirangi': {'2': None, '1': 223.0, '3': 542.0, '4': None}, 'Manurewa North': {'2': 411.0, '1': 338.0, '3': 499.0, '4': 579.0}, 'Mt Roskill/Wesley': {'2': 513.0, '1': None, '3': 568.0, '4': None}, 'Greenhithe/Unsworth Heights': {'2': 492.0, '1': 450.0, '3': 606.0, '4': 737.0}, 'Howick': {'2': 468.0, '1': None, '3': 565.0, '4': 680.0}, 'Panmure': {'2': 475.0, '1': None, '3': 555.0, '4': None}, 'St Johns': {'2': 505.0, '1': 350.0, '3': 664.0, '4': 882.0}, 'Glen Eden': {'2': 460.0, '1': None, '3': 496.0, '4': 578.0}, 'East Coast Bays': {'2': 534.0, '1': None, '3': 697.0, '4': 876.0}, 'Central West': {'2': 529.0, '1': 403.0, '3': 648.0, '4': None}, 'Gulf Harbour': {'2': None, '1': None, '3': 528.0, '4': 592.0}, 'Dannemora': {'2': 510.0, '1': 420.0, '3': 624.0, '4': 704.0}, 'Mt Albert/Owairaka': {'2': 459.0, '1': 277.0, '3': 606.0, '4': 753.0}, 'Manukau Central': {'2': 479.0, '1': 338.0, '3': 547.0, '4': None}, 'Albany': {'2': 503.0, '1': 292.0, '3': 591.0, '4': 695.0}, 'Harbourside': {'2': 701.0, '1': 346.0, '3': 866.0, '4': None}, 'Newmarket': {'2': 564.0, '1': 428.0, '3': 734.0, '4': None}, 'Pukekohe/Tuakau': {'2': 397.0, '1': 341.0, '3': 461.0, '4': 545.0}, 'Parnell': {'2': 676.0, '1': 489.0, '3': 916.0, '4': None}, 'Hillcrest/Northcote': {'2': 467.0, '1': 430.0, '3': 592.0, '4': 724.0}, 'Papatoetoe South': {'2': 443.0, '1': 209.0, '3': 546.0, '4': None}, 'Kingsland': {'2': 547.0, '1': 431.0, '3': 738.0, '4': 838.0}, 'Rewiti/Kumeu/Riverhead': {'2': 442.0, '1': 331.0, '3': 611.0, '4': 735.0}, 'Te Atatu': {'2': 427.0, '1': None, '3': 515.0, '4': 617.0}, 'Mangere East': {'2': 420.0, '1': 288.0, '3': 495.0, '4': 575.0}, 'Blockhouse Bay/New Windsor': {'2': 501.0, '1': 238.0, '3': 553.0, '4': 659.0}, 'Beachhaven/Birkdale': {'2': 465.0, '1': None, '3': 563.0, '4': 618.0}, 'Ellerslie': {'2': 488.0, '1': 377.0, '3': 626.0, '4': 724.0}, 'Orewa/Whangaparaoa': {'2': 463.0, '1': 371.0, '3': 559.0, '4': 692.0}, 'Avondale': {'2': 449.0, '1': 210.0, '3': 551.0, '4': 579.0}, 'Massey/Royal Heights': {'2': 193.0, '1': None, '3': 502.0, '4': 585.0}, 'Three Kings': {'2': None, '1': 430.0, '3': 636.0, '4': 760.0}, 'Weymouth': {'2': None, '1': None, '3': 516.0, '4': 573.0}}
** canterbury
 {'Hillmorton/Hoon Hay': {'2': None, '1': None, '3': 410.0, '4': 452.0}, 'Styx/Parklands': {'2': None, '1': None, '3': 402.0, '4': 511.0}, 'Riccarton': {'2': 352.0, '1': 206.0, '3': 425.0, '4': 478.0}, 'Timaru Township': {'2': 255.0, '1': 194.0, '3': 340.0, '4': 400.0}, 'Burnside/Harewood': {'2': None, '1': None, '3': 428.0, '4': 497.0}, 'Linwood/Phillipstown': {'2': 298.0, '1': 208.0, '3': 391.0, '4': 429.0}, 'Burwood/Dallington/Avondale': {'2': None, '1': None, '3': 413.0, '4': 449.0}, 'Richmond/Avonside': {'2': 305.0, '1': 145.0, '3': 400.0, '4': None}, 'Ilam/Westburn': {'2': 379.0, '1': 149.0, '3': 433.0, '4': 519.0}, 'Horby/Islington/Hei Hei': {'2': 330.0, '1': None, '3': 405.0, '4': None}, 'Rural Waimakariri': {'2': 335.0, '1': None, '3': 422.0, '4': 411.0}, 'Christchurch Central/Hagley': {'2': 405.0, '1': 310.0, '3': 378.0, '4': None}, 'Fendalton/Strowan/Bryndwr': {'2': 389.0, '1': 201.0, '3': 461.0, '4': 553.0}, 'Merivale/St Albans West': {'2': 355.0, '1': 219.0, '3': 480.0, '4': 634.0}, 'Kaikoura/Hurunui': {'2': None, '1': None, '3': 345.0, '4': None}, 'North Beach/New Brighton/Southshore': {'2': 336.0, '1': 173.0, '3': 381.0, '4': 453.0}, 'St Martins/Beckenham/Huntsbury': {'2': 353.0, '1': None, '3': 449.0, '4': 504.0}, 'MacKenzie/Waimate': {'2': 229.0, '1': 154.0, '3': 276.0, '4': None}, 'Richmond/Shirley': {'2': 328.0, '1': None, '3': 410.0, '4': 351.0}, 'Addington': {'2': 319.0, '1': 212.0, '3': 422.0, '4': 466.0}, 'Banks Peninsula/Selwyn': {'2': 370.0, '1': None, '3': 418.0, '4': 499.0}, 'Avonhead/Yaldhurst': {'2': 366.0, '1': 174.0, '3': 428.0, '4': 481.0}, 'Halswell/Wigram': {'2': 360.0, '1': 189.0, '3': 469.0, '4': 545.0}, 'Waitaki': {'2': 261.0, '1': 198.0, '3': 305.0, '4': None}, 'Sockburn/Upper Riccarton': {'2': 355.0, '1': 180.0, '3': 402.0, '4': 447.0}, 'Rangiora/Kaiapoi': {'2': 334.0, '1': None, '3': 397.0, '4': 464.0}, 'Marshland/Redwood': {'2': None, '1': None, '3': 415.0, '4': 501.0}, 'St Albans East/Edgeware': {'2': 326.0, '1': 200.0, '3': 430.0, '4': 495.0}, 'Sydenham/Waltham': {'2': 327.0, '1': 176.0, '3': 390.0, '4': 490.0}, 'Aranui/Bromley/Bexley': {'2': 292.0, '1': None, '3': 360.0, '4': None}, 'Avon Loop/Christchurch East': {'2': 378.0, '1': 248.0, '3': 431.0, '4': None}, 'Redcliffs/Sumner': {'2': 397.0, '1': 366.0, '3': 453.0, '4': 509.0}, 'Westmorland/Cashmere/Barrington': {'2': None, '1': None, '3': 444.0, '4': 556.0}, 'Woolston/Opawa': {'2': 313.0, '1': 130.0, '3': 374.0, '4': None}, 'Ashburton': {'2': 295.0, '1': None, '3': 337.0, '4': 424.0}, 'Sawyers Arms/Northcote/Belfast': {'2': 362.0, '1': 153.0, '3': 419.0, '4': 534.0}, 'Spreydon/Somerfield': {'2': 345.0, '1': 175.0, '3': 409.0, '4': None}, 'Bishopdale/Papanui': {'2': 352.0, '1': 205.0, '3': 432.0, '4': 464.0}, 'Rural Timaru/Temuka/Geraldine': {'2': None, '1': None, '3': 320.0, '4': None}, 'St Albans North/ Mairehau': {'2': 313.0, '1': 203.0, '3': 444.0, '4': 469.0}}

** wellington
 {'Paramata/Mana/Pukerua Bay': {'2': None, '1': 293.0, '3': 516.0, '4': None}, 'Oriental Bay/Seatoun': {'2': 556.0, '1': 513.0, '3': 706.0, '4': None}, 'Island Bay/Melrose': {'2': 480.0, '1': 213.0, '3': 623.0, '4': None}, 'Te Aro': {'2': 558.0, '1': 371.0, '3': 689.0, '4': 847.0}, 'Titahi Bay/Onepoto/Elsdon': {'2': 434.0, '1': 237.0, '3': 434.0, '4': None}, 'Masterton': {'2': 248.0, '1': None, '3': 334.0, '4': 375.0}, 'Papakowhai/Whitby/Pauatahanui': {'2': None, '1': None, '3': 533.0, '4': 644.0}, 'Eastern Bays': {'2': 392.0, '1': None, '3': 490.0, '4': 675.0}, 'Trentham North/Wallaceville': {'2': 314.0, '1': None, '3': 448.0, '4': None}, 'Kelburn/Aro Valley': {'2': 492.0, '1': 328.0, '3': 668.0, '4': 850.0}, 'Khandallah': {'2': None, '1': 332.0, '3': 633.0, '4': 799.0}, 'Mt Cook': {'2': 512.0, '1': 258.0, '3': 618.0, '4': 709.0}, 'Epuni/Avalon': {'2': 415.0, '1': 171.0, '3': 516.0, '4': None}, 'Tawa/Grenada North': {'2': 406.0, '1': 211.0, '3': 500.0, '4': None}, 'Heretaunga/Silverstream': {'2': 304.0, '1': None, '3': None, '4': 654.0}, 'Stokes Valley': {'2': 349.0, '1': None, '3': 452.0, '4': None}, 'Petone/Esplanade': {'2': 447.0, '1': 263.0, '3': 506.0, '4': 682.0}, 'Taita/Naenae': {'2': None, '1': 233.0, '3': 436.0, '4': None}, 'Karori': {'2': 416.0, '1': 307.0, '3': 561.0, '4': 750.0}, 'Kilbirnie/Lyall Bay': {'2': 467.0, '1': 333.0, '3': 592.0, '4': None}, 'Hutt Central/Waterloo': {'2': 431.0, '1': 251.0, '3': 556.0, '4': 666.0}, 'Brooklyn': {'2': 492.0, '1': 243.0, '3': 621.0, '4': 702.0}, 'Miramar/Strathmore': {'2': 486.0, '1': 400.0, '3': 603.0, '4': None}, 'Ngaio/Kaiwharawhara/Wilton': {'2': 410.0, '1': 337.0, '3': 581.0, '4': 674.0}, 'Northland': {'2': 454.0, '1': 324.0, '3': 631.0, '4': None}, 'Paraparaumu/Raumati': {'2': 376.0, '1': 196.0, '3': 448.0, '4': 526.0}, 'Mt Victoria/Roseneath': {'2': 545.0, '1': 335.0, '3': 665.0, '4': 654.0}, 'Kingston/Happy Valley': {'2': 475.0, '1': None, '3': 530.0, '4': None}, 'Hataitai': {'2': 464.0, '1': 315.0, '3': 687.0, '4': 738.0}, 'Porirua East/Waitangirua': {'2': None, '1': None, '3': 380.0, '4': None}, 'Western Hills/Haywards': {'2': 383.0, '1': 222.0, '3': 502.0, '4': None}, 'Petone West/Alicetown': {'2': 384.0, '1': None, '3': 562.0, '4': None}, 'Johnsonville/Newlands': {'2': 419.0, '1': 200.0, '3': 532.0, '4': 684.0}, 'Trentham West/Eldersley/Clouston Park': {'2': 333.0, '1': None, '3': 477.0, '4': None}, 'Carterton/South Wairarapa': {'2': 301.0, '1': 157.0, '3': 364.0, '4': None}, 'Vogeltown/Berhampore/Newtown': {'2': 455.0, '1': 309.0, '3': 617.0, '4': 744.0}, 'Waikanae/Otaki': {'2': 345.0, '1': 218.0, '3': 404.0, '4': 423.0}, 'Moera/Waiwhetu': {'2': None, '1': None, '3': 502.0, '4': None}, 'Lambton': {'2': 543.0, '1': 302.0, '3': 658.0, '4': None}, 'Wainuiomata': {'2': None, '1': None, '3': 392.0, '4': None}, 'Karori South/Makara': {'2': 449.0, '1': 144.0, '3': 526.0, '4': 629.0}, 'Wadestown/Thordon': {'2': 544.0, '1': 354.0, '3': 662.0, '4': None}, 'Totara Park/Maoribank/Te Marua': {'2': 317.0, '1': None, '3': 460.0, '4': None}}