In [2]:
from pathlib import Path
import json
from functools import reduce
import math
import datetime as dt
import pytz 
from itertools import product
from collections import OrderedDict
import time
import sys

import requests
import numpy as np
import pandas as pd
import geopandas as gpd
import shapely.ops as so

import helpers as hp

%load_ext autoreload
%autoreload 2

# Download rent data

In [3]:
base_url = 'http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/'
file_names = [
    'detailed-lodged-bonds.csv',
    'detailed-mean-rents.csv',
    'detailed-geo-mean-rents.csv',
]

for file_name in file_names:
    url = base_url + file_name
    print("Getting and saving", url)
    r = requests.get(url)
    path = hp.DATA_DIR/'collected'/file_name
    with path.open('w') as tgt:
        tgt.write(r.text)

Getting and saving http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-lodged-bonds.csv
Getting and saving http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-mean-rents.csv
Getting and saving http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-geo-mean-rents.csv

# Prepare rent data

In [4]:
# Reshape and merge all rent data sets

def clean(f, name):
    f = f.copy()
    f = f.rename(columns={
        'SAU': 'au2001',
        'Property_Type': 'property_type',
        'Bedrooms': '#bedrooms'
    })

    # Drop subtotals
    cond = False
    for col in ['au2001', 'property_type', '#bedrooms']:
        cond |= f[col].str.contains('total', case=False)

    f = f[~cond].copy()
    
    # Reshape
    id_vars = ['au2001', 'property_type', '#bedrooms']
    value_vars = [c for c in f.columns if '-' in c]
    f = pd.melt(f, id_vars=id_vars, value_vars=value_vars,
      var_name='quarter', value_name=name)
    
    return f

paths = [
    hp.DATA_DIR/'collected'/'detailed-lodged-bonds.csv',
    hp.DATA_DIR/'collected'/'detailed-mean-rents.csv',
    hp.DATA_DIR/'collected'/'detailed-geo-mean-rents.csv',
]
names = [
    'rent_count', 
    'rent_mean', 
    'rent_geo_mean',
]
frames = []
for path, name in zip(paths, names):
    f = pd.read_csv(path, dtype={'SAU': str})
    frames.append(clean(f, name))
    
f = reduce(lambda x, y: pd.merge(x, y), frames)

# Merge in region data
path = hp.get_path('au2001_csv')
g = pd.read_csv(path, dtype={'au2001': str})
f = f.merge(g)

# Write to file
path = hp.get_path('rents')
f.to_csv(path, index=False)
f[f['rent_count'].notnull()].head()

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
240,500202,Flat or Apartment,1,1995-03-01,8.0,82.0,82.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
260,500202,Flat or Apartment,1,1996-03-01,5.0,79.0,79.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
263,500202,House,3,1996-03-01,5.0,123.0,118.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
288,500202,House,3,1997-06-01,5.0,154.0,152.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
313,500202,House,3,1998-09-01,7.0,139.0,137.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo

In [5]:
# Print latest 2 quarters
hp.get_latest_quarters(2)

['2017-09-01', '2017-12-01']

# Explore rents

In [6]:
rents = hp.get_data('rents')
print(rents['quarter'].unique())
rents.head()

['1993-03-01' '1993-06-01' '1993-09-01' '1993-12-01' '1994-03-01'
 '1994-06-01' '1994-09-01' '1994-12-01' '1995-03-01' '1995-06-01'
 '1995-09-01' '1995-12-01' '1996-03-01' '1996-06-01' '1996-09-01'
 '1996-12-01' '1997-03-01' '1997-06-01' '1997-09-01' '1997-12-01'
 '1998-03-01' '1998-06-01' '1998-09-01' '1998-12-01' '1999-03-01'
 '1999-06-01' '1999-09-01' '1999-12-01' '2000-03-01' '2000-06-01'
 '2000-09-01' '2000-12-01' '2001-03-01' '2001-06-01' '2001-09-01'
 '2001-12-01' '2002-03-01' '2002-06-01' '2002-09-01' '2002-12-01'
 '2003-03-01' '2003-06-01' '2003-09-01' '2003-12-01' '2004-03-01'
 '2004-06-01' '2004-09-01' '2004-12-01' '2005-03-01' '2005-06-01'
 '2005-09-01' '2005-12-01' '2006-03-01' '2006-06-01' '2006-09-01'
 '2006-12-01' '2007-03-01' '2007-06-01' '2007-09-01' '2007-12-01'
 '2008-03-01' '2008-06-01' '2008-09-01' '2008-12-01' '2009-03-01'
 '2009-06-01' '2009-09-01' '2009-12-01' '2010-03-01' '2010-06-01'
 '2010-09-01' '2010-12-01' '2011-03-01' '2011-06-01' '2011-09-01'
 '2011-12-01' '2012-03-01' '2012-06-01' '2012-09-01' '2012-12-01'
 '2013-03-01' '2013-06-01' '2013-09-01' '2013-12-01' '2014-03-01'
 '2014-06-01' '2014-09-01' '2014-12-01' '2015-03-01' '2015-06-01'
 '2015-09-01' '2015-12-01' '2016-03-01' '2016-06-01' '2016-09-01'
 '2016-12-01' '2017-03-01' '2017-06-01' '2017-09-01' '2017-12-01']

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
0,500100,House,2,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
1,500100,House,3,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
2,500100,House,2,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
3,500100,House,3,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
4,500100,House,2,1993-09-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North

In [13]:
# Slice in time and aggregate 
agg_rents = hp.aggregate_rents(rents, '2017-03-01')
agg_rents.head()

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars

,rental_area,#bedrooms,region,rent_count,rent_geo_mean,rent_mean,territory
0,Addington,1,Canterbury,104.0,212.765427,215.259615,Christchurch City
1,Addington,2,Canterbury,53.0,330.895107,335.018868,Christchurch City
2,Addington,3,Canterbury,41.0,408.094003,422.170732,Christchurch City
3,Addington,4,Canterbury,0.0,NaN,NaN,Christchurch City
4,Addington,5+,Canterbury,0.0,NaN,NaN,Christchurch City

In [16]:
f = hp.aggregate_rents(rents, date, groupby_cols=('au2001', '#bedrooms'))
cond = f['region'] == 'Auckland'
f[cond]

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars

,au2001,#bedrooms,region,rent_count,rent_geo_mean,rent_mean,territory
286,505300,1,Auckland,0.0,NaN,NaN,Rodney District
287,505300,2,Auckland,11.0,370.512838,373.636364,Rodney District
288,505300,3,Auckland,13.0,406.852994,409.692308,Rodney District
289,505300,4,Auckland,0.0,NaN,NaN,Rodney District
290,505300,5+,Auckland,0.0,NaN,NaN,Rodney District
291,505400,1,Auckland,0.0,NaN,NaN,Rodney District
292,505400,2,Auckland,0.0,NaN,NaN,Rodney District
293,505400,3,Auckland,0.0,NaN,NaN,Rodney District
294,505400,4,Auckland,0.0,NaN,NaN,Rodney District
295,505500,1,Auckland,5.0,290.000000,295.000000,Rodney District
296,505500,2,Auckland,10.0,421.000000,422.000000,Rodney District
297,505500,3,Auckland,28.0,488.225147,490.642857,Rodney District
298,505500,4,Auckland,22.0,550.358318,554.454545,Rodney District
299,505500,5+,Auckland,0.0,NaN,NaN,Rodney District
300,505600,1,Auckland,0.0,NaN,NaN,Rodney District
301,505600,2,Auckland,20.0,455.119619,463.400000,Rodney District
302,505600,3,Auckland,26.0,601.705908,609.500000,Rodney District
303,505600,4,Auckland,44.0,703.526005,710.818182,Rodney District
304,505600,5+,Auckland,0.0,NaN,NaN,Rodney District
305,505802,1,Auckland,5.0,352.000000,356.000000,Rodney District
306,505802,2,Auckland,23.0,436.560697,438.043478,Rodney District
307,505802,3,Auckland,39.0,576.219434,580.769231,Rodney District
308,505802,4,Auckland,21.0,668.433416,673.000000,Rodney District
309,505802,5+,Auckland,6.0,819.000000,821.000000,Rodney District
310,505803,1,Auckland,0.0,NaN,NaN,Rodney District
311,505803,2,Auckland,0.0,NaN,NaN,Rodney District
312,505803,3,Auckland,0.0,NaN,NaN,Rodney District
313,505804,1,Auckland,0.0,NaN,NaN,Rodney District
314,505804,2,Auckland,0.0,NaN,NaN,Rodney District
315,505804,3,Auckland,5.0,573.000000,575.000000,Rodney District
...,...,...,...,...,...,...,...
1932,525910,4,Auckland,40.0,524.799086,528.000000,Franklin District
1933,525910,5+,Auckland,0.0,NaN,NaN,Franklin District
1934,525921,1,Auckland,0.0,NaN,NaN,Franklin District
1935,525921,2,Auckland,24.0,382.058385,383.333333,Franklin District
1936,525921,3,Auckland,63.0,470.737804,473.111111,Franklin District
1937,525921,4,Auckland,30.0,554.494364,556.000000,Franklin District
1938,525921,5+,Auckland,0.0,NaN,NaN,Franklin District
1939,525922,1,Auckland,0.0,NaN,NaN,Franklin District
1940,525922,2,Auckland,11.0,368.534041,371.272727,Franklin District
1941,525922,3,Auckland,12.0,492.671641,501.333333,Franklin District
1942,525922,4,Auckland,6.0,539.000000,540.000000,Franklin District
1943,525922,5+,Auckland,0.0,NaN,NaN,Franklin District
1944,526101,1,Auckland,0.0,NaN,NaN,Franklin District
1945,526101,2,Auckland,20.0,359.298732,361.300000,Franklin District
1946,526101,3,Auckland,27.0,426.081468,429.444444,Franklin District
1947,526101,4,Auckland,27.0,505.114371,509.333333,Franklin District
1948,526101,5+,Auckland,0.0,NaN,NaN,Franklin District
1949,526102,2,Auckland,0.0,NaN,NaN,Franklin District
1950,526102,3,Auckland,0.0,NaN,NaN,Franklin District
1951,526102,4,Auckland,0.0,NaN,NaN,Franklin District
1952,526200,1,Auckland,0.0,NaN,NaN,Franklin District
1953,526200,2,Auckland,0.0,NaN,NaN,Franklin District
1954,526200,3,Auckland,40.0,424.047589,425.400000,Franklin District
1955,526200,4,Auckland,17.0,507.529099,513.764706,Franklin District
1956,526200,5+,Auckland,0.0,NaN,NaN,Franklin District
1972,526701,1,Auckland,0.0,NaN,NaN,Franklin District
1973,526701,2,Auckland,0.0,NaN,NaN,Franklin District
1974,526701,3,Auckland,0.0,NaN,NaN,Franklin District
1975,526701,4,Auckland,0.0,NaN,NaN,Franklin District
1976,526701,5+,Auckland,0.0,NaN,NaN,Franklin District

In [18]:
# What fraction of rental data do we have by #bedrooms?

def hits(group):
    d = {}
    d['hit_frac'] = group['rent_mean'].count()/group['rent_mean'].shape[0]
    return pd.Series(d)

date = '2017-03-01'
f = hp.aggregate_rents(rents, date, groupby_cols=('au2001', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('census area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

f = hp.aggregate_rents(rents, date, groupby_cols=('rental_area', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('rental area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars

census area units
  #bedrooms  hit_frac
0         1  0.317757
1         2  0.590116
2         3  0.797721
3         4  0.432277
4        5+  0.079872
rental area units
  #bedrooms  hit_frac
0         1  0.676768
1         2  0.929293
2         3  1.000000
3         4  0.787879
4        5+  0.151515

# Select latest two quarters and slice into regional chunks

In [19]:
# Get latest two quarters of rents
start_date = hp.get_latest_quarters(2)[0]
rents = hp.get_data('rents')
rents = rents[rents['quarter'] >= start_date].copy()

# Create regional slices
for region in hp.REGIONS:
    # Build rents
    region_c = region.capitalize()
    region_rents = rents[rents['region'] == region_c].copy()
    print(region, region_rents['quarter'].unique(), '#rows =', region_rents.shape[0])
    path = hp.get_path('rents', region)
    print('  Saving to', path)
    
    # Create region directory if it does not exist
    if not path.parent.exists():
        path.parent.mkdir()
        
    region_rents.to_csv(path, index=False)

auckland ['2017-09-01' '2017-12-01'] #rows = 5472
  Saving to /home/araichev/affordability_nz/data/processed/auckland/rents.csv
canterbury ['2017-09-01' '2017-12-01'] #rows = 2512
  Saving to /home/araichev/affordability_nz/data/processed/canterbury/rents.csv
wellington ['2017-09-01' '2017-12-01'] #rows = 2410
  Saving to /home/araichev/affordability_nz/data/processed/wellington/rents.csv

# JSONize regional rents for the web, grouping by rental area and number of bedrooms

In [20]:
for region in hp.REGIONS:
    region_rents = hp.get_data('rents', region)
    d = hp.build_json_rents(region_rents)
    path = hp.get_path('rents_json', region)
    print('**', region, '\n', d)
    with path.open('w') as tgt:
        json.dump(d, tgt)

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars

** auckland
 {'New Lynn': {'1': 315.0, '2': 422.0, '4': 617.0, '3': 523.0}, 'Mt Wellington North': {'1': 351.0, '2': 434.0, '4': 760.0, '3': 559.0}, 'Epsom': {'1': 279.0, '2': 506.0, '4': None, '3': 729.0}, 'Botony Downs': {'1': None, '2': None, '4': 673.0, '3': 586.0}, 'Te Atatu Peninsula': {'1': None, '2': 441.0, '4': 643.0, '3': 521.0}, 'Wellsford/Warkworth/Helensville': {'1': 290.0, '2': 402.0, '4': 548.0, '3': 467.0}, 'West Harbour': {'1': None, '2': 432.0, '4': 721.0, '3': 561.0}, 'Kohimarama': {'1': None, '2': 565.0, '4': 1175.0, '3': 743.0}, 'Titirangi': {'1': None, '2': 440.0, '4': 703.0, '3': 526.0}, 'Mt Albert/Owairaka': {'1': 324.0, '2': 445.0, '4': 736.0, '3': 595.0}, 'Takapuna': {'1': 487.0, '2': 601.0, '4': 923.0, '3': 739.0}, 'Ellerslie': {'1': 361.0, '2': 470.0, '4': 808.0, '3': 626.0}, 'Dannemora': {'1': None, '2': 503.0, '4': 690.0, '3': 620.0}, 'Blockhouse Bay/New Windsor': {'1': 302.0, '2': 444.0, '4': 634.0, '3': 557.0}, 'Onehunga/Oranga/Te Papapa': {'1': 226.0, '2': 458.0, '4': 750.0, '3': 617.0}, 'Wattle Downs/Conifer Grove': {'1': None, '2': 429.0, '4': 640.0, '3': 514.0}, 'Mangere East': {'1': 266.0, '2': 415.0, '4': None, '3': 488.0}, 'Manukau Central': {'1': 334.0, '2': 442.0, '4': None, '3': 515.0}, 'Bucklands Beach': {'1': None, '2': 475.0, '4': 768.0, '3': 631.0}, 'Howick': {'1': 307.0, '2': 485.0, '4': 729.0, '3': 561.0}, 'Central East': {'1': 383.0, '2': 552.0, '4': None, '3': 561.0}, 'Gulf Harbour': {'1': 351.0, '2': 396.0, '4': 606.0, '3': 524.0}, 'Mt Eden': {'1': 368.0, '2': 494.0, '4': 697.0, '3': 743.0}, 'Wairau Park/Glenfield North': {'1': None, '2': 436.0, '4': 599.0, '3': 552.0}, 'Glen Innes/Pt England/Wai O Taiki': {'1': None, '2': None, '4': None, '3': 587.0}, 'Manukau Heights and Manurewa Heights': {'1': None, '2': 452.0, '4': 635.0, '3': 559.0}, 'Beachhaven/Birkdale': {'1': None, '2': 470.0, '4': 582.0, '3': 546.0}, 'Manurewa North': {'1': 321.0, '2': 414.0, '4': 553.0, '3': 492.0}, 'Glendene': {'1': None, '2': 412.0, '4': 617.0, '3': 499.0}, 'St Helliers/Glendowie': {'1': None, '2': 552.0, '4': 1047.0, '3': 712.0}, 'Western Beaches/Rural': {'1': None, '2': 434.0, '4': 615.0, '3': 492.0}, 'Devonport': {'1': 415.0, '2': 539.0, '4': None, '3': 721.0}, 'Hillsborough': {'1': 363.0, '2': 462.0, '4': 685.0, '3': 552.0}, 'Waterview/Avondale Heights': {'1': None, '2': 470.0, '4': 664.0, '3': 556.0}, 'Penrose/Mt Wellington South': {'1': 316.0, '2': 440.0, '4': 595.0, '3': 566.0}, 'Westmere/Surrey Crescent': {'1': 290.0, '2': 615.0, '4': 616.0, '3': 794.0}, 'Pakuranga': {'1': None, '2': 408.0, '4': 614.0, '3': 530.0}, 'Maraetai/Clevedon': {'1': 438.0, '2': 447.0, '4': 669.0, '3': 549.0}, 'Sunnynook/Westlake': {'1': 351.0, '2': 502.0, '4': 658.0, '3': 605.0}, 'Glen Eden': {'1': 301.0, '2': 287.0, '4': 557.0, '3': 489.0}, 'Royal Oak/One Tree Hill': {'1': 366.0, '2': 498.0, '4': 790.0, '3': 652.0}, 'Ponsonby/Freemans Bay': {'1': 491.0, '2': 709.0, '4': 1218.0, '3': 866.0}, 'Mangere': {'1': None, '2': None, '4': 636.0, '3': 503.0}, 'Otahuhu': {'1': 266.0, '2': 391.0, '4': 585.0, '3': 502.0}, 'Waiheke Island': {'1': 387.0, '2': 476.0, '4': 723.0, '3': 608.0}, 'Newton/Grafton': {'1': 345.0, '2': 553.0, '4': None, '3': 648.0}, 'Herne Bay/St Marys': {'1': 411.0, '2': 592.0, '4': None, '3': 990.0}, 'Highland Park': {'1': None, '2': 438.0, '4': 673.0, '3': 545.0}, 'Kelston': {'1': 318.0, '2': 392.0, '4': 604.0, '3': 488.0}, 'Newmarket': {'1': 410.0, '2': 559.0, '4': None, '3': 714.0}, 'Chatswood/Birkenhead/Northcote Point': {'1': 293.0, '2': 466.0, '4': 764.0, '3': 641.0}, 'Greenhithe/Unsworth Heights': {'1': None, '2': 494.0, '4': 726.0, '3': 587.0}, 'St Johns': {'1': 358.0, '2': 507.0, '4': 845.0, '3': 672.0}, 'Waiuku': {'1': None, '2': 359.0, '4': 505.0, '3': 426.0}, 'Harbourside': {'1': 358.0, '2': 683.0, '4': None, '3': 886.0}, 'Papatoetoe South': {'1': 224.0, '2': 438.0, '4': None, '3': 530.0}, 'Half Moon Bay/Farm Cove': {'1': None, '2': 460.0, '4': 696.0, '3': 542.0}, 'Hillcrest/Northcote': {'1': 384.0, '2': 441.0, '4': 643.0, '3': 564.0}, 'St Lukes/Sandringham': {'1': 352.0, '2': 477.0, '4': 721.0, '3': 662.0}, 'Mangere Bridge/Airport': {'1': 353.0, '2': 447.0, '4': 610.0, '3': 504.0}, 'Papatoetoe West': {'1': 340.0, '2': 412.0, '4': None, '3': 512.0}, 'Glendhu/Glenfield': {'1': 362.0, '2': 445.0, '4': 636.0, '3': 549.0}, 'Pukekohe/Tuakau': {'1': 323.0, '2': 382.0, '4': 538.0, '3': 454.0}, 'Torbay': {'1': 367.0, '2': 469.0, '4': 730.0, '3': 580.0}, 'Remuera South/Meadowbank South': {'1': 400.0, '2': 525.0, '4': 846.0, '3': 663.0}, 'Mt Wellington': {'1': 360.0, '2': 462.0, '4': None, '3': 567.0}, 'Rothesay/Murrays/Mairangi Bays': {'1': None, '2': 494.0, '4': 727.0, '3': 639.0}, 'Ranui': {'1': None, '2': 406.0, '4': 564.0, '3': 478.0}, 'Henderson': {'1': 345.0, '2': 411.0, '4': 606.0, '3': 499.0}, 'Massey/Royal Heights': {'1': None, '2': 390.0, '4': 575.0, '3': 486.0}, 'Western Springs/Morningside': {'1': 302.0, '2': 479.0, '4': 841.0, '3': 589.0}, 'Te Atatu': {'1': None, '2': 428.0, '4': 628.0, '3': 509.0}, 'Rewiti/Kumeu/Riverhead': {'1': None, '2': 469.0, '4': 704.0, '3': 602.0}, 'Rural Franklin': {'1': None, '2': None, '4': 567.0, '3': 513.0}, 'Grey Lynn/Arch Hill': {'1': 369.0, '2': 661.0, '4': 985.0, '3': 820.0}, 'Avondale': {'1': 348.0, '2': 412.0, '4': 606.0, '3': 519.0}, 'Parnell': {'1': 453.0, '2': 621.0, '4': None, '3': 895.0}, 'Central West': {'1': 403.0, '2': 509.0, '4': None, '3': 720.0}, 'Orewa/Whangaparaoa': {'1': 354.0, '2': 448.0, '4': 694.0, '3': 547.0}, 'Weymouth': {'1': None, '2': None, '4': 551.0, '3': 498.0}, 'Kingsland': {'1': 398.0, '2': 560.0, '4': 530.0, '3': 678.0}, 'Remuera': {'1': 405.0, '2': 583.0, '4': 1132.0, '3': 788.0}, 'Meadowbank': {'1': 313.0, '2': 483.0, '4': 927.0, '3': 650.0}, 'Albany': {'1': 253.0, '2': 467.0, '4': 687.0, '3': 592.0}, 'Balmoral': {'1': 414.0, '2': 471.0, '4': 852.0, '3': 694.0}, 'Lynfield': {'1': None, '2': 443.0, '4': 642.0, '3': 560.0}, 'Eden Terrace': {'1': 381.0, '2': 512.0, '4': None, '3': 687.0}, 'Otara': {'1': 259.0, '2': None, '4': None, '3': 484.0}, 'Three Kings': {'1': 344.0, '2': 483.0, '4': 665.0, '3': 603.0}, 'North Harbour/Pine Hill': {'1': 288.0, '2': 474.0, '4': 747.0, '3': 616.0}, 'Mission Bay/Orakei': {'1': 379.0, '2': 567.0, '4': 919.0, '3': 760.0}, 'Browns Bay': {'1': 414.0, '2': 482.0, '4': 681.0, '3': 589.0}, 'Panmure': {'1': None, '2': 465.0, '4': None, '3': 529.0}, 'Pt Chevalier': {'1': 353.0, '2': None, '4': None, '3': 651.0}, 'Papatoetoe North': {'1': 342.0, '2': 445.0, '4': None, '3': 533.0}, 'Takanini/Ardmore': {'1': 263.0, '2': 385.0, '4': 597.0, '3': 496.0}, 'Mt Roskill/Wesley': {'1': None, '2': 484.0, '4': None, '3': 562.0}, 'East Coast Bays': {'1': 399.0, '2': 524.0, '4': 902.0, '3': 677.0}, 'Papakura/Drury/Karaka': {'1': 244.0, '2': 400.0, '4': 582.0, '3': 482.0}}
** canterbury
 {'Burnside/Harewood': {'1': None, '2': None, '4': 470.0, '3': 428.0}, 'Bishopdale/Papanui': {'1': 161.0, '2': 350.0, '4': 496.0, '3': 413.0}, 'Merivale/St Albans West': {'1': 216.0, '2': 345.0, '4': None, '3': 479.0}, 'Richmond/Avonside': {'1': 123.0, '2': 315.0, '4': None, '3': 377.0}, 'Ashburton': {'1': None, '2': 282.0, '4': 426.0, '3': 339.0}, 'Fendalton/Strowan/Bryndwr': {'1': 136.0, '2': 365.0, '4': 601.0, '3': 470.0}, 'Horby/Islington/Hei Hei': {'1': 180.0, '2': 302.0, '4': 438.0, '3': 393.0}, 'Rural Timaru/Temuka/Geraldine': {'1': None, '2': None, '4': None, '3': 320.0}, 'Aranui/Bromley/Bexley': {'1': 213.0, '2': None, '4': None, '3': 363.0}, 'Redcliffs/Sumner': {'1': 239.0, '2': 394.0, '4': None, '3': 456.0}, 'Styx/Parklands': {'1': None, '2': 419.0, '4': 514.0, '3': 408.0}, 'Marshland/Redwood': {'1': None, '2': None, '4': 497.0, '3': 409.0}, 'Hillmorton/Hoon Hay': {'1': None, '2': None, '4': None, '3': 399.0}, 'MacKenzie/Waimate': {'1': None, '2': None, '4': None, '3': 256.0}, 'Halswell/Wigram': {'1': 191.0, '2': 404.0, '4': 540.0, '3': 456.0}, 'Ilam/Westburn': {'1': 171.0, '2': None, '4': 528.0, '3': 436.0}, 'Avon Loop/Christchurch East': {'1': 251.0, '2': 351.0, '4': None, '3': 422.0}, 'Sockburn/Upper Riccarton': {'1': 183.0, '2': 321.0, '4': 467.0, '3': 420.0}, 'Richmond/Shirley': {'1': None, '2': 333.0, '4': 439.0, '3': 402.0}, 'Waitaki': {'1': 159.0, '2': 248.0, '4': None, '3': 298.0}, 'Rural Waimakariri': {'1': None, '2': None, '4': 439.0, '3': 409.0}, 'St Albans North/ Mairehau': {'1': 187.0, '2': 342.0, '4': 502.0, '3': 422.0}, 'Timaru Township': {'1': 175.0, '2': 251.0, '4': 384.0, '3': 328.0}, 'Avonhead/Yaldhurst': {'1': 182.0, '2': 374.0, '4': 486.0, '3': 423.0}, 'St Martins/Beckenham/Huntsbury': {'1': None, '2': 343.0, '4': 504.0, '3': 438.0}, 'St Albans East/Edgeware': {'1': 198.0, '2': 324.0, '4': 522.0, '3': 422.0}, 'Addington': {'1': 213.0, '2': 331.0, '4': None, '3': 408.0}, 'Burwood/Dallington/Avondale': {'1': None, '2': None, '4': None, '3': 394.0}, 'North Beach/New Brighton/Southshore': {'1': 128.0, '2': 318.0, '4': 396.0, '3': 391.0}, 'Christchurch Central/Hagley': {'1': 304.0, '2': 368.0, '4': None, '3': 513.0}, 'Sawyers Arms/Northcote/Belfast': {'1': None, '2': 377.0, '4': 536.0, '3': 405.0}, 'Linwood/Phillipstown': {'1': 211.0, '2': 295.0, '4': 405.0, '3': 374.0}, 'Sydenham/Waltham': {'1': 263.0, '2': 316.0, '4': 428.0, '3': 397.0}, 'Rangiora/Kaiapoi': {'1': None, '2': 306.0, '4': 480.0, '3': 390.0}, 'Banks Peninsula/Selwyn': {'1': None, '2': 384.0, '4': 508.0, '3': 438.0}, 'Riccarton': {'1': 209.0, '2': 348.0, '4': 486.0, '3': 427.0}, 'Woolston/Opawa': {'1': 111.0, '2': 326.0, '4': 455.0, '3': 378.0}, 'Westmorland/Cashmere/Barrington': {'1': 61.0, '2': 357.0, '4': 562.0, '3': 427.0}, 'Kaikoura/Hurunui': {'1': None, '2': 383.0, '4': 416.0, '3': 381.0}, 'Spreydon/Somerfield': {'1': 152.0, '2': 349.0, '4': 524.0, '3': 412.0}}

** wellington
 {'Island Bay/Melrose': {'1': 248.0, '2': 460.0, '4': None, '3': 610.0}, 'Petone/Esplanade': {'1': 248.0, '2': 426.0, '4': None, '3': 564.0}, 'Masterton': {'1': 183.0, '2': 257.0, '4': 397.0, '3': 321.0}, 'Kingston/Happy Valley': {'1': 298.0, '2': None, '4': None, '3': 543.0}, 'Titahi Bay/Onepoto/Elsdon': {'1': 234.0, '2': None, '4': None, '3': 419.0}, 'Oriental Bay/Seatoun': {'1': 361.0, '2': 642.0, '4': None, '3': 735.0}, 'Carterton/South Wairarapa': {'1': None, '2': 260.0, '4': None, '3': 333.0}, 'Paramata/Mana/Pukerua Bay': {'1': 273.0, '2': None, '4': None, '3': 534.0}, 'Hataitai': {'1': 255.0, '2': 444.0, '4': 691.0, '3': 566.0}, 'Mt Victoria/Roseneath': {'1': 324.0, '2': 521.0, '4': 870.0, '3': 618.0}, 'Taita/Naenae': {'1': 218.0, '2': 347.0, '4': None, '3': 421.0}, 'Waikanae/Otaki': {'1': None, '2': 335.0, '4': None, '3': 391.0}, 'Trentham West/Eldersley/Clouston Park': {'1': 167.0, '2': 305.0, '4': None, '3': 450.0}, 'Paraparaumu/Raumati': {'1': 192.0, '2': 362.0, '4': 493.0, '3': 423.0}, 'Northland': {'1': 303.0, '2': 476.0, '4': None, '3': 590.0}, 'Johnsonville/Newlands': {'1': 239.0, '2': 392.0, '4': 684.0, '3': 510.0}, 'Epuni/Avalon': {'1': 177.0, '2': 398.0, '4': None, '3': 466.0}, 'Papakowhai/Whitby/Pauatahanui': {'1': None, '2': None, '4': 648.0, '3': 458.0}, 'Kilbirnie/Lyall Bay': {'1': 328.0, '2': 428.0, '4': None, '3': 598.0}, 'Wainuiomata': {'1': None, '2': None, '4': None, '3': 367.0}, 'Stokes Valley': {'1': None, '2': None, '4': None, '3': 401.0}, 'Ngaio/Kaiwharawhara/Wilton': {'1': 291.0, '2': 374.0, '4': 676.0, '3': 478.0}, 'Hutt Central/Waterloo': {'1': 279.0, '2': 410.0, '4': None, '3': 480.0}, 'Karori': {'1': 319.0, '2': None, '4': None, '3': 584.0}, 'Western Hills/Haywards': {'1': 217.0, '2': None, '4': 548.0, '3': 492.0}, 'Mt Cook': {'1': 253.0, '2': 495.0, '4': 457.0, '3': 601.0}, 'Porirua East/Waitangirua': {'1': None, '2': None, '4': 473.0, '3': 312.0}, 'Heretaunga/Silverstream': {'1': None, '2': 324.0, '4': None, '3': 461.0}, 'Kelburn/Aro Valley': {'1': 334.0, '2': 475.0, '4': 875.0, '3': 574.0}, 'Totara Park/Maoribank/Te Marua': {'1': None, '2': 291.0, '4': None, '3': 433.0}, 'Te Aro': {'1': 343.0, '2': 538.0, '4': 698.0, '3': 718.0}, 'Brooklyn': {'1': 325.0, '2': 427.0, '4': 618.0, '3': 603.0}, 'Moera/Waiwhetu': {'1': None, '2': 326.0, '4': None, '3': 467.0}, 'Vogeltown/Berhampore/Newtown': {'1': 289.0, '2': 436.0, '4': 719.0, '3': 567.0}, 'Lambton': {'1': 308.0, '2': 531.0, '4': 885.0, '3': 562.0}, 'Eastern Bays': {'1': 303.0, '2': 466.0, '4': 673.0, '3': 548.0}, 'Miramar/Strathmore': {'1': 332.0, '2': 492.0, '4': None, '3': 593.0}, 'Wadestown/Thordon': {'1': 346.0, '2': 513.0, '4': None, '3': 653.0}, 'Trentham North/Wallaceville': {'1': None, '2': 290.0, '4': None, '3': 421.0}, 'Petone West/Alicetown': {'1': 242.0, '2': 331.0, '4': None, '3': 510.0}, 'Khandallah': {'1': 314.0, '2': None, '4': 695.0, '3': 534.0}, 'Karori South/Makara': {'1': 145.0, '2': 467.0, '4': 737.0, '3': 491.0}, 'Tawa/Grenada North': {'1': 211.0, '2': 396.0, '4': None, '3': 483.0}}