In [1]:
from pathlib import Path
import json
from functools import reduce
import math
import datetime as dt
import pytz 
from itertools import product
from collections import OrderedDict
import time
import sys

import requests
import numpy as np
import pandas as pd
import geopandas as gpd
import shapely.ops as so

import helpers as hp

%load_ext autoreload
%autoreload 2

# Download rent data

In [2]:
base_url = 'http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/'
file_names = [
    'detailed-lodged-bonds.csv',
    'detailed-mean-rents.csv',
    'detailed-geo-mean-rents.csv',
]

for file_name in file_names:
    url = base_url + file_name
    print("Getting and saving", url)
    r = requests.get(url)
    path = hp.DATA_DIR/'collected'/file_name
    with path.open('w') as tgt:
        tgt.write(r.text)

Getting and saving http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-lodged-bonds.csv
Getting and saving http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-mean-rents.csv
Getting and saving http://www.mbie.govt.nz/info-services/housing-property/sector-information-and-statistics/rental-bond-data/detailed/detailed-geo-mean-rents.csv

# Prepare rent data

In [3]:
# Reshape and merge all rent data sets

def clean(f, name):
    f = f.copy()
    f = f.rename(columns={
        'SAU': 'au2001',
        'Property_Type': 'property_type',
        'Bedrooms': '#bedrooms'
    })

    # Drop subtotals
    cond = False
    for col in ['au2001', 'property_type', '#bedrooms']:
        cond |= f[col].str.contains('total', case=False)

    f = f[~cond].copy()
    
    # Reshape
    id_vars = ['au2001', 'property_type', '#bedrooms']
    value_vars = [c for c in f.columns if '-' in c]
    f = pd.melt(f, id_vars=id_vars, value_vars=value_vars,
      var_name='quarter', value_name=name)
    
    return f

paths = [
    hp.DATA_DIR/'collected'/'detailed-lodged-bonds.csv',
    hp.DATA_DIR/'collected'/'detailed-mean-rents.csv',
    hp.DATA_DIR/'collected'/'detailed-geo-mean-rents.csv',
]
names = [
    'rent_count', 
    'rent_mean', 
    'rent_geo_mean',
]
frames = []
for path, name in zip(paths, names):
    f = pd.read_csv(path, dtype={'SAU': str})
    frames.append(clean(f, name))
    
f = reduce(lambda x, y: pd.merge(x, y), frames)

# Merge in region data
path = hp.get_path('au2001_csv')
g = pd.read_csv(path, dtype={'au2001': str})
f = f.merge(g)

# Write to file
path = hp.get_path('rents')
f.to_csv(path, index=False)
f[f['rent_count'].notnull()].head()

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
244,500202,Flat or Apartment,1,1995-03-01,8.0,82.0,82.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
264,500202,Flat or Apartment,1,1996-03-01,5.0,79.0,79.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
267,500202,House,3,1996-03-01,5.0,123.0,118.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
292,500202,House,3,1997-06-01,5.0,154.0,152.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo
317,500202,House,3,1998-09-01,7.0,139.0,137.0,Mangonui East,Far North District,Northland,Mangonui/Kaeo

In [4]:
# Print latest 2 quarters
hp.get_latest_quarters(2)

['2018-03-01', '2018-06-01']

# Explore rents

In [5]:
rents = hp.get_data('rents')
print(rents['quarter'].unique())
rents.head()

['1993-03-01' '1993-06-01' '1993-09-01' '1993-12-01' '1994-03-01'
 '1994-06-01' '1994-09-01' '1994-12-01' '1995-03-01' '1995-06-01'
 '1995-09-01' '1995-12-01' '1996-03-01' '1996-06-01' '1996-09-01'
 '1996-12-01' '1997-03-01' '1997-06-01' '1997-09-01' '1997-12-01'
 '1998-03-01' '1998-06-01' '1998-09-01' '1998-12-01' '1999-03-01'
 '1999-06-01' '1999-09-01' '1999-12-01' '2000-03-01' '2000-06-01'
 '2000-09-01' '2000-12-01' '2001-03-01' '2001-06-01' '2001-09-01'
 '2001-12-01' '2002-03-01' '2002-06-01' '2002-09-01' '2002-12-01'
 '2003-03-01' '2003-06-01' '2003-09-01' '2003-12-01' '2004-03-01'
 '2004-06-01' '2004-09-01' '2004-12-01' '2005-03-01' '2005-06-01'
 '2005-09-01' '2005-12-01' '2006-03-01' '2006-06-01' '2006-09-01'
 '2006-12-01' '2007-03-01' '2007-06-01' '2007-09-01' '2007-12-01'
 '2008-03-01' '2008-06-01' '2008-09-01' '2008-12-01' '2009-03-01'
 '2009-06-01' '2009-09-01' '2009-12-01' '2010-03-01' '2010-06-01'
 '2010-09-01' '2010-12-01' '2011-03-01' '2011-06-01' '2011-09-01'
 '2011-12-01' '2012-03-01' '2012-06-01' '2012-09-01' '2012-12-01'
 '2013-03-01' '2013-06-01' '2013-09-01' '2013-12-01' '2014-03-01'
 '2014-06-01' '2014-09-01' '2014-12-01' '2015-03-01' '2015-06-01'
 '2015-09-01' '2015-12-01' '2016-03-01' '2016-06-01' '2016-09-01'
 '2016-12-01' '2017-03-01' '2017-06-01' '2017-09-01' '2017-12-01'
 '2018-03-01' '2018-06-01']

,au2001,property_type,#bedrooms,quarter,rent_count,rent_mean,rent_geo_mean,au_name,territory,region,rental_area
0,500100,House,2,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
1,500100,House,3,1993-03-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
2,500100,House,2,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
3,500100,House,3,1993-06-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North
4,500100,House,2,1993-09-01,NaN,NaN,NaN,Awanui,Far North District,Northland,Rural Far North

In [8]:
# Slice in time and aggregate 
agg_rents = hp.aggregate_rents(rents, '2018-06-01')
agg_rents.head()

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

,rental_area,#bedrooms,region,rent_count,rent_geo_mean,rent_mean,territory
0,Addington,1,Canterbury,73.0,211.000000,212.000000,Christchurch City
1,Addington,2,Canterbury,35.0,315.445976,324.371429,Christchurch City
2,Addington,3,Canterbury,31.0,428.681384,434.258065,Christchurch City
3,Addington,4,Canterbury,0.0,NaN,NaN,Christchurch City
4,Addington,5+,Canterbury,0.0,NaN,NaN,Christchurch City

In [9]:
f = hp.aggregate_rents(rents, '2018-06-01', groupby_cols=('au2001', '#bedrooms'))
cond = f['region'] == 'Auckland'
f[cond]

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

,au2001,#bedrooms,region,rent_count,rent_geo_mean,rent_mean,territory
287,505300,1,Auckland,0.0,NaN,NaN,Rodney District
288,505300,2,Auckland,0.0,NaN,NaN,Rodney District
289,505300,3,Auckland,8.0,450.000000,451.000000,Rodney District
290,505300,4,Auckland,5.0,473.000000,473.000000,Rodney District
291,505300,5+,Auckland,0.0,NaN,NaN,Rodney District
292,505400,1,Auckland,0.0,NaN,NaN,Rodney District
293,505400,2,Auckland,0.0,NaN,NaN,Rodney District
294,505400,3,Auckland,0.0,NaN,NaN,Rodney District
295,505400,4,Auckland,0.0,NaN,NaN,Rodney District
296,505500,1,Auckland,7.0,289.000000,293.000000,Rodney District
297,505500,2,Auckland,5.0,443.000000,443.000000,Rodney District
298,505500,3,Auckland,20.0,549.000000,552.000000,Rodney District
299,505500,4,Auckland,8.0,613.000000,622.000000,Rodney District
300,505500,5+,Auckland,0.0,NaN,NaN,Rodney District
301,505600,1,Auckland,0.0,NaN,NaN,Rodney District
302,505600,2,Auckland,18.0,435.854958,439.333333,Rodney District
303,505600,3,Auckland,13.0,611.000000,619.000000,Rodney District
304,505600,4,Auckland,15.0,764.000000,846.000000,Rodney District
305,505600,5+,Auckland,6.0,929.000000,994.000000,Rodney District
306,505802,1,Auckland,0.0,NaN,NaN,Rodney District
307,505802,2,Auckland,13.0,442.674438,445.461538,Rodney District
308,505802,3,Auckland,27.0,575.291394,580.962963,Rodney District
309,505802,4,Auckland,11.0,628.000000,650.000000,Rodney District
310,505802,5+,Auckland,7.0,879.000000,886.000000,Rodney District
311,505803,1,Auckland,0.0,NaN,NaN,Rodney District
312,505803,2,Auckland,0.0,NaN,NaN,Rodney District
313,505803,3,Auckland,0.0,NaN,NaN,Rodney District
314,505804,1,Auckland,0.0,NaN,NaN,Rodney District
315,505804,2,Auckland,0.0,NaN,NaN,Rodney District
316,505804,3,Auckland,0.0,NaN,NaN,Rodney District
...,...,...,...,...,...,...,...
1936,525910,4,Auckland,19.0,534.000000,546.000000,Franklin District
1937,525910,5+,Auckland,0.0,NaN,NaN,Franklin District
1938,525921,1,Auckland,0.0,NaN,NaN,Franklin District
1939,525921,2,Auckland,15.0,375.968196,378.200000,Franklin District
1940,525921,3,Auckland,29.0,486.000000,489.000000,Franklin District
1941,525921,4,Auckland,18.0,552.000000,556.000000,Franklin District
1942,525921,5+,Auckland,0.0,NaN,NaN,Franklin District
1943,525922,1,Auckland,0.0,NaN,NaN,Franklin District
1944,525922,2,Auckland,12.0,372.328105,373.166667,Franklin District
1945,525922,3,Auckland,12.0,460.000000,463.000000,Franklin District
1946,525922,4,Auckland,0.0,NaN,NaN,Franklin District
1947,525922,5+,Auckland,0.0,NaN,NaN,Franklin District
1948,526101,1,Auckland,0.0,NaN,NaN,Franklin District
1949,526101,2,Auckland,8.0,348.000000,354.000000,Franklin District
1950,526101,3,Auckland,26.0,474.000000,475.000000,Franklin District
1951,526101,4,Auckland,14.0,502.000000,508.000000,Franklin District
1952,526101,5+,Auckland,0.0,NaN,NaN,Franklin District
1953,526102,2,Auckland,0.0,NaN,NaN,Franklin District
1954,526102,3,Auckland,6.0,448.000000,449.000000,Franklin District
1955,526102,4,Auckland,0.0,NaN,NaN,Franklin District
1956,526200,1,Auckland,0.0,NaN,NaN,Franklin District
1957,526200,2,Auckland,0.0,NaN,NaN,Franklin District
1958,526200,3,Auckland,33.0,436.000000,439.000000,Franklin District
1959,526200,4,Auckland,11.0,467.000000,468.000000,Franklin District
1960,526200,5+,Auckland,0.0,NaN,NaN,Franklin District
1976,526701,1,Auckland,0.0,NaN,NaN,Franklin District
1977,526701,2,Auckland,0.0,NaN,NaN,Franklin District
1978,526701,3,Auckland,5.0,499.000000,512.000000,Franklin District
1979,526701,4,Auckland,0.0,NaN,NaN,Franklin District
1980,526701,5+,Auckland,0.0,NaN,NaN,Franklin District

In [10]:
# What fraction of rental data do we have by #bedrooms?

def hits(group):
    d = {}
    d['hit_frac'] = group['rent_mean'].count()/group['rent_mean'].shape[0]
    return pd.Series(d)

date = '2018-06-01'
f = hp.aggregate_rents(rents, date, groupby_cols=('au2001', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('census area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

f = hp.aggregate_rents(rents, date, groupby_cols=('rental_area', '#bedrooms'))
cond = f['region'] == 'Auckland'
print('rental area units')
print(f[cond].copy().groupby('#bedrooms').apply(hits).reset_index())

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

census area units
  #bedrooms  hit_frac
0         1  0.254658
1         2  0.495652
2         3  0.763533
3         4  0.389049
4        5+  0.063694
rental area units
  #bedrooms  hit_frac
0         1  0.585859
1         2  0.878788
2         3  1.000000
3         4  0.727273
4        5+  0.151515

# Select latest two quarters and slice into regional chunks

In [11]:
# Get latest two quarters of rents
start_date = hp.get_latest_quarters(2)[0]
rents = hp.get_data('rents')
rents = rents[rents['quarter'] >= start_date].copy()

# Create regional slices
for region in hp.REGIONS:
    # Build rents
    region_c = region.capitalize()
    region_rents = rents[rents['region'] == region_c].copy()
    print(region, region_rents['quarter'].unique(), '#rows =', region_rents.shape[0])
    path = hp.get_path('rents', region)
    print('  Saving to', path)
    
    # Create region directory if it does not exist
    if not path.parent.exists():
        path.parent.mkdir()
        
    region_rents.to_csv(path, index=False)

auckland ['2018-03-01' '2018-06-01'] #rows = 5544
  Saving to /home/araichev/affordability_nz/data/processed/auckland/rents.csv
canterbury ['2018-03-01' '2018-06-01'] #rows = 2540
  Saving to /home/araichev/affordability_nz/data/processed/canterbury/rents.csv
wellington ['2018-03-01' '2018-06-01'] #rows = 2408
  Saving to /home/araichev/affordability_nz/data/processed/wellington/rents.csv

# JSONize regional rents for the web, grouping by rental area and number of bedrooms

In [12]:
for region in hp.REGIONS:
    region_rents = hp.get_data('rents', region)
    d = hp.build_json_rents(region_rents)
    path = hp.get_path('rents_json', region)
    print('**', region, '\n', d)
    with path.open('w') as tgt:
        json.dump(d, tgt)

/home/araichev/affordability_nz/py/helpers.py:190: RuntimeWarning: invalid value encountered in double_scalars
  d['rent_count']

** auckland
 {'Central West': {'3': 621.0, '4': None, '1': 399.0, '2': 520.0}, 'Beachhaven/Birkdale': {'3': 551.0, '4': 627.0, '1': None, '2': 428.0}, 'Rewiti/Kumeu/Riverhead': {'3': 594.0, '4': 750.0, '1': None, '2': 450.0}, 'Rothesay/Murrays/Mairangi Bays': {'3': 648.0, '4': 803.0, '1': 241.0, '2': 486.0}, 'Papatoetoe South': {'3': 538.0, '4': None, '1': 193.0, '2': 435.0}, 'Manurewa North': {'3': 491.0, '4': 586.0, '1': 334.0, '2': 423.0}, 'Chatswood/Birkenhead/Northcote Point': {'3': 665.0, '4': 788.0, '1': 363.0, '2': 504.0}, 'Torbay': {'3': 602.0, '4': 743.0, '1': None, '2': 483.0}, 'Titirangi': {'3': 555.0, '4': 584.0, '1': 223.0, '2': None}, 'Grey Lynn/Arch Hill': {'3': 820.0, '4': 985.0, '1': 387.0, '2': 666.0}, 'Massey/Royal Heights': {'3': 504.0, '4': 602.0, '1': None, '2': 428.0}, 'Glendene': {'3': 505.0, '4': 566.0, '1': None, '2': 435.0}, 'Glen Eden': {'3': 478.0, '4': 532.0, '1': None, '2': 496.0}, 'Kingsland': {'3': 679.0, '4': 849.0, '1': 406.0, '2': 538.0}, 'Greenhithe/Unsworth Heights': {'3': 588.0, '4': 713.0, '1': None, '2': 499.0}, 'Mt Wellington North': {'3': 546.0, '4': 620.0, '1': 366.0, '2': 459.0}, 'Waiheke Island': {'3': 641.0, '4': 687.0, '1': 359.0, '2': 479.0}, 'Remuera': {'3': 782.0, '4': 947.0, '1': 601.0, '2': 582.0}, 'Otahuhu': {'3': 501.0, '4': 607.0, '1': 271.0, '2': 419.0}, 'Papakura/Drury/Karaka': {'3': 489.0, '4': 624.0, '1': 225.0, '2': 410.0}, 'Ponsonby/Freemans Bay': {'3': 924.0, '4': 1246.0, '1': 493.0, '2': 680.0}, 'Half Moon Bay/Farm Cove': {'3': 554.0, '4': 593.0, '1': None, '2': 482.0}, 'Harbourside': {'3': 768.0, '4': None, '1': 321.0, '2': 684.0}, 'Henderson': {'3': 505.0, '4': 606.0, '1': 339.0, '2': 430.0}, 'Meadowbank': {'3': 729.0, '4': 905.0, '1': 372.0, '2': 482.0}, 'Mission Bay/Orakei': {'3': 777.0, '4': 933.0, '1': 398.0, '2': 552.0}, 'Glendhu/Glenfield': {'3': 561.0, '4': 640.0, '1': 319.0, '2': 450.0}, 'Pakuranga': {'3': 539.0, '4': 607.0, '1': None, '2': 445.0}, 'Glen Innes/Pt England/Wai O Taiki': {'3': 568.0, '4': 665.0, '1': None, '2': 395.0}, 'Weymouth': {'3': 497.0, '4': 575.0, '1': None, '2': None}, 'Newton/Grafton': {'3': 615.0, '4': None, '1': 329.0, '2': 563.0}, 'Central East': {'3': 554.0, '4': None, '1': 389.0, '2': 533.0}, 'Mangere': {'3': 495.0, '4': 604.0, '1': None, '2': 410.0}, 'Wairau Park/Glenfield North': {'3': 562.0, '4': 633.0, '1': None, '2': 443.0}, 'Wellsford/Warkworth/Helensville': {'3': 491.0, '4': 548.0, '1': 275.0, '2': 413.0}, 'Gulf Harbour': {'3': 536.0, '4': 621.0, '1': None, '2': 398.0}, 'St Lukes/Sandringham': {'3': 642.0, '4': 751.0, '1': 384.0, '2': 484.0}, 'Te Atatu Peninsula': {'3': 540.0, '4': 654.0, '1': None, '2': 457.0}, 'Howick': {'3': 560.0, '4': 671.0, '1': None, '2': 481.0}, 'Herne Bay/St Marys': {'3': 951.0, '4': 1389.0, '1': 402.0, '2': 609.0}, 'Wattle Downs/Conifer Grove': {'3': 537.0, '4': 633.0, '1': None, '2': None}, 'Panmure': {'3': 540.0, '4': 712.0, '1': None, '2': 469.0}, 'Rural Franklin': {'3': 494.0, '4': 606.0, '1': None, '2': 416.0}, 'Papatoetoe West': {'3': 515.0, '4': 595.0, '1': None, '2': 392.0}, 'Highland Park': {'3': 561.0, '4': 658.0, '1': None, '2': 455.0}, 'Mt Wellington': {'3': 590.0, '4': None, '1': 367.0, '2': 461.0}, 'New Lynn': {'3': 524.0, '4': 618.0, '1': 358.0, '2': 429.0}, 'Mt Albert/Owairaka': {'3': 621.0, '4': 846.0, '1': 275.0, '2': 449.0}, 'Royal Oak/One Tree Hill': {'3': 685.0, '4': 799.0, '1': 381.0, '2': 501.0}, 'Botony Downs': {'3': 589.0, '4': 712.0, '1': None, '2': None}, 'Bucklands Beach': {'3': 648.0, '4': 767.0, '1': None, '2': 508.0}, 'North Harbour/Pine Hill': {'3': 631.0, '4': 763.0, '1': 249.0, '2': 485.0}, 'Waterview/Avondale Heights': {'3': 530.0, '4': 687.0, '1': 259.0, '2': 451.0}, 'Ellerslie': {'3': 637.0, '4': 745.0, '1': 407.0, '2': 484.0}, 'St Johns': {'3': 656.0, '4': 818.0, '1': 389.0, '2': 505.0}, 'Western Springs/Morningside': {'3': 616.0, '4': 834.0, '1': 323.0, '2': 476.0}, 'Newmarket': {'3': 761.0, '4': None, '1': 419.0, '2': 574.0}, 'Mangere Bridge/Airport': {'3': 550.0, '4': 663.0, '1': 339.0, '2': 445.0}, 'Manukau Heights and Manurewa Heights': {'3': 574.0, '4': 653.0, '1': None, '2': 449.0}, 'East Coast Bays': {'3': 714.0, '4': 866.0, '1': None, '2': 538.0}, 'Browns Bay': {'3': 600.0, '4': 725.0, '1': 439.0, '2': 487.0}, 'Mt Roskill/Wesley': {'3': 579.0, '4': None, '1': None, '2': 513.0}, 'Eden Terrace': {'3': 683.0, '4': None, '1': 407.0, '2': 560.0}, 'Three Kings': {'3': 611.0, '4': 722.0, '1': None, '2': 486.0}, 'Remuera South/Meadowbank South': {'3': 712.0, '4': 835.0, '1': 362.0, '2': 508.0}, 'Blockhouse Bay/New Windsor': {'3': 562.0, '4': 654.0, '1': None, '2': 468.0}, 'Hillsborough': {'3': 581.0, '4': 703.0, '1': 361.0, '2': 485.0}, 'Kohimarama': {'3': 717.0, '4': 1082.0, '1': 504.0, '2': 635.0}, 'Takapuna': {'3': 734.0, '4': 875.0, '1': 473.0, '2': 595.0}, 'Manukau Central': {'3': 533.0, '4': None, '1': 337.0, '2': 459.0}, 'Te Atatu': {'3': 521.0, '4': 607.0, '1': None, '2': 413.0}, 'Balmoral': {'3': 684.0, '4': 893.0, '1': 400.0, '2': 490.0}, 'Hillcrest/Northcote': {'3': 598.0, '4': 735.0, '1': 430.0, '2': 466.0}, 'Sunnynook/Westlake': {'3': 605.0, '4': 724.0, '1': 398.0, '2': 508.0}, 'Avondale': {'3': 551.0, '4': 643.0, '1': 223.0, '2': 442.0}, 'Lynfield': {'3': 576.0, '4': 665.0, '1': None, '2': 476.0}, 'Maraetai/Clevedon': {'3': 593.0, '4': 679.0, '1': 383.0, '2': 443.0}, 'Albany': {'3': 600.0, '4': 726.0, '1': 256.0, '2': 479.0}, 'Pukekohe/Tuakau': {'3': 459.0, '4': 529.0, '1': 339.0, '2': 392.0}, 'Western Beaches/Rural': {'3': 521.0, '4': 622.0, '1': None, '2': 460.0}, 'Mangere East': {'3': 516.0, '4': 551.0, '1': 295.0, '2': 401.0}, 'Orewa/Whangaparaoa': {'3': 552.0, '4': 689.0, '1': 372.0, '2': 467.0}, 'Takanini/Ardmore': {'3': 506.0, '4': 605.0, '1': 378.0, '2': None}, 'St Helliers/Glendowie': {'3': 737.0, '4': 984.0, '1': None, '2': 537.0}, 'Ranui': {'3': 473.0, '4': 490.0, '1': None, '2': 426.0}, 'Pt Chevalier': {'3': 701.0, '4': None, '1': 254.0, '2': None}, 'Dannemora': {'3': 615.0, '4': 697.0, '1': 415.0, '2': 500.0}, 'Onehunga/Oranga/Te Papapa': {'3': 611.0, '4': 686.0, '1': 298.0, '2': 478.0}, 'Parnell': {'3': 922.0, '4': None, '1': 476.0, '2': 653.0}, 'Westmere/Surrey Crescent': {'3': 792.0, '4': 847.0, '1': 268.0, '2': 648.0}, 'Kelston': {'3': 512.0, '4': 604.0, '1': 316.0, '2': 349.0}, 'Papatoetoe North': {'3': 539.0, '4': 504.0, '1': 233.0, '2': 428.0}, 'Mt Eden': {'3': 727.0, '4': 951.0, '1': 379.0, '2': 524.0}, 'West Harbour': {'3': 580.0, '4': 684.0, '1': None, '2': 531.0}, 'Epsom': {'3': 771.0, '4': 1026.0, '1': 282.0, '2': 547.0}, 'Penrose/Mt Wellington South': {'3': 559.0, '4': 655.0, '1': 272.0, '2': 439.0}, 'Waiuku': {'3': 468.0, '4': 504.0, '1': None, '2': 349.0}, 'Devonport': {'3': 762.0, '4': None, '1': 446.0, '2': 532.0}, 'Otara': {'3': 497.0, '4': None, '1': 205.0, '2': 465.0}}
** canterbury
 {'Sockburn/Upper Riccarton': {'3': 431.0, '4': 515.0, '1': 183.0, '2': 343.0}, 'Marshland/Redwood': {'3': 408.0, '4': 518.0, '1': None, '2': None}, 'Sawyers Arms/Northcote/Belfast': {'3': 418.0, '4': 508.0, '1': 153.0, '2': 360.0}, 'Redcliffs/Sumner': {'3': 464.0, '4': 509.0, '1': 256.0, '2': 402.0}, 'St Albans North/ Mairehau': {'3': 439.0, '4': 482.0, '1': 183.0, '2': 336.0}, 'Rural Timaru/Temuka/Geraldine': {'3': 317.0, '4': 370.0, '1': None, '2': None}, 'Addington': {'3': 410.0, '4': 446.0, '1': 209.0, '2': 325.0}, 'St Albans East/Edgeware': {'3': 430.0, '4': 493.0, '1': 210.0, '2': 324.0}, 'Timaru Township': {'3': 338.0, '4': 387.0, '1': 188.0, '2': 253.0}, 'Fendalton/Strowan/Bryndwr': {'3': 464.0, '4': 602.0, '1': 298.0, '2': 399.0}, 'Spreydon/Somerfield': {'3': 417.0, '4': 446.0, '1': 196.0, '2': 344.0}, 'Halswell/Wigram': {'3': 465.0, '4': 532.0, '1': 190.0, '2': 360.0}, 'Horby/Islington/Hei Hei': {'3': 409.0, '4': 458.0, '1': 180.0, '2': 324.0}, 'Linwood/Phillipstown': {'3': 379.0, '4': 406.0, '1': 202.0, '2': 299.0}, 'Burwood/Dallington/Avondale': {'3': 396.0, '4': None, '1': None, '2': 384.0}, 'Waitaki': {'3': 296.0, '4': None, '1': 198.0, '2': 256.0}, 'Richmond/Shirley': {'3': 404.0, '4': 397.0, '1': None, '2': 326.0}, 'Richmond/Avonside': {'3': 398.0, '4': None, '1': 138.0, '2': 321.0}, 'Banks Peninsula/Selwyn': {'3': 419.0, '4': 509.0, '1': None, '2': 372.0}, 'Rural Waimakariri': {'3': 412.0, '4': 456.0, '1': None, '2': 335.0}, 'Christchurch Central/Hagley': {'3': 378.0, '4': None, '1': 296.0, '2': 380.0}, 'Rangiora/Kaiapoi': {'3': 396.0, '4': 456.0, '1': None, '2': 331.0}, 'Burnside/Harewood': {'3': 433.0, '4': 509.0, '1': None, '2': None}, 'Ilam/Westburn': {'3': 444.0, '4': 524.0, '1': 162.0, '2': 377.0}, 'Hillmorton/Hoon Hay': {'3': 416.0, '4': None, '1': None, '2': None}, 'North Beach/New Brighton/Southshore': {'3': 381.0, '4': 454.0, '1': 139.0, '2': 319.0}, 'Bishopdale/Papanui': {'3': 422.0, '4': 469.0, '1': 173.0, '2': 359.0}, 'Woolston/Opawa': {'3': 364.0, '4': 466.0, '1': 120.0, '2': 325.0}, 'Sydenham/Waltham': {'3': 388.0, '4': 490.0, '1': 207.0, '2': 321.0}, 'Kaikoura/Hurunui': {'3': 375.0, '4': None, '1': None, '2': None}, 'MacKenzie/Waimate': {'3': 278.0, '4': None, '1': 155.0, '2': 229.0}, 'Westmorland/Cashmere/Barrington': {'3': 469.0, '4': 599.0, '1': None, '2': 366.0}, 'Riccarton': {'3': 430.0, '4': 504.0, '1': 209.0, '2': 351.0}, 'Avonhead/Yaldhurst': {'3': 446.0, '4': 474.0, '1': 195.0, '2': 377.0}, 'St Martins/Beckenham/Huntsbury': {'3': 441.0, '4': 480.0, '1': None, '2': 355.0}, 'Aranui/Bromley/Bexley': {'3': 366.0, '4': None, '1': None, '2': 265.0}, 'Ashburton': {'3': 333.0, '4': 362.0, '1': None, '2': 285.0}, 'Styx/Parklands': {'3': 411.0, '4': 512.0, '1': None, '2': None}, 'Avon Loop/Christchurch East': {'3': 431.0, '4': None, '1': 256.0, '2': 364.0}, 'Merivale/St Albans West': {'3': 468.0, '4': 634.0, '1': 259.0, '2': 354.0}}

** wellington
 {'Taita/Naenae': {'3': 427.0, '4': None, '1': 223.0, '2': 336.0}, 'Kilbirnie/Lyall Bay': {'3': 583.0, '4': None, '1': 322.0, '2': 457.0}, 'Karori': {'3': 591.0, '4': 842.0, '1': 312.0, '2': 416.0}, 'Totara Park/Maoribank/Te Marua': {'3': 452.0, '4': None, '1': None, '2': 269.0}, 'Hutt Central/Waterloo': {'3': 544.0, '4': 666.0, '1': 247.0, '2': 428.0}, 'Paraparaumu/Raumati': {'3': 440.0, '4': 539.0, '1': 191.0, '2': 364.0}, 'Moera/Waiwhetu': {'3': 497.0, '4': 573.0, '1': None, '2': None}, 'Titahi Bay/Onepoto/Elsdon': {'3': 431.0, '4': None, '1': 237.0, '2': 397.0}, 'Paramata/Mana/Pukerua Bay': {'3': 522.0, '4': 605.0, '1': 293.0, '2': 354.0}, 'Waikanae/Otaki': {'3': 408.0, '4': 423.0, '1': None, '2': 348.0}, 'Western Hills/Haywards': {'3': 507.0, '4': 594.0, '1': 215.0, '2': 414.0}, 'Mt Victoria/Roseneath': {'3': 670.0, '4': 784.0, '1': 331.0, '2': 540.0}, 'Northland': {'3': 628.0, '4': 585.0, '1': 334.0, '2': 479.0}, 'Petone/Esplanade': {'3': 537.0, '4': 672.0, '1': 254.0, '2': 424.0}, 'Eastern Bays': {'3': 521.0, '4': 717.0, '1': None, '2': 422.0}, 'Lambton': {'3': 675.0, '4': 827.0, '1': 311.0, '2': 536.0}, 'Johnsonville/Newlands': {'3': 537.0, '4': 706.0, '1': 191.0, '2': 427.0}, 'Carterton/South Wairarapa': {'3': 359.0, '4': None, '1': 157.0, '2': 287.0}, 'Epuni/Avalon': {'3': 488.0, '4': 675.0, '1': 170.0, '2': 390.0}, 'Brooklyn': {'3': 635.0, '4': 724.0, '1': 297.0, '2': 497.0}, 'Te Aro': {'3': 698.0, '4': 892.0, '1': 374.0, '2': 554.0}, 'Porirua East/Waitangirua': {'3': 355.0, '4': 441.0, '1': None, '2': 328.0}, 'Trentham North/Wallaceville': {'3': 456.0, '4': None, '1': None, '2': 315.0}, 'Wadestown/Thordon': {'3': 677.0, '4': 883.0, '1': 339.0, '2': 538.0}, 'Khandallah': {'3': 599.0, '4': 834.0, '1': 324.0, '2': 459.0}, 'Heretaunga/Silverstream': {'3': 488.0, '4': 638.0, '1': None, '2': 290.0}, 'Masterton': {'3': 317.0, '4': 375.0, '1': 189.0, '2': 273.0}, 'Miramar/Strathmore': {'3': 593.0, '4': None, '1': 376.0, '2': 410.0}, 'Trentham West/Eldersley/Clouston Park': {'3': 455.0, '4': None, '1': 155.0, '2': 303.0}, 'Oriental Bay/Seatoun': {'3': 684.0, '4': None, '1': 381.0, '2': 633.0}, 'Kingston/Happy Valley': {'3': 574.0, '4': None, '1': 290.0, '2': 429.0}, 'Petone West/Alicetown': {'3': 548.0, '4': None, '1': None, '2': 399.0}, 'Tawa/Grenada North': {'3': 510.0, '4': 573.0, '1': None, '2': 371.0}, 'Kelburn/Aro Valley': {'3': 657.0, '4': 856.0, '1': 324.0, '2': 485.0}, 'Papakowhai/Whitby/Pauatahanui': {'3': 514.0, '4': 668.0, '1': None, '2': None}, 'Wainuiomata': {'3': 381.0, '4': None, '1': None, '2': None}, 'Hataitai': {'3': 662.0, '4': 743.0, '1': 301.0, '2': 457.0}, 'Ngaio/Kaiwharawhara/Wilton': {'3': 550.0, '4': 710.0, '1': 323.0, '2': 421.0}, 'Stokes Valley': {'3': 441.0, '4': None, '1': None, '2': None}, 'Vogeltown/Berhampore/Newtown': {'3': 618.0, '4': 776.0, '1': 297.0, '2': 455.0}, 'Karori South/Makara': {'3': 562.0, '4': 675.0, '1': 186.0, '2': 435.0}, 'Island Bay/Melrose': {'3': 624.0, '4': 560.0, '1': 224.0, '2': 470.0}, 'Mt Cook': {'3': 627.0, '4': 719.0, '1': 244.0, '2': 521.0}}